{% block content %}
<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">Add Emergency Contact</h3>
    </div>
    <div class="panel-body">
        <form id="emergency_contact" class="form-horizontal" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label class="col-xs-2 control-label">Logo</label>
                <div class="col-xs-4">
                    <span class="btn btn-default btn-file">
                             <span id="label">Browse Image File</span> <input type="file" id="file" name="image" accept="image/*">
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="control-label col-xs-2">Name</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control" id="name" placeholder="Name" name="contact_name" required>
                </div>
            </div>
            <div id="contact-rows">
                <div class="form-group" id="contact-row">
                    <label for="contact" class="control-label col-xs-2">Contact No</label>
                    <div class="col-xs-3 contact-select">
                        <input type="number" class="form-control" id="contact" name="contact_no[]" placeholder="Contact No." required>
                    </div>
                    <div class="col-xs-2 add-more-button">
                        <button type="button" class="btn btn-default add-contact">
                            <i class="fa fa-plus"></i>
                        </button>
                        <button type="button" class="btn btn-default remove-contact">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-offset-2 col-xs-4">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block css_def %}
{% endblock %}
{% block js_def %}
{% endblock %}
{% block js_exec %}
<script type="text/javascript">
$(document).ready(function() {
    $(document).on("click",".add-contact",function() {
        var cloned = $("#contact-row").clone();
        cloned.find("label").text("");
        cloned.find("input[type=number]").val("");
        cloned.find(".remove-contact").on("click",function() {
            cloned.remove();
        });
        cloned.appendTo("#contact-rows");
    });


    $("#file").on("change",function() {
        $("#label").text("File to upload: " + $(this).val().split('\\\\').pop());
    });

    $("#emergency_contact").validate({
        rules: {
            contact_name: {
                required: true
            },
            contact_no: {
                required: true,
                digits: true
            }
        }, errorPlacement: function(error,element) {
            error.insertAfter(element.parent());
        }, submitHandler:function(form) {
            $('button[type="submit"]').attr("disabled", "disabled");
            var data = (window.FormData) ? new FormData($(form)[0]) : $(form).serialize();
            $.ajax({
                url:"{{base_url}}/backoffice/hotline/add",
                data:data,
                cache:false,
                contentType:false,
                processData:false,
                type:"POST",
                success:function(response) {
                    var data = JSON.parse(response);
                    if (data.response_code == 0) {
                        BootstrapDialog.show({
                            message:data.response_msg,
                            buttons: [{
                                label: 'Close',
                                action: function(dialog) {
                                    dialog.close();
                                    window.location = "{{base_url}}/backoffice/hotline";
                                }                            
                            }]
                        });

                    } else {
                        BootstrapDialog.show({
                            message:data.response_msg,
                            buttons: [{
                                label: 'Close',
                                action: function(dialog) {
                                    $('button[type="submit"]').removeAttr("disabled");
                                    dialog.close();
                                }                            
                            }]
                        });
                    }
                    return false;
                }
            });
        }
    });
});
</script>
{% endblock %}