<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{title}}</title>
    {% block css_def %}{% endblock %}
</head>
<body>
{% block content %}{% endblock %}
{% block js_def %}{% endblock %}
{% block js_exec %}{% endblock %}
</body>

</html>