{% block content %}
<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">GCash Account Registration</h3>
    </div>
    <div class="panel-body">
        <form id="gcash-donate" class="form-horizontal" method="post">
            <div class="form-group">
                <label for="company" class="control-label col-xs-2">Company</label>
                <div class="col-xs-4">
                    <select class="form-control input-sm" id="company" name="company_id" required>
                        {{company_list}}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="department" class="control-label col-xs-2">Department</label>
                <div class="col-xs-4">
                    <select class="form-control input-sm" id="department" name="department_id" required>
                        {{department_list}}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="employee" class="control-label col-xs-2">Employee</label>
                <div class="col-xs-4">
                    <select class="form-control input-sm" id="employee" name="employee_id" required>
                        <option value="0">Select Employees</option>
                        {{employee_list}}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="mobile_no" class="control-label col-xs-2">GCash Mobile Number</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control input-sm" id="mobile_no" name="mobile_no" placeholder="Mobile Number" maxlength="12" required>
                    <input type="checkbox" id="current" name="current"> Current Mobile Number
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-offset-2 col-xs-4">
                    <div class="pull-right">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block css_def %}
{% endblock %}
{% block js_def %}
<script src="{{base_url}}/assets/js/donate/gcash-add.js"></script>
{% endblock %}
{% block js_exec %}
{% endblock %}