{% block content %}
<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">GCash Account List</h3>
    </div>
    <div class="panel-body">
        <div id="toolbar">
            <div class="form-inline">
                <div class="form-group">
                    <button type="button" class="btn btn-info btn-action btn-donate-home"><i class="fa fa-cubes"></i> <span></span></button>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-info btn-action btn-gcash-add"><i class="fa fa-plus"></i> <span>Add GCash Account</span></button>
                </div>
            </div>
        </div>

        <table id="table"
                data-toggle="table"
                data-toolbar="#toolbar"
                data-url="{{base_url}}/backoffice/gcash/list/data"
                data-search="true"
                data-show-refresh="true"
                data-sort-name="id"
                data-page-list="[5, 10, 20]"
                data-page-size="5"
                data-method="post"
                data-pagination="true"
                data-side-pagination="server"
                data-striped="true"
                data-query-params="postQueryParams">
                <thead>
                    <tr>
                        <th data-field="id">ID</th>
                        <th data-field="full_name">Employee</th>
                        <th data-field="company">Company</th>
                        <th data-field="mobile_no">Mobile Number</th>
                        <th data-field="created">Date Created</th>
                        <th data-field="operate" data-formatter="operateFormatter" data-align="center" data-valign="middle" data-events="operateEvents">Action</th>
                    </tr>
                </thead>
        </table>

    </div>
</div>
{% endblock %}
{% block css_def %}
{% endblock %}
{% block js_def %}
<script src="{{base_url}}/assets/js/donate/gcash-list.js"></script>
{% endblock %}
{% block js_exec %}
{% endblock %}