{% block content %}
<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">Add Company</h3>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" method="POST" id="company_form">
            <div class="form-group">
                <label for="company_name" class="control-label col-xs-2">Company Name</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control" id="company_name" placeholder="Company Name" name="company_name" required>
                </div>
            </div>
            <div class="form-group">
                <label for="address" class="control-label col-xs-2">Address</label>
                <div class="col-xs-4">
                    <textarea class="form-control" id="address" name="company_address" placeholder="Address" required></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="contact_no" class="control-label col-xs-2">Contact no</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control" id="contact_no" placeholder="Contact no" name="company_contact_no">
                </div>
            </div>
            <hr>
            <div id="department-rows">
                <div class="form-group" id="department-row">
                    <label for="department" class="control-label col-xs-2">Department</label>
                    <div class="col-xs-3">
                        <input type="text" class="form-control" id="department" name="department[]" placeholder="Department name" required>
                    </div>
                    <div class="col-xs-2 add-more-button">
                        <button type="button" class="btn btn-default add-department">
                            <i class="fa fa-plus"></i>
                        </button>
                        <button type="button" class="btn btn-default remove-department">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div id="site-rows">
                <div class="form-group" id="site-row">
                    <label for="site" class="control-label col-xs-2">Site</label>
                    <div class="col-xs-3">
                        <input type="text" class="form-control" id="site" name="site[]" placeholder="Site name" required>
                    </div>
                    <div class="col-xs-2 add-more-button">
                        <button type="button" class="btn btn-default add-site">
                            <i class="fa fa-plus"></i>
                        </button>
                        <button type="button" class="btn btn-default remove-site">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
            </div>
           <div class="form-group">
                <div class="col-xs-offset-5 col-xs-2">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>    
</div>
{% endblock %}
{% block css_def %}
{% endblock %}
{% block js_def %}
{% endblock %}
{% block js_exec %}
<script type="text/javascript">
$(document).ready(function() {
    var row_index = 1;
    $(document).on("click",".add-department",function() {
        var cloned = $("#department-row").clone();
        cloned.find("label").text("");
        cloned.find("input[id=\"department\"]").val("");
        cloned.find("input[id=\"department_id\"]").val("");
        cloned.find(".remove-department").on("click",function() {
            cloned.remove();
        });
        cloned.appendTo("#department-rows");
    });

    $(document).on("click",".add-site",function() {
        var cloned = $("#site-row").clone();
        cloned.find("label").text("");
        cloned.find("input[id=\"site\"]").val("");
        cloned.find("input[id=\"site_id\"]").val("");
        cloned.find(".remove-site").on("click", function() {
            cloned.remove();
        });
        cloned.appendTo("#site-rows");
    });
});

$( "#company_form" ).validate({
    rules: {
        company_contact_no: {
            required: true,
            number: true
        }
    }
});
</script>
{% endblock %}