{% block content %}
<!--<h3>Edit Company</h3>-->
<div class="panel-body">
    <form class="form-horizontal" method="POST" id="company_form">
        <div class="form-group">
            <label for="company_name" class="control-label col-xs-2">Company Name</label>
            <div class="col-xs-4">
                <input type="text" class="form-control" id="company_name" placeholder="Company Name" name="company_name" value="{{company_name}}" required>
            </div>
        </div>
        <div class="form-group">
            <label for="address" class="control-label col-xs-2">Address</label>
            <div class="col-xs-4">
                <textarea class="form-control" id="address" name="company_address" required>{{company_address}}</textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="contact_no" class="control-label col-xs-2">Contact no</label>
            <div class="col-xs-4">
                <input type="text" class="form-control" id="contact_no" name="company_contact_no" value="{{company_contact_no}}">
            </div>
        </div>
        <hr>
        <div id="department-rows">
            <div class="form-group" id="department-row">
                <label for="department" class="control-label col-xs-2">Department</label>
                <!--<div class="col-xs-3 department-select">
                    <!--<select class="form-control" id="department" name="department[]">-->
                        <!--{{department_list}}-->
                    <!--</select>-->
                <!--</div>-->
                <div class="col-xs-3">
                    <input type="text" class="form-control" id="department" name="department[]" placeholder="Department name">
                    <input type="hidden" class="form-control" id="department_id" name="department_id[]">
                </div>
                <div class="col-xs-2 add-more-button">
                    <button type="button" class="btn btn-default add-department">
                        <i class="fa fa-plus"></i>
                    </button>
                    <button type="button" class="btn btn-default remove-department">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
        </div>
        <div id="site-rows">
            <div class="form-group" id="site-row">
                <label for="site" class="control-label col-xs-2">Site</label>
                <div class="col-xs-3 ">
                    <input type="text" class="form-control" id="site" name="site[]" placeholder="Site name" required>
                </div>
                <div class="col-xs-2 add-more-button">
                    <button type="button" class="btn btn-default add-site">
                        <i class="fa fa-plus"></i>
                    </button>
                    <button type="button" class="btn btn-default remove-site">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-offset-5 col-xs-2">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
{% block css_def %}
{% endblock %}
{% block js_def %}
{% endblock %}
{% block js_exec %}
<script type="text/javascript">
$(document).ready(function() {
    var department_data = [{{department_data}}];
    var sites_data = [{{site_data}}];

    $(document).on("click",".add-department",function() {
        var cloned = $("#department-row").clone();
        cloned.find("label").text("");
        cloned.find("input[id=\"department\"]").val("");
        cloned.find("input[id=\"department_id\"]").val("");
        //cloned.find(".remove-department").on("click",function() {
        //    cloned.remove();
        //});
        cloned.appendTo("#department-rows");
    });

    $(document).on("click",".remove-department",function(){
        var cloned = $(this).parent().parent();
        var label = $(cloned).children("label").text();
        var department_name = $(cloned).children("input[id='department']").val();
        if (label == "") {
            BootstrapDialog.show({
                title: 'Confirm',
                message:"Are you sure you want to delete this item?",
                buttons:[{
                    label:"Yes",
                    closable: false,
                    action:function(dialog) {
                        dialog.close();

                        BootstrapDialog.show({
                            title: 'Cofirm',
                            closable: false,
                            message: "All employees under this department will be transferred to the main department. ",
                            buttons: [{
                                label:"Proceed",
                                action:function(dialog) {
                                    cloned.remove();
                                    dialog.close();
                                }
                            },{
                                label:"Cancel",
                                action:function(dialog) {
                                    dialog.close();
                                }
                            }]
                        });
                    }
                },{
                    label:"Cancel",
                    action:function(dialog) {
                        dialog.close();
                    }
                }]
            });
        }
    });

    $(document).on("click", ".remove-site", function(){
        var cloned = $(this).parent().parent();
        var label = $(cloned).children("label").text();
        var site_name = $(cloned).children("input[id='site']").text();
        if(label == "") {
            BootstrapDialog.show({
                title: 'Confirm',
                message:"Are you sure you want to delete this item?",
                closable: false,
                buttons:[{
                    label:"Yes",
                    action:function(dialog) {
                        dialog.close();

                        BootstrapDialog.show({
                            title: 'Cofirm',
                            message: "All employees under this site will be transferred to the main site.",
                            buttons: [{
                                label:"Proceed",
                                action:function(dialog) {
                                    cloned.remove();
                                    dialog.close();
                                }
                            },{
                                label:"Cancel",
                                action:function(dialog) {
                                    dialog.close();
                                }
                            }]
                        });
                    }
                },{
                    label:"Cancel",
                    action:function(dialog) {
                        dialog.close();
                    }
                }]
            });
        } else {
            BootstrapDialog.show({
                title: 'Message',
                message: "A company should have at least one site.",
                closable: false,
                buttons: [{
                    label:"Okay",
                    action:function(dialog) {
                        dialog.close();
                    }
                }]
            });
        }
    });

    $(document).on("click",".add-site",function() {
        var cloned = $("#site-row").clone();
        cloned.find("label").text("");
        cloned.find("input[id=\"site\"]").val("");
        cloned.find("input[id=\"site_id\"]").val("");
//        cloned.find(".remove-site").on("click",function() {
//            cloned.remove();
//        });
        cloned.appendTo("#site-rows");
    });

     $.each(department_data,function(index,data) {
        if(parseInt(index) > 0) {
            var cloned = $("#department-row").clone();
            cloned.find("label").text("");
            //cloned.find(".remove-department").on("click",function() {
            //    cloned.remove();
            //});
            cloned.find("input[id=\"department\"]").val(data.department_name);
            cloned.find("input[id=\"department_id\"]").val(data.department_id);
            cloned.appendTo("#department-rows");
        } else {
            $("input[id='department']").val(data.department_name);
            $("input[id='department_id']").val(data.department_id);
        }
     });

    $.each(sites_data, function(index,data) {

        if(parseInt(index) > 0) {
            var cloned = $("#site-row").clone();
            cloned.find("label").text("");
//            cloned.find(".remove-site").on("click",function() {
//                cloned.remove();
//            });

            cloned.find("input[id=\"site\"]").val("");
            cloned.find("input[id=\"site_id\"]").val("");
            cloned.find("input[id='site']").val(data.site);
            cloned.appendTo("#site-rows");
        } else {
            $("input[id='site']").val(data.site);
        }
    });
});

$( "#company_form" ).validate({
    rules: {
        company_contact_no: {
            required: true,
            number: true
        }
    }
});
</script>
{% endblock %}