{% block content %}
<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">Company List</h3>
    </div>
    <div class="panel-body">
        <div id="toolbar">
            <div class="form-inline">
                <div class="form-group">
                    <button type="button" class="btn btn-info btn-action btn-add-company"><i class="fa fa-plus"></i> <span>Add Company</span></button>
                </div>
                <!--<div class="form-group">-->
                    <!--<button type="button" class="btn btn-info btn-action btn-add-department"><i class="fa fa-plus"></i> <span>Add Department</span></button>-->
                <!--</div>-->
                <div class="form-group">
                    <button type="button" class="btn btn-info btn-action btn-bulk-upload"><i class="fa fa-download"></i> <span>Bulk Upload</span></button>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-info btn-action btn-export"><i class="fa fa-upload"></i> <span>Export</span></button>
                </div>
            </div>
        </div>
        <table id="table" 
            data-toggle="table"
            data-toolbar="#toolbar"
            data-search="true"
            data-show-refresh="true"
            data-sort-name="id"
            data-page-list="[5, 10, 20]"
            data-page-size="5"
            data-pagination="true"
            data-side-pagination="server"
            data-striped="true"
            data-url="{{base_url}}/backoffice/company/list/data"
            data-method="post"
            data-query-params="postQueryParams">
            <thead>
                <tr>
                    <th data-field="id">ID</th>
                    <th data-field="company_name">Name</th>
                    <th data-field="company_address">Address</th>
                    <th data-field="company_contact_no">Contact No.</th>
                    <th data-field="operate" data-formatter="operateFormatter" data-align="center" data-valign="middle" data-events="operateEvents">Action</th>
                </tr>
            </thead>
        </table>    
    </div>
</div>
{% endblock %}
{% block css_def %}
{% endblock %}
{% block js_def %}
{% endblock %}
{% block js_exec %}
<script>
function operateFormatter(value, row, index) {
    return [
            // '<a class="btn btn-default action-button-item view" href="javascript:void(0)" title="View"><i class="fa fa-folder"></i></a>',
            '<a class="btn btn-default action-button-item edit" href="javascript:void(0)" title="Edit"><i class="fa fa-edit"></i></a>',
            '<a class="btn btn-default action-button-item delete" href="javascript:void(0)" title="Delete"><i class="fa fa-trash"></i></a>'
        ].join('');
}

window.operateEvents = {
    'click .view': function(e, value, row, index) {
        redirectTo("{{base_url}}/backoffice/company/view/"+row.id);
    },
    'click .edit': function (e, value, row, index) {
        redirectTo("{{base_url}}/backoffice/company/edit/"+row.id);
    },
    'click .delete': function (e, value, row, index) {
        deleteConfirm("{{base_url}}/backoffice/company/delete/",row.id);
    }
};

function redirectTo(url) {
    window.location = url;
}

function postQueryParams(params) {
    return JSON.stringify(params);
}

var $table = $('#table');

$(function() {
    $table.on('load-success.bs.table',function(e,data) {
        $table.bootstrapTable('hideLoading');
    })
    .on('load-error.bs.table',function(e,status) {
        $table.bootstrapTable('hideLoading');
    });
});

$(document).ready(function() {
    $(".btn-add-company").on('click',function() {
        redirectTo("{{base_url}}/backoffice/company/add");
    });

    $(".btn-add-department").on('click',function() {
        redirectTo("{{base_url}}/backoffice/department/add");
    });

    $(".btn-export").on('click',function() {
        redirectTo("{{base_url}}/backoffice/company/export");
    });

    $(".btn-bulk-upload").on('click',function() {
        redirectTo("{{base_url}}/backoffice/company/bulk");
    });                
});
</script>
{% endblock %}