{% block content %}
<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">Employee Registration</h3>
    </div>
    <div class="panel-body">
        <form id="registration" class="form-horizontal" method="post">
            <div class="form-group">
                <label for="first_name" class="control-label col-xs-2">First Name</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control input-sm" id="first_name" name="first_name" placeholder="First Name" maxlength="128" required>
                </div>
            </div>
            <div class="form-group">
                <label for="last_name" class="control-label col-xs-2">Last Name</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control input-sm" id="last_name" name="last_name" placeholder="Last Name" maxlength="128" required>
                </div>
            </div>
            <div class="form-group">
                <label for="middle_initial" class="control-label col-xs-2">Middle Initial</label>
                <div class="col-xs-2">
                    <input type="text" class="form-control input-sm" id="middle_initial" name="middle_initial" maxlength="3" placeholder="Middle Initial">
                </div>
            </div>
            <div class="form-group">
                <label for="position" class="control-label col-xs-2">Position</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control input-sm" id="position" name="position" placeholder="Position" maxlength="32">
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="control-label col-xs-2">E-mail</label>
                <div class="col-xs-4">
                    <input type="email" class="form-control input-sm" id="email" name="email" placeholder="E-mail" maxlength="80">
                </div>
            </div>
            <div class="form-group">
                <label for="mobile_no" class="control-label col-xs-2">Mobile No</label>
                <div class="col-xs-2">
                    <input type="text" class="form-control input-sm" id="mobile_no" name="mobile_no" placeholder="Mobile Number" maxlength="12">
                </div>
            </div>
            <div class="form-group">
                <label for="employee_no" class="control-label col-xs-2">Employee No.</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control input-sm" id="employee_no" name="employee_no" placeholder="Employee No." maxlength="16">
                </div>
            </div>
            <div class="form-group">
                <label for="gender" class="control-label col-xs-2">Gender</label>
                <div class="col-xs-4">
                    <select class="form-control input-sm" id="gender" name="gender">
                        <option value="">Select Gender</option>
                        <option value="M">Male</option>
                        <option value="F">Female</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="blood_type" class="control-label col-xs-2">Blood Type</label>
                <div class="col-xs-4">
                    <select class="form-control input-sm" id="blood_type" name="blood_type">
                        <option value="0">Select Blood Type</option>
                        {{blood_types}}
                    </select>
                </div>
            </div>                        
            <hr>
            <div class="form-group">
                <label for="address_street" class="control-label col-xs-2">Street Address</label>
                <div class="col-xs-4">
                    <textarea class="form-control input-sm" id="address_street" name="address_street" placeholder="Street Address" maxlength="128"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="address_line_2" class="control-label col-xs-2">Address Line 2</label>
                <div class="col-xs-4">
                    <textarea class="form-control input-sm" id="address_line_2" name="address_line_2" placeholder="Address Line 2" maxlength="128"></textarea>
                </div>
            </div>        
            <div class="form-group">
                <label for="address_city" class="control-label col-xs-2">City</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control input-sm" id="address_city" name="address_city" placeholder="City" maxlength="64">
                </div>
            </div>
            <div class="form-group">
                <label for="address_state" class="control-label col-xs-2">State / Province / Region</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control input-sm" id="address_state" name="address_state" placeholder="State / Province / Region" maxlength="64">
                </div>
            </div>
            <div class="form-group">
                <label for="address_zip_code" class="control-label col-xs-2">Zip Code / Postal Code</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control input-sm" id="address_zip_code" name="address_zip_code" placeholder="Zip Code / Postal Code" maxlength="16">
                </div>
            </div>
            <div class="form-group">
                <label for="address_country" class="control-label col-xs-2">Country</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control input-sm" id="address_country" name="address_country" placeholder="Country" maxlength="42">
                </div>
            </div>        
            <hr>
            <div class="form-group">
                <label for="is_supervisor" class="control-label col-xs-2">Is Supervisor</label>
                <div class="col-xs-4">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="is_supervisor" name="is_supervisor" value="true">
                        </label>
                    </div>
                </div>
            </div>            
            <div class="form-group">
                <label for="is_rescuer" class="control-label col-xs-2">Is Rescuer</label>
                <div class="col-xs-4">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="is_rescuer" name="is_rescuer" value="true">
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="company" class="control-label col-xs-2">Company</label>
                <div class="col-xs-4">
                    <select class="form-control input-sm" id="company" name="company_id" required>
                        {{company_list}}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="department" class="control-label col-xs-2">Department</label>
                <div class="col-xs-4">
                    <select class="form-control input-sm" id="department" name="department_id" required>
                        {{department_list}}
                    </select>
                </div>
            </div>
            <div class="form-group">
            <label for="site" class="control-label col-xs-2">Site</label>
            <div class="col-xs-4">
                <select class="form-control input-sm" id="site" name="site_id" required>
                    {{site_list}}
                </select>
            </div>
                <label id="site-error2" for="site">This field is required.</label>
        </div>

            <div class="form-group">
                <label for="supervisor" class="control-label col-xs-2">Immediate Supervisor</label>
                <div class="col-xs-4">
                    <select class="form-control input-sm" id="supervisor" name="supervisor_id">
                        <option value="">Select Immediate Supervisor</option>
                        {{supervisor_list}}
                    </select>
                </div>
            </div>            
            <div class="form-group">
                <div class="col-xs-offset-2 col-xs-4">
                    <div class="pull-right">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>    
{% endblock %}
{% block css_def %}
{% endblock %}
{% block js_def %}
{% endblock %}
{% block js_exec %}
<script>
var company_id = 0;
$(document).ready(function() {
    $("#site-error2").hide();
    $("#site").on("keyup", function(){
       if($("#site").val() == "") {
           $("#site-error2").show();
           $("#site-error2").val("");
           $("#site-error2").val("This field is required.");
       } else {
           $("#site-error2").hide();
       }
    });

    $("#registration").on("click", function(){
        if( $("#site").val() == "" ||  $("#site").val() == null) {
            $("#site-error2").show();
            $("#site-error2").val("");
            $("#site-error2").val("This field is required.");
            $("#site-error").removeAttr("style");
        } else {
            $("#site-error2").hide();
            //$("#site-error").addAttr("style","display: none");
        }
    });
    $("#registration").validate({
        rules: {
            first_name: {
                required: true
            },
            last_name: {
                required: true
            },
            middle_initial: {
                required: true
            },
            position: {
                required: true
            },
            email: {
                required: true,
                email: true
            },
            mobile_no: {
                required: true,
                digits: true
            },
            employee_no: {
                required: false
            },
            gender: {
                required: false
            },
            blood_type: {
                required: false
            },
            address_street: {
                required: false
            },
            address_line_2: {
                required: false
            },
            address_city: {
                required: false
            },
            address_state: {
                required: false
            },
            address_zip_code: {
                required: false,
                digits: true
            },
            address_country: {
                required: false
            },
            site_id: {
                required: false
            }
        }, errorPlacement: function(error,element) {
            error.insertAfter(element.parent());
        }, submitHandler:function(form) {
            if( $("#site").val() == "" ||  $("#site").val() == null) {
                $("#site-error2").val("");
                $("#site-error2").val("This field is required.");
                $("#site-error2").show();
                //$("#site-error").removeAttr("style");
            } else {
                $("#site-error2").hide();
                //$("#site-error").addAttr("style","display: none");
                //additional validation if mobile number is non-globe
                var globe = false;
                var mobile_no = $("#mobile_no").val();

                $.post(
                        "{{base_url}}/sms/prefixes/check-prefix",
                        {data:mobile_no},
                        function(data) {
                            //if(data.trim() == "ok") {

                                $('button[type="submit"]').attr("disabled", "disabled");
                                $.post("{{base_url}}/backoffice/whitelist/add",$(form).serialize(), function(response) {
                                    var data = JSON.parse(response);
                                    if (data.response_code == 0) {
                                        BootstrapDialog.show({
                                            title: 'Success',
                                            message:data.response_msg,
                                            buttons: [{
                                                label: 'Close',
                                                action: function(dialog) {
                                                    dialog.close();
                                                    window.location = "{{base_url}}/backoffice/whitelist";
                                                }
                                            }]
                                        });

                                    } else {
                                        $('button[type="submit"]').removeAttr("disabled");
                                        BootstrapDialog.show({
                                            title: 'Error',
                                            message:data.response_msg,
                                            buttons: [{
                                                label: 'Close',
                                                action: function(dialog) {
                                                    dialog.close();
                                                }
                                            }]
                                        });
                                    }
                                    return false;
                                });

                           /* } else {

                                BootstrapDialog.show({
                                    title: 'Submission of Form Failed',
                                    type: BootstrapDialog.TYPE_WARNING,
                                    message: '“Mobile number used should be Globe-issued. Please try again.',
                                    buttons: [
                                        {
                                            label: 'Okay',
                                            action: function(dialog) {
                                                dialog.close();
                                                $("#mobile_no").focus();
                                            }
                                        }]
                                });
                            }*/
                        });
            }

        }
    });

    $("#company").on("change",function() {
        company_id = $(this).val();
        var data = {
            company_id:company_id
        };
        var spinner = new Spinner().spin($("body")[0]);
        $.ajax({
            type: "POST",
            dataType: "json",
            url: "{{base_url}}/backoffice/whitelist/get-department",
            data: JSON.stringify(data),
            success: function(data,status,xhr) {
                if (data.response_code == 0) {
                    var body = "<option value=\"\">Select Department</option>";
                    $.each(data.data,function(index,item) {
                        body = body + "<option value=\"" + item.id + "\">" + item.department_name + "</option>";
                    });
                    $("#department").html(body);

                    get_supervisor(company_id);
                    get_sites(company_id);
                } else {
                    $("#department").html("<option value=\"\">Select Department</option>");

                    $("#supervisor").html("<option value=\"\">Select Immediate Supervisor</option>");
                }
                spinner.stop();
            },
            error: function(xhr,status,error) {
                console.log(error);
                spinner.stop();
            }
        });
    });

    function get_supervisor(company_id) {
        $.post("{{base_url}}/backoffice/whitelist/get-supervisors",JSON.stringify({
                company_id:company_id
            }),function(data) {
                if (data.response_code == 0) {
                    var body = "<option value=\"\">Select Immediate Supervisor</option>";
                    $.each(data.data,function(index,item) {
                        body = body + "<option value=\"" + item.id + "\">" + item.full_name + "</option>";
                    });

                    $("#supervisor").html(body);
                } else {
                    $("#supervisor").html("<option value=\"\">Select Immediate Supervisor</option>");
                }
        });
    }

    function get_sites(company_id) {
        $.post("{{base_url}}/backoffice/whitelist/get-sites", JSON.stringify({
            company_id: company_id
        }), function(data){
            if(data.response_code == 0) {
                var body = "<option value=\"\">Select Site</option>";
                $.each(data.data,function(index,item) {
                    body = body + "<option value=\"" + item.id + "\">" + item.site + "</option>";
                });

                $("#site").html(body);
            } else {
                $("#site").html("<option value=\"\">Select Site</option>");
            }
        });
    }
});
</script>
{% endblock %}