{% block content %}
<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">Employee Information</h3>
    </div>
    <div class="panel-body">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="photo" class="control-label col-xs-2">Photo</label>
                <div class="col-xs-4">
                    <img id="user-photo" src="{{img_path}}" class="photo-preview">
                </div>
            </div>        
            <div class="form-group">
                <label for="id" class="control-label col-xs-2">ID</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control input-sm" id="id" placeholder="ID" value="{{id}}" disabled>
                </div>
            </div>    
            <div class="form-group">
                <label for="first_name" class="control-label col-xs-2">First Name</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control input-sm" id="first_name" placeholder="First Name" value="{{first_name}}" disabled>
                </div>
            </div>
            <div class="form-group">
                <label for="last_name" class="control-label col-xs-2">Last Name</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control input-sm" id="last_name" placeholder="Last Name" value="{{last_name}}" disabled>
                </div>
            </div>
            <div class="form-group">
                <label for="middle_initial" class="control-label col-xs-2">Middle Initial</label>
                <div class="col-xs-2">
                    <input type="text" class="form-control input-sm" id="middle_initial" placeholder="Middle Initial" value="{{middle_initial}}" disabled>
                </div>
            </div>
            <div class="form-group">
                <label for="position" class="control-label col-xs-2">Position</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control input-sm" id="position" placeholder="Position" value="{{position}}" disabled>
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="control-label col-xs-2">E-mail</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control input-sm" id="email" placeholder="E-mail" value="{{email}}" disabled>
                </div>
            </div>
            <div class="form-group">
                <label for="mobile_no" class="control-label col-xs-2">Mobile No</label>
                <div class="col-xs-2">
                    <input type="text" class="form-control input-sm" id="mobile_no" placeholder="Mobile Number" value="{{mobile_no}}" disabled>
                </div>
            </div>
            <div class="form-group">
                <label for="employee_no" class="control-label col-xs-2">Employee No.</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control input-sm" id="employee_no" placeholder="Employee No." value="{{employee_no}}" disabled>
                </div>
            </div>
            <div class="form-group">
                <label for="gender" class="control-label col-xs-2">Gender</label>
                <div class="col-xs-4">
                    <input class="form-control input-sm" id="gender" name="gender" placeholer="Gender" value="{{gender}}" disabled>
                </div>
            </div>
            <div class="form-group">
                <label for="blood_type" class="control-label col-xs-2">Blood Type</label>
                <div class="col-xs-4">
                    <input class="form-control input-sm" id="blood_type" name="blood_type" placeholder="Blood Type" value="{{blood_type}}" disabled>
                </div>
            </div>            
            <hr>
            <div class="form-group">
                <label for="address_street" class="control-label col-xs-2">Street Address</label>
                <div class="col-xs-4">
                    <textarea class="form-control input-sm" id="address_street" rows="4" placeholder="Street Address" disabled>{{address_street}}</textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="address_line_2" class="control-label col-xs-2">Address Line 2</label>
                <div class="col-xs-4">
                    <textarea class="form-control input-sm" id="address_line_2" rows="4" placeholder="Address Line 2" disabled>{{address_line_2}}</textarea>
                </div>
            </div>        
            <div class="form-group">
                <label for="address_city" class="control-label col-xs-2">City</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control input-sm" id="address_city" placeholder="City" value="{{address_city}}" disabled>
                </div>
            </div>
            <div class="form-group">
                <label for="address_state" class="control-label col-xs-2">State / Province / Region</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control input-sm" id="address_state" placeholder="State / Province / Region" value="{{address_state}}" disabled>
                </div>
            </div>
            <div class="form-group">
                <label for="address_zip_code" class="control-label col-xs-2">Zip Code / Postal Code</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control input-sm" id="address_zip_code" placeholder="Zip Code / Postal Code" value="{{address_zip_code}}" disabled>
                </div>
            </div>
            <div class="form-group">
                <label for="address_country" class="control-label col-xs-2">Country</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control input-sm" id="address_country" placeholder="Country" value="{{address_country}}" disabled>
                </div>
            </div>        
            <hr>            
            <div class="form-group">
                <label for="is_supervisor" class="control-label col-xs-2">Is Supervisor</label>
                <div class="col-xs-4">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="is_supervisor" {{is_supervisor}} disabled>
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="is_rescuer" class="control-label col-xs-2">Is Rescuer</label>
                <div class="col-xs-4">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="is_rescuer" {{is_rescuer}} disabled>
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="company" class="control-label col-xs-2">Company</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control input-sm" id="company" placeholder="Company" value="{{company_name}}" disabled>
                </div>
            </div>
            <div class="form-group">
                <label for="department" class="control-label col-xs-2">Department</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control input-sm" id="department" placeholder="Department" value="{{department_name}}" disabled>
                </div>
            </div>
            <div class="form-group">
                <label for="site" class="control-label col-xs-2">Site</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control input-sm" id="site" placeholder="Site" value="{{site_name}}" disabled>
                </div>
            </div>
            <hr>
            <div class="form-group">
                <label for="date_created" class="control-label col-xs-2">Date Created</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control input-sm" id="date_created" placeholder="Date Created" value="{{date_created}}" disabled>
                </div>
            </div>
            <div class="form-group">
                <label for="created_by" class="control-label col-xs-2">Created By</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control input-sm" id="created_by" placeholder="Created By" value="{{created_by}}" disabled>
                </div>
            </div>
            <hr>
            <div class="form-group">
                <label for="date_created" class="control-label col-xs-2">Date Modified</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control input-sm" id="date_created" placeholder="Date Modified" value="{{date_modified}}" disabled>
                </div>
            </div>
            <div class="form-group">
                <label for="created_by" class="control-label col-xs-2">Modified By</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control input-sm" id="created_by" placeholder="Modified By" value="{{modified_by}}" disabled>
                </div>
            </div>
            <hr>
            <div class="form-group">
                <label for="date_created" class="control-label col-xs-2">Date Registered</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control input-sm" id="date_created" placeholder="Date Registered" value="{{date_registered}}" disabled>
                </div>
            </div>
            <div class="form-group">
                <label for="is_rescuer" class="control-label col-xs-2">Is Registered</label>
                <div class="col-xs-4">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="is_registered" {{is_registered}} disabled>
                        </label>
                    </div>
                </div>
            </div>
            <hr>
            {{supervisor_list}}
            {{rescuer_list}}
            {{employee_list}}
            <div class="form-group">
                <label for="supervisor" class="control-label col-xs-2">Immediate Supervisor</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control input-sm" id="supervisor" placeholder="Immediate Supervisor" value="{{supervisor}}" disabled>
                </div>
            </div>            
            <div class="form-group">
                <div class="col-xs-offset-4 col-xs-2">
                    <div class="pull-right">
                        <a class="btn btn-primary btn-delete">Delete</a>
                        <a href="{{base_url}}/backoffice/whitelist/edit/{{id}}" class="btn btn-primary">Edit</a>
                    </div>
                </div>
            </div>
        </form>
    </div>    
</div>    
{% endblock %}
{% block css_def %}
{% endblock %}
{% block js_def %}
{% endblock %}
{% block js_exec %}
<script>
    var id = "{{id}}";
    $("#user-photo").load(function() {
    }).error(function() {
        //$(this).attr("src","{{base_url}}/assets/photo/avatar_male_light_on_gray_200x200.png");
        $(this).attr("src","{{base_url}}/assets/photo/default-profile.png");
    });

    $(".btn-delete").on("click", function(){
        BootstrapDialog.show({
            title: 'Confirm',
            message:"Are you sure you want to delete this item?",
            closable: false,
            buttons:[{
                label:"Yes",
                action:function(dialog) {
                    dialog.close();
                    $.get("{{base_url}}/backoffice/whitelist/delete/"+id,function(response) {
                        var data = JSON.parse(response);
                        if (data.response_code == 0) {
                            BootstrapDialog.show({
                                title: 'Success',
                                message:data.response_msg,
                                closable: false,
                                buttons:[{
                                    label:"Close",
                                    action:function(dialog) {
                                        dialog.close();
                                        redirectTo("{{base_url}}/backoffice/whitelist");
                                    }
                                }]
                            });
                        } else {
                            BootstrapDialog.show({
                                title: 'Error',
                                type: BootstrapDialog.TYPE_WARNING,
                                message:data.response_msg,
                                closable: false,
                                buttons:[{
                                    label:"Close",
                                    action:function(dialog) {
                                        dialog.close();
                                    }
                                }]
                            });
                        }
                        return false;
                    });
                }
            },{
                label:"Cancel",
                action:function(dialog) {
                    dialog.close();
                }
            }]
        });
    });

    function redirectTo(url) {
        window.location = url;
    }

</script>
{% endblock %}