{% block content %}
<div class="error-modal" id="modal" aria-hidden="true">
    <div class="error-modal-dialog">
        <div class="error-modal-header">
            <a href="#close" class="btn pull-right" aria-hidden="true">x</a>
        </div>
        <div class="error-modal-body">
            <span class="error-message">{{error_message}}</span>
        </div>
    </div>
</div>
<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">Add Official Link</h3>
    </div>
    <div class="panel-body">
        <form id="add-feed" class="form-horizontal" method="POST">
            <div class="form-group">
                <label for="feed_type" class="control-label col-xs-2">Feed/Link Type</label>
                <div class="col-xs-4">
                    <select class="form-control" id="feed_type" name="feed_type" required>
                        <option value="">Select Feed/Link Type</option>
                        {{feed_type_list}}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="twitter_screen_name" class="control-label col-xs-2">Screen Name</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control" id="twitter_screen_name" placeholder="Screen Name" name="twitter_screen_name" required>
                </div>
            </div>            
            <div class="form-group">
                <label for="description" class="control-label col-xs-2">Description</label>
                <div class="col-xs-4">
                    <textarea class="form-control" id="description" name="description" placeholder="Description"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-offset-2 col-xs-4">
                    <div class="pull-right">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </form>    
    </div>
</div>
{% endblock %}
{% block css_def %}
{% endblock %}
{% block js_def %}
{% endblock %}
{% block js_exec %}
<script>
$(document).ready(function() {
    $("#add-feed").validate({
        rules: {
            feed_type: {
                required: true
            },
            twitter_screen_name: {
                required: true
            }
        }, errorPlacement: function(error,element) {
            error.insertAfter(element.parent());
        }, submitHandler:function(form) {
            $('button[type="submit"]').attr("disabled", "disabled");
            $.post("{{base_url}}/backoffice/officialfeeds/add",$(form).serialize(), function(response) {
                var data = JSON.parse(response);
                if (data.response_code == 0) {
                    BootstrapDialog.show({
                        title: 'Success',
                        message:data.response_msg,
                        buttons: [{
                            label: 'Close',
                            action: function(dialog) {
                                dialog.close();
                                window.location = "{{base_url}}/backoffice/officialfeeds";
                            }                            
                        }]
                    });

                } else {
                    BootstrapDialog.show({
                        title: 'Error',
                        type: BootstrapDialog.TYPE_WARNING,
                        message:data.response_msg,
                        buttons: [{
                            label: 'Close',
                            action: function(dialog) {
                                $('button[type="submit"]').removeAttr("disabled");
                                dialog.close();
                            }                            
                        }]
                    });
                }
                return false;
            });
        }
    });
});
</script>
{% endblock %}