{% block content %}
<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">Official Link Details</h3>
    </div>
    <div class="panel-body">
        <form id="feed" class="form-horizontal" method="POST">
            <div class="form-group">
                <label for="feed_type" class="control-label col-xs-2">Feed/Link Type</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control" id="feed_type" name="feed_type" value="{{feed_type}}" disabled>
                </div>
            </div>
            <div class="form-group">
                <label for="twitter_screen_name" class="control-label col-xs-2">Screen Name</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control" id="twitter_screen_name" placeholder="Screen Name" value="{{twitter_screen_name}}" disabled>
                </div>
            </div>            
            <div class="form-group">
                <label for="description" class="control-label col-xs-2">Description</label>
                <div class="col-xs-4">
                    <textarea class="form-control" id="description" placeholder="Description" disabled>{{description}}</textarea>
                </div>
            </div>
            <!--
            <hr>
            <div class="form-group">
                <label for="consumer_key" class="control-label col-xs-2">Consumer Key</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control" id="consumer_key" placeholder="Consumer Key" value="{{consumer_key}}" disabled>
                </div>
            </div>
            <div class="form-group">
                <label for="consumer_secret" class="control-label col-xs-2">Consumer Secret</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control" id="consumer_secret" placeholder="Consumer Secret" value="{{consumer_secret}}" disabled>
                </div>
            </div>
            <div class="form-group">
                <label for="access_token" class="control-label col-xs-2">Access Token</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control" id="access_token" placeholder="Access Token" value="{{access_token}}" disabled>
                </div>
            </div>
            <div class="form-group">
                <label for="access_token_secret" class="control-label col-xs-2">Access Token Secret</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control" id="access_token_secret" placeholder="Access Token Secret" value="{{access_token_secret}}" disabled>
                </div>
            </div>
        -->
            <hr>
            <div class="form-group">
                <label for="date_created" class="control-label col-xs-2">Date Created</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control" id="date_created" placeholder="Date Created" value="{{date_created}}" disabled>
                </div>
            </div>
                <div class="form-group">
                <label for="created_by" class="control-label col-xs-2">Created By</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control" id="created_by" placeholder="Created By" value="{{created_by}}" disabled>
                </div>
            </div>
                <div class="form-group">
                <label for="date_modified" class="control-label col-xs-2">Date Modified</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control" id="date_modified" placeholder="Date Modified" value="{{date_modified}}" disabled>
                </div>
            </div>
                <div class="form-group">
                <label for="modified_by" class="control-label col-xs-2">Modified By</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control" id="modified_by" placeholder="Modified By" value="{{modified_by}}" disabled>
                </div>
            </div>          
        </form>
    </div>
</div>
{% endblock %}
{% block css_def %}
{% endblock %}
{% block js_def %}
{% endblock %}
{% block js_exec %}
{% endblock %}