{% block content %}
<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">Generate Reports</h3>
    </div>
    <div class="panel-body" id="div_report">
        <form id="gen-report" class="form-horizontal" method="post">
            <div class="form-group">
                <label for="disasters" class="control-label col-xs-2">Disasters</label>
                <div class="col-xs-4">
                    <select id="disasters" class="form-control" name="disaster_id">
                        <option value="">Select Disaster</option>
                        {{disaster_list}}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="control-label col-xs-2">Date</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control" id="date" placeholder="Date" name="daterange" required autocomplete="off">
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-offset-2 col-xs-4">
                    <div class="pull-right">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </form>
        <!--
        <div id="toolbar">
            <div class="form-inline">
                <div class="form-group">
                    <a type="button" class="btn btn-info btn-action btn-export"><i class="fa fa-list"></i> <span>Export</span></a>
                </div>
            </div>
        </div>
        -->
        <div id="report_div">
            {{report_table}}
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Employees</h4>
            </div>
            <div class="modal-body">
                <table id="table">
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <!--<button type="button" class="btn btn-primary">Save changes</button>-->
            </div>
        </div>
  </div>
</div>
{% endblock %}
{% block css_def %}
<link rel="stylesheet" href="{{base_url}}/assets/css/daterangepicker.css">
{% endblock %}
{% block js_def %}
<script src="{{base_url}}/assets/js/reports/dynamic.js"></script>
<script src="{{base_url}}/assets/js/moment.min.js"></script>
<script src="{{base_url}}/assets/js/daterangepicker.js"></script>
{% endblock %}
{% block js_exec %}
<script>
var status = 0;
var fcol_id = 0;

$(document).ready(function() {
    var selected_id = 0;
    var disaster_id = 0;

    $("#gen-report").validate({
        rules: {
            disaster_id: {
                required: true,
            }
        }
    });

    $('#date').daterangepicker({
        "startDate" : '{{start_date}}',
        "endDate" : '{{end_date}}',
        "minDate" : '{{min_date}}',
        "maxDate" : '{{max_date}}',
        "timePicker" : false,
        "locale": {
            "format": 'YYYY-MM-DD'
        }
    });

    $("#disasters").on("change",function(){
        disaster_id = $(this).val();
        var data = {
            disaster_id:disaster_id
        };
        var spinner = new Spinner().spin($("body")[0]);
        $.ajax({
            type: "POST",
            dataType: "json",
            url: "{{base_url}}/backoffice/reports/get-disaster-details",
            data: JSON.stringify(data),
            success: function(data,status,xhr) {
                if (data.response_code == 0) {
                    $('#date').daterangepicker({
                        "startDate" : data.data.date_created,
                        "endDate" : data.data.date_closed,
                        "minDate" : data.data.date_created,
                        "maxDate" : data.data.date_closed,
                        "locale": {
                            "format": 'YYYY-MM-DD'
                        }
                    });
                } else {

                }
                spinner.stop();
            },
            error: function(xhr,status,error) {
                console.log(error);
                spinner.stop();
            }
        });
    });

    $(document).on("click","#report_div table tr td a",function(){

        fcol_id = $(this).parent().parent().find("td:first").attr("id");
        status = $(this).parent().index();

        $("#table").bootstrapTable('destroy');

        $("#myModal").modal("show");
        //return;
        var data = {
            "fcol_id":fcol_id,
            "status":status,
            "start_date" : '{{start_date}}',
            "end_date" : '{{end_date}}',
            "disaster_id" : '{{disaster_id}}'
        };

        var spinner = new Spinner().spin($("#myModal")[0]);
         $("#table").bootstrapTable({
            url:"{{base_url}}/backoffice/reports/list/data",
            search: true,
            showRefresh: true,
            pageList: [5, 10, 20],
            pageSize: 5,
            method:"post",
            pagination: true,
            sidePagination: "server",
            striped: true,
            queryParams: function(params) {
                params["fcol_id"] = fcol_id;
                params["status"] = status;
                params["start_date"] = "{{start_date}}";
                params["end_date"] = "{{end_date}}";
                params["disaster_id"] = "{{disaster_id}}";
                return params;
            },            
            columns: [
                 {
                     field: 'employee_name',
                     title: 'Employee',
                     sortable: true
                 },
                 {
                     field: 'items',
                     title: 'Items needed',
                     sortable: true
                 },
                  {
                      field: 'message',
                      title: 'Message',
                  }
            ]
        });
        spinner.stop();
    });
});
</script>
{% endblock %}