{% block content %}
<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">Generate Reports</h3>
    </div>
    <div class="panel-body" id="div_report">
        <form id="generate_report" class="form-horizontal" method="post">
            <div class="form-group">
                <label for="filter" class="control-label col-xs-2">Filter</label>
                <div id="the-basics" class="col-xs-4">
                    <input class="typeahead form-control input-sm" type="text" id="filter" placeholder="Enter text here" required>
                </div>
                <div class="col-xs-2">
                    <button type="button" class="btn btn-info btn-action btn-go">Go</button>
                </div>
            </div>
            <div class="form-group">
                <label for="reports" class="control-label col-xs-2">Reports</label>
                <div class="col-xs-4">
                    <select id="reports" class="form-control">
                        {{report_list}}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-offset-2 col-xs-4">
                    <div class="pull-right">
                        <button type="submit" class="btn btn-primary btn-submit" disabled>Submit</button>
                    </div>
                </div>
            </div>
        </form>
        <div id="toolbar">
            <div class="form-inline">
                <div class="form-group">
                    <a type="button" class="btn btn-info btn-action btn-export" disabled><i class="fa fa-list"></i> <span>CSV</span></a>
                    <!--<a type="button" class="btn btn-info btn-action btn-export-xls" disabled><i class="fa fa-list"></i> <span>Excel</span></a>-->
                </div>
            </div>
        </div>
        <table id="table"
               data-toggle="table"
               data-toolbar="#toolbar"
               data-show-refresh="true"
               data-sort-name="id"
               data-page-list="[5, 10, 20]"
               data-page-size="5"
               data-method="post"
               data-pagination="true"
               data-side-pagination="server"
               data-striped="true"
               data-query-params="postQueryParams">
            <thead>

            </thead>
        </table>
    </div>
    </div>
</div>
{% endblock %}
{% block css_def %}
<link rel="stylesheet" href="{{base_url}}/assets/css/typeahead.css">
{% endblock %}
{% block js_def %}
<script src="{{base_url}}/assets/js/reports/dynamic.js"></script>
{% endblock %}
{% block js_exec %}
{% endblock %}