{% block content %}
<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">Reports Maintenance</h3>
    </div>
    <div class="panel-body" id="div_report">
        <form id="report_maintenance" class="form-horizontal" method="post">
            <div class="form-group">
                <label for="name" class="control-label col-xs-2">Name</label>
                <div class="col-xs-4">
                    <input class="form-control input-sm" type="text" id="name" name="name" placeholder="Enter text here" required value="{{name}}">
                </div>
            </div>
            <div class="form-group">
                <label for="sql_statement" class="control-label col-xs-2">SQL Statement</label>
                <div class="col-xs-4">
                    <textarea class="form-control" id="sql_statement" name="sql_statement" placeholder="SQL Statement" required>{{sql_statement}}</textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="headers" class="control-label col-xs-2">Headers</label>
                <div class="col-xs-4">
                    <textarea class="form-control" id="headers" name="headers" placeholder="Headers" required>{{headers}}</textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-offset-2 col-xs-4">
                    <div class="pull-right">
                        <button type="submit" class="btn btn-primary btn-submit">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</div>
{% endblock %}
{% block css_def %}
{% endblock %}
{% block js_def %}
{% endblock %}
{% block js_exec %}
<script>
    function redirectTo(url) {
        window.location = url;
    }

    function requestPath() {
        split_path = window.location.pathname.split('/');
        if($.trim(split_path[1]) == 'index.php') {
            return window.location.origin+'/';
        } else {
            return window.location.origin+'/'+split_path[1]+'/';
        }
    }

    $(document).ready(function(){
        $("#report_maintenance").validate({
            rules: {
                name: {
                    required: true
                },
                sql_statement: {
                    required: true
                },
                headers: {
                    required: true
                }
            }, errorPlacement: function(error, element) {
                error.insertAfter(element.parent());
            }, submitHandler:function(form) {

                //$('button[type="submit"]').attr("disabled", "disabled");

                $.post(requestPath() + "backoffice/maintenance/edit/{{id}}",
                        $(form).serialize(),
                        function(response) {
                            var data = JSON.parse(response);
                            if(data.response_code == 0) {
                                BootstrapDialog.show({
                                    title: 'Success',
                                    closable: false,
                                    message:data.response_msg,
                                    buttons: [{
                                        label: 'Close',
                                        action: function(dialog) {
                                            dialog.close();
                                            window.location = "{{base_url}}/backoffice/maintenance";
                                        }
                                    }]
                                });
                            } else {
                                BootstrapDialog.show({
                                    title: 'Error',
                                    type: BootstrapDialog.TYPE_WARNING,
                                    message:data.response_msg,
                                    closable: false,
                                    buttons: [{
                                        label: 'Close',
                                        action: function(dialog) {
                                            $('button[type="submit"]').removeAttr("disabled");
                                            dialog.close();
                                        }
                                    }]
                                });
                            }
                        })
                        .error(function() {
                            BootstrapDialog.show({
                                title: 'Error',
                                type: BootstrapDialog.TYPE_WARNING,
                                message:data.response_msg,
                                closable: false,
                                buttons: [{
                                    label: 'Close',
                                    action: function(dialog) {
                                        $('button[type="submit"]').removeAttr("disabled");
                                        dialog.close();
                                    }
                                }]
                            });
                        });

            }
        });
    });
</script>
{% endblock %}