{% block content %}
<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">Reports Maintenance</h3>
    </div>
    <div class="panel-body">
        <div id="toolbar">
            <div class="form-inline">
                <div class="form-group">
                    <button type="button" class="btn btn-info btn-action btn-add-report"><i class="fa fa-plus"></i> <span>Add Report</span></button>
                </div>
            </div>
        </div>
        <table id="table"
               data-toggle="table"
               data-toolbar="#toolbar"
               data-url="{{base_url}}/backoffice/maintenance/list/data"
               data-search="true"
               data-show-refresh="true"
               data-sort-name="id"
               data-page-list="[5, 10, 20]"
               data-page-size="5"
               data-method="post"
               data-pagination="true"
               data-side-pagination="server"
               data-striped="true"
               data-query-params="postQueryParams">
            <thead>
            <tr>
                <th data-field="id">ID</th>
                <th data-field="name">Name</th>
                <th data-field="sql_statement">SQL Statement</th>
                <th data-field="headers">Headers</th>
                <th data-field="operate" data-formatter="operateFormatter" data-align="center" data-valign="middle" data-events="operateEvents">Action</th>
            </tr>
            </thead>
        </table>
    </div>
</div>
{% endblock %}
{% block css_def %}
{% endblock %}
{% block js_def %}
{% endblock %}
{% block js_exec %}
<script>

    var $table = $('#table');

    function operateFormatter(value, row, index) {
        return [
            '<a class="btn btn-default action-button-item view" href="javascript:void(0)" title="View"><i class="fa fa-folder"></i></a>',
            '<a class="btn btn-default action-button-item edit" href="javascript:void(0)" title="Edit"><i class="fa fa-edit"></i></a>',
            '<a class="btn btn-default action-button-item delete" href="javascript:void(0)" title="Delete"><i class="fa fa-trash"></i></a>'
        ].join('');
    }

    window.operateEvents = {
        'click .view': function (e, value, row, index) {
            redirectTo("{{base_url}}/backoffice/maintenance/view/"+row.id);
        },
        'click .edit': function (e, value, row, index) {
            redirectTo("{{base_url}}/backoffice/maintenance/edit/"+row.id);
        },
        'click .delete': function (e, value, row, index) {
            BootstrapDialog.show({
                title: 'Confirm',
                message:"Are you sure you want to delete this item?",
                buttons:[{
                    label:"Yes",
                    action:function(dialog) {
                        dialog.close();
                        $.get("{{base_url}}/backoffice/maintenance/delete/"+row.id,function(response) {
                            var data = JSON.parse(response);
                            if (data.response_code == 0) {
                                BootstrapDialog.show({
                                    title: 'Success',
                                    message:data.response_msg,
                                    closable: false,
                                    buttons:[{
                                        label:"Close",
                                        action:function(dialog) {
                                            dialog.close();
                                            $table.bootstrapTable('refresh');
                                        }
                                    }]
                                });
                            } else {
                                BootstrapDialog.show({
                                    title: 'Error',
                                    type: BootstrapDialog.TYPE_WARNING,
                                    message:data.response_msg,
                                    closable: false,
                                    buttons:[{
                                        label:"Close",
                                        action:function(dialog) {
                                            dialog.close();
                                        }
                                    }]
                                });
                            }
                            return false;
                        });
                    }
                },{
                    label:"Cancel",
                    action:function(dialog) {
                        dialog.close();
                    }
                }]
            });
        }
    };

    function redirectTo(url) {
        window.location = url;
    }

    function postQueryParams(params) {
        return JSON.stringify(params);
    }

    $(function() {
        $table.on('load-success.bs.table',function(e,data) {
            $table.bootstrapTable('hideLoading');
        })
        .on('load-error.bs.table',function(e,status) {
            $table.bootstrapTable('hideLoading');
        });
    });

    $(document).ready(function() {
        $(".btn-add-report").on('click',function() {
            redirectTo("{{base_url}}/backoffice/maintenance/add");
        });
    });
</script>
{% endblock %}