{% block content %}
<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">Reports Maintenance</h3>
    </div>
    <div class="panel-body" id="div_report">
        <form id="report_maintenance" class="form-horizontal" method="post">
            <div class="form-group">
                <label for="name" class="control-label col-xs-2">Name</label>
                <div class="col-xs-4">
                    <input class="form-control input-sm" type="text" id="name" name="name" placeholder="Enter text here" required value="{{name}}" disabled>
                </div>
            </div>
            <div class="form-group">
                <label for="sql_statement" class="control-label col-xs-2">SQL Statement</label>
                <div class="col-xs-4">
                    <textarea class="form-control" id="sql_statement" name="sql_statement" placeholder="SQL Statement" required disabled>{{sql_statement}}</textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="headers" class="control-label col-xs-2">Headers</label>
                <div class="col-xs-4">
                    <textarea class="form-control" id="headers" name="headers" placeholder="Headers" required disabled>{{headers}}</textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-offset-2 col-xs-4">

                </div>
            </div>
        </form>
    </div>
</div>
</div>
{% endblock %}
{% block css_def %}
{% endblock %}
{% block js_def %}
{% endblock %}
{% block js_exec %}
{% endblock %}