{% block content %}
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row text-center">
            <img src="{{base_url}}/assets/images/logo/agc.png" height="80">
            <img src="{{base_url}}/assets/images/logo/globe_telecom_logo.png" height="80">
            <h3 class="title">Access Denied</h3>
            <span class="maintenance-message">
               It seems that you're not authorized to access this page.
            </span>
            <br>
            <span class="copyright">
                <img src="{{base_url}}/assets/images/logo/assist-logo.png" height="28"><span> - Copyright (c) 2015 Ayala Group of Companies/Globe Telecom Inc. - Developed by <img src="{{base_url}}/assets/images/logo/yondu.jpg" height="10">
            </span>
        </div>
    </div>
</div>      
{% endblock %}
{% block css_def %}
<!--CSS Script-->
<link rel="stylesheet" href="{{base_url}}/assets/css/normalize.css">
<link rel="stylesheet" href="{{base_url}}/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="{{base_url}}/assets/fonts/css/font-awesome.min.css">

<link rel="stylesheet" href="{{base_url}}/assets/css/maintenance.css">
{% endblock %}
{% block js_def %}
<!--modernizr reset-->
<script src="{{base_url}}/assets/js/modernizr.js"></script>

<!--Javascript-->
<script src="{{base_url}}/assets/js/jquery-1.11.2.min.js"></script>
<script src="{{base_url}}/assets/js/bootstrap.min.js"></script>
{% endblock %}
{% block js_exec %}{% endblock %}