{% block content %}
<div class="panel-body">
    <a href="{{base_url}}/backoffice/company/add">
        <button class="btn btn-default btn-sm">Add</button>
    </a>
    <table class="table table-bordered table-responsive table-striped">
        <thead>
        <tr>
            <th class="col-xs-2 text-center">Username</th>
            <th class="col-xs-8 text-center">Description</th>
            <th class="col-xs-1 text-center">Status</th>
        </tr>
        </thead>
        <tbody>
        {{emergencies}}
        </tbody>
    </table>
    <nav class="pull-right">
        <ul class="pagination">
            {{pages}}
        </ul>
    </nav>
</div>
{% endblock %}
{% block css_def %}
{% endblock %}
{% block js_def %}
{% endblock %}
{% block js_exec %}{% endblock %}