{% block content %}
<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">Incidents</h3>
    </div>
    <div class="panel-body">
        <div id="toolbar">
            <div class="form-inline">
            </div>
        </div>
        <table id="table" 
            data-toggle="table"
            data-toolbar="#toolbar"
            data-search="true"
            data-show-refresh="true"
            data-sort-name="id"
            data-page-list="[5, 10, 20]"
            data-page-size="5"
            data-pagination="true"
            data-side-pagination="server"
            data-striped="true"
            data-url="{{base_url}}/backoffice/disaster/incidents/list/data"
            data-method="post"
            data-query-params="postQueryParams">
            <thead>
                <tr>
                    <th data-field="id">ID</th>
                    <th data-field="full_name">Reported By</th>
                    <th data-field="date_reported">Date Reported</th>
                    <th data-field="location">Location</th>
                    <th data-field="message">Message</th>
                    <th data-field="operate" data-formatter="operateFormatter" data-align="center" data-valign="middle" data-events="operateEvents">Action</th>
                </tr>
            </thead>
        </table>    
    </div>
</div>
{% endblock %}
{% block css_def %}
{% endblock %}
{% block js_def %}
{% endblock %}
{% block js_exec %}
<script>
function operateFormatter(value, row, index) {
    return [
            '<a class="btn btn-default action-button-item view" href="javascript:void(0)" title="View"><i class="fa fa-folder"></i></a>',
        ].join('');
}

window.operateEvents = {
    'click .view': function (e, value, row, index) {
        redirectTo("{{base_url}}/backoffice/disaster/incidents/view/"+row.id);
    },
};

function redirectTo(url) {
    window.location = url;
}

function postQueryParams(params) {
    console.log(JSON.stringify(params));
    return JSON.stringify(params);
}

var $table = $('#table');

$(function() {
    $table.on('load-success.bs.table',function(e,data) {
        console.log(data);
        $table.bootstrapTable('hideLoading');
    })
    .on('load-error.bs.table',function(e,status) {
        $table.bootstrapTable('hideLoading');
    });
});

$(document).ready(function() {
});
</script>
{% endblock %}