{% block content %}
<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">Notifications</h3>
    </div>
    <div class="panel-body">
        <div id="toolbar">
            <div class="form-inline">
            </div>
        </div>
        <table id="table" 
            data-toggle="table"
            data-toolbar="#toolbar"
            data-search="true"
            data-show-refresh="true"
            data-sort-name="id"
            data-page-list="[5, 10, 20]"
            data-page-size="5"
            data-pagination="true"
            data-side-pagination="server"
            data-striped="true"
            data-url="{{base_url}}/backoffice/disaster/notifications/list/data"
            data-method="post"
            data-query-params="postQueryParams">
            <thead>
                <tr>
                    <th data-field="id">ID</th>
                    <th data-field="broadcast_by">Broadcast By</th>
                    <th data-field="broadcast_date">Broadcast Date</th>
                    <th data-field="message">Message</th>
                    <th data-field="company_name">Company</th>
                    <th data-field="site">Site</th>
<!--                     <th data-field="operate" data-formatter="operateFormatter" data-align="center" data-valign="middle" data-events="operateEvents">Action</th>
 -->                </tr>
            </thead>
        </table>    
    </div>
</div>
{% endblock %}
{% block css_def %}
{% endblock %}
{% block js_def %}
{% endblock %}
{% block js_exec %}
<script>
function operateFormatter(value, row, index) {
    return [
            '<button type="button" name="toggle" class="btn btn-default btn-sm cmd_toggle" rel="'+row.id+'"><i class="fa fa-minus-circle '+row.icon+'"></i></button>'
        ].join('');
}

window.operateEvents = {
    'click .cmd_toggle': function (e, value, row, index) {
        redirectTo("{{base_url}}/backoffice/disaster/notifications/delete/"+row.id);
    }
};

function redirectTo(url) {
    window.location = url;
}

function postQueryParams(params) {
    console.log(JSON.stringify(params));
    return JSON.stringify(params);
}

var $table = $('#table');

$(function() {
    $table.on('load-success.bs.table',function(e,data) {
        console.log(data);
        $table.bootstrapTable('hideLoading');
    })
    .on('load-error.bs.table',function(e,status) {
        $table.bootstrapTable('hideLoading');
    });

    $('input[type=checkbox][data-toggle^=toggle]').bootstrapToggle();
});

$(document).ready(function() {
    $(document).on('click.bs.toggle', 'div[data-toggle^=toggle]', function(e) {
        var $checkbox = $(this).find('input[type=checkbox]')
        $checkbox.bootstrapToggle('toggle')
        e.preventDefault()
    })
});
</script>
{% endblock %}