{% block content %}
<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">Sign-In Details</h3>
    </div>
    <div class="panel-body">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="id" class="control-label col-xs-2">ID</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control input-sm" id="id" placeholder="ID" value="{{id}}" disabled>
                </div>
            </div>    
            <div class="form-group">
                <label for="full_name" class="control-label col-xs-2">Full Name</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control input-sm" id="full_name" placeholder="Full Name" value="{{full_name}}" disabled>
                </div>
            </div>
            <div class="form-group">
                <label for="no_of_persons" class="control-label col-xs-2">No. Of Persons</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control input-sm" id="no_of_persons" placeholder="No. Of Persons" value="{{no_of_persons}}" disabled>
                </div>
            </div>            
            <div class="form-group">
                <label for="latitude" class="control-label col-xs-2">Latitude</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control input-sm" id="latitude" placeholder="Latitude" value="{{latitude}}" disabled>
                </div>
            </div>
            <div class="form-group">
                <label for="longitude" class="control-label col-xs-2">Longitude</label>
                <div class="col-xs-2">
                    <input type="text" class="form-control input-sm" id="longitude" placeholder="Longitude" value="{{longitude}}" disabled>
                </div>
            </div>
            <div class="form-group">
                <label for="location" class="control-label col-xs-2">Location</label>
                <div class="col-xs-4">
                    <textarea class="form-control input-sm" id="location" placeholder="Location" disabled>{{location}}</textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="message" class="control-label col-xs-2">Message</label>
                <div class="col-xs-4">
                    <textarea class="form-control input-sm" id="message" placeholder="Message" disabled>{{message}}</textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="date_reported" class="control-label col-xs-2">Sign-In Date</label>
                <div class="col-xs-2">
                    <input type="text" class="form-control input-sm" id="date_reported" placeholder="Date Reported" value="{{date_checkedin}}" disabled>
                </div>
            </div>
            <div class="form-group">
                <label for="disaster_name" class="control-label col-xs-2">Disaster Name</label>
                <div class="col-xs-2">
                    <input type="text" class="form-control input-sm" id="disaster_name" placeholder="Date Reported" value="{{disaster_name}}" disabled>
                </div>
            </div>
            <div class="form-group">
                <label for="disaster_type" class="control-label col-xs-2">Disaster Type</label>
                <div class="col-xs-2">
                    <input type="text" class="form-control input-sm" id="disaster_type" placeholder="Date Reported" value="{{type}}" disabled>
                </div>
            </div>
        </form>
    </div>    
</div>    
{% endblock %}
{% block css_def %}
{% endblock %}
{% block js_def %}
{% endblock %}
{% block js_exec %}
<script type="text/javascript">
</script>
{% endblock %}