{% block content %}
<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">Create Event</h3>
    </div>
    <div class="panel-body">
        <form id="event" class="form-horizontal" method="POST">
            <div class="form-group">
                <label for="name" class="control-label col-xs-2">Name</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control" id="name" placeholder="Name" name="event_name" required>
                </div>
            </div>
            <!--
            <div class="form-group">
                <label for="name" class="control-label col-xs-2">Date</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control" id="date" placeholder="Date" name="event_date" required autocomplete="off">
                </div>
            </div>
            -->
            <div class="form-group">
                <label for="name" class="control-label col-xs-2">Date from</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control" placeholder="Date from" name="event_date_from" required autocomplete="off" data-date-format="YYYY-MM-DD HH:mm:ss">
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="control-label col-xs-2">Date to</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control" placeholder="Date to" name="event_date_to" required autocomplete="off" data-date-format="YYYY-MM-DD HH:mm:ss">
                </div>
            </div>
            <div class="form-group">
                <label for="address" class="control-label col-xs-2">Address</label>
                <div class="col-xs-4">
                    <textarea class="form-control" id="address" name="address" placeholder="Address"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="details" class="control-label col-xs-2">Details</label>
                <div class="col-xs-4">
                    <textarea class="form-control" id="details" name="details" placeholder="Details" rows="4"></textarea>
                </div>
            </div>
            <div id="skill-rows">
                <div class="form-group" id="skill-row">
                    <label for="skill" class="control-label col-xs-2">Skills</label>
                    <div class="col-xs-3 department-select">
                        <input type="text" class="form-control" id="skill" placeholder="Skill" name="skill[]" required>
                    </div>
                    <div class="col-xs-2 add-more-button">
                        <button type="button" class="btn btn-default add-skill">
                            <i class="fa fa-plus"></i>
                        </button>
                        <button type="button" class="btn btn-default remove-skill">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-offset-2 col-xs-4">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block css_def %}
<!--<link rel="stylesheet" href="{{base_url}}/assets/css/daterangepicker.css">-->
<link rel="stylesheet" href="{{base_url}}/assets/css/jquery-ui.min.css">
<link rel="stylesheet" href="{{base_url}}/assets/css/bootstrap-datetimepicker.min.css">
{% endblock %}
{% block js_def %}
<script src="{{base_url}}/assets/js/moment.min.js"></script>
<!--<script src="{{base_url}}/assets/js/daterangepicker.js"></script>-->
<script src="{{base_url}}/assets/js/bootstrap-datetimepicker.min.js"></script>
{% endblock %}
{% block js_exec %}
<script type="text/javascript">
$(document).ready(function() {

    $('input[name=event_date_from]').datetimepicker({
        minDate: '{{date_now}}'
    })

    $('input[name=event_date_to]').datetimepicker({
        minDate: '{{date_now}}'
    });

    $(document).on("click",".add-skill",function() {
        var cloned = $("#skill-row").clone();
        cloned.find("label").text("");
        cloned.find("input[type=text]").val("");
        cloned.find(".remove-skill").on("click",function() {
            cloned.remove();
        });
        cloned.appendTo("#skill-rows");
    });

    $("#event").validate({
        rules: {
            event_name: {
                required: true
            },
            // event_date_from: {
            //     required: true
            // },
            // event_date_to: {
            //     required: true
            // },
            address: {
                required: true
            },
            details: {
                required: true
            }
        }, errorPlacement: function(error,element) {
            error.insertAfter(element.parent());
        }, submitHandler:function(form) {
            $('button[type="submit"]').attr("disabled", "disabled");
            var data = (window.FormData) ? new FormData($(form)[0]) : $(form).serialize();
            $.ajax({
                url:"{{base_url}}/backoffice/event/add",
                data:data,
                cache:false,
                contentType:false,
                processData:false,
                type:"POST",
                success:function(response) {
                    var data = JSON.parse(response);
                    if (data.response_code == 0) {
                        BootstrapDialog.show({
                            message:data.response_msg,
                            closable: false,
                            buttons: [{
                                label: 'Close',
                                action: function(dialog) {
                                    dialog.close();
                                    window.location = "{{base_url}}/backoffice/event";
                                }                            
                            }]
                        });

                    } else {
                        BootstrapDialog.show({
                            message:data.response_msg,
                            closable: false,
                            buttons: [{
                                label: 'Close',
                                action: function(dialog) {
                                    $('button[type="submit"]').removeAttr("disabled");
                                    dialog.close();
                                }                            
                            }]
                        });
                    }
                    return false;
                }
            });
        }
    });
});
</script>
{% endblock %}