{% block content %}
<form method="post">
    <button type="submit" class="btn btn-default action-butt0n-icon btn-lg cmd_toggle {{status}}"><i class="fa fa-power-off"></i></button>
</form>
{% endblock %}
{% block css_def %}
{% endblock %}
{% block js_def %}
{% endblock %}
{% block js_exec %}
{% endblock %}