{% block content %}
<div class="panel-body">
    <div class="col-md-6">
        <table class="table table-bordered table-responsive table-striped">
            <thead>
            <tr>
                <th>ID</th> 
                <th class="text-center">Icon</th>
                <th class="text-center">URL</th>
                <th class="text-center">Label</th>
                <th class="text-center">Submenu Of</th>
                <th class="text-center">Has Submenu</th>
                <th class="text-center">S</th>
                <th class="text-center">A</th>
            </tr>
            </thead>
            <tbody>
            {{menu}}
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-heading">
                <strong>Add Menu</strong>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" method="POST" action="{{base_url}}/backoffice/settings/menu/add-menu">
                    <div class="form-group">
                        <label for="icon" class="control-label col-xs-2">Icon</label>
                        <div class="col-xs-10">
                            <input type="text" class="form-control" id="icon" placeholder="Icon" name="icon">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="url" class="control-label col-xs-2">URL</label>
                        <div class="col-xs-10">
                            <input type="text" class="form-control" id="url" placeholder="URL" name="url">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="label" class="control-label col-xs-2">Label</label>
                        <div class="col-xs-10">
                            <input type="text" class="form-control" id="label" placeholder="Label" name="label">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-offset-8 col-xs-4">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block css_def %}
{% endblock %}
{% block js_def %}
{% endblock %}
{% block js_exec %}{% endblock %}