{% block content %}
<div class="panel-body">
    <div class="col-md-6">
        <table class="table table-bordered table-responsive table-striped">
            <thead>
            <tr>
                <th class="text-center">URI</th>
                <th class="text-center">Date Created</th>
                <th class="text-center">Created By</th>
            </tr>
            </thead>
            <tbody>
            {{modules}}
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-heading">
                <strong>Add Module</strong>
            </div>
            <div class="panel-body">
                <form id="add-module" class="form-horizontal" method="POST">
                    <div class="form-group">
                        <label for="url" class="control-label col-xs-2">URL</label>
                        <div class="col-xs-10">
                            <input type="text" class="form-control" id="url" placeholder="URL" name="url">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-offset-8 col-xs-4">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block css_def %}
{% endblock %}
{% block js_def %}
{% endblock %}
{% block js_exec %}
<script>
$(document).ready(function() {
    $("#add-module").validate({
        rules: {
            url: {
                required: true
            }
        }, errorPlacement: function(error,element) {
            error.insertAfter(element.parent());
        }, submitHandler:function(form) {
            $('button[type="submit"]').attr("disabled", "disabled");
            $.post("{{base_url}}/backoffice/settings/add-module",$(form).serialize(), function(response) {
                var data = JSON.parse(response);
                if (data.response_code == 0) {
                    BootstrapDialog.show({
                        title: 'Success',
                        message:data.response_msg,
                        buttons: [{
                            label: 'Close',
                            action: function(dialog) {
                                dialog.close();
                                window.location = "{{base_url}}/backoffice/settings/modules";
                            }                            
                        }]
                    });

                } else {
                    BootstrapDialog.show({
                        title: 'Error',
                        type: BootstrapDialog.TYPE_WARNING,
                        message:data.response_msg,
                        buttons: [{
                            label: 'Close',
                            action: function(dialog) {
                                $('button[type="submit"]').removeAttr("disabled");
                                dialog.close();
                            }                            
                        }]
                    });
                }
                return false;
            });
        }
    });
});
</script>
{% endblock %}