{% block content %}
<a href="{{base_url}}/backoffice/whitelist/add" class="pull-right">
    <button class="btn btn-default btn-sm">Add</button>
</a>
<table class="table table-bordered table-responsive table-striped">
    <thead>
    <tr>
        <th class="col-xs-4 text-center">Username</th>
        <th class="col-xs-1 text-center">Status</th>
        <th class="col-xs-2 text-center">Date Created</th>
        <th class="col-xs-2 text-center">Password Expiration</th>
        <th class="col-xs-1 text-center">Action</th>
    </tr>
    </thead>
    <tbody>
    {{users}}
    </tbody>
</table>
{% endblock %}
{% block css_def %}
{% endblock %}
{% block js_def %}
{% endblock %}
{% block js_exec %}{% endblock %}