{% block content %}
<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">Add HR/Administrator Account</h3>
    </div>
    <div class="panel-body">
        <form id="admin" class="form-horizontal" method="POST">
            <div class="form-group">
                <label for="username" class="control-label col-xs-2">Username</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control" id="username" placeholder="Username" name="username" required>
                </div>
            </div>
            <div class="form-group">
                <label for="first_name" class="control-label col-xs-2">First Name</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control" id="first_name" placeholder="First Name" name="first_name" required>
                </div>
            </div>
            <div class="form-group">
                <label for="last_name" class="control-label col-xs-2">Last Name</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control" id="last_name" placeholder="Last Name" name="last_name" required>
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="control-label col-xs-2">E-Mail</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control" id="email" placeholder="E-Mail" name="email" required>
                </div>
            </div>
            <div class="form-group">
                <label for="role" class="control-label col-xs-2">Role</label>
                <div class="col-xs-3">
                    <select class="form-control" id="role" name="role" required>
                        {{roles}}
                    </select>
                </div>
            </div>            
            <hr>
            <div id="admin-misc-data">
                <div class="form-group">
                    <label for="company" class="control-label col-xs-2">Select Company</label>
                    <div class="col-xs-4">
                        <select class="form-control" id="company" name="company_id">
                            <option value="">Select Company</option>
                            {{company_list}}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="department" class="control-label col-xs-2">Select Department</label>
                    <div class="col-xs-4">
                        <select class="form-control" id="department" name="department_id">
                            <option value="">Select Department</option>
                            {{department_list}}
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-offset-5 col-xs-2">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>    
    </div>
</div>
{% endblock %}
{% block css_def %}
{% endblock %}
{% block js_def %}
{% endblock %}
{% block js_exec %}
<script type="text/javascript">
$(document).ready(function() {
    var company_id = 0;
    $("#admin").validate({
        rules: {
            username: {
                required: true
            },
            first_name: {
                required: true
            },
            last_name: {
                required: true
            },
            email: {
                required: true 
            },
            role: {
                required: true
            },
            company_id: {
                required: true
            }
        }, errorPlacement: function(error,element) {
            error.insertAfter(element.parent());
        }, submitHandler:function(form) {
            submitForm($(form).serialize(),"{{base_url}}/backoffice/accounts/admin/add");
            return false;
        }
    });

    $("#admin-misc-data").hide();

    $("#role").on("change",function() {
        var selected_id = $(this).val();
        console.log(selected_id);
        if (selected_id == 2) {
            $("#admin-misc-data").show();
        } else {
            $("#admin-misc-data").hide();
        }
    });

    $("#company").on("change",function() {
        company_id = $(this).val();
        console.log(company_id);
        var data = {
            company_id:company_id
        };
        var spinner = new Spinner().spin($("body")[0]);
        $.ajax({
            type: "POST",
            dataType: "json",
            url: "{{base_url}}/backoffice/accounts/admin/get-department",
            data: JSON.stringify(data),
            success: function(data,status,xhr) {
                //console.log(JSON.stringify(data))
                if (data.response_code == 0) {
                    var body = "<option value=\"\">Select Department</option>";
                    $.each(data.data,function(index,item) {
                        body = body + "<option value=\"" + item.id + "\">" + item.department_name + "</option>";
                    });
                    $("#department").html(body);
                } else {
                    $("#department").html("<option value=\"\">Select Department</option>");
                }
                spinner.stop();
            },
            error: function(xhr,status,error) {
                // console.log(error);
                spinner.stop();
            }
        });
    });
});
</script>
{% endblock %}