{% block content %}
<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">Account Details</h3>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" method="POST" id="edit_account">
        <div class="col-xs-5">
            <div class="panel panel-body">
                <div class="form-group">
                    <label for="username" class="control-label col-xs-4">Username</label>
                    <div class="col-xs-8">
                        <input type="text" class="form-control" id="username" placeholder="Username" value="{{username}}" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label for="first_name" class="control-label col-xs-4">First Name</label>
                    <div class="col-xs-8">
                        <input type="text" class="form-control" id="first_name" placeholder="First Name" value="{{first_name}}" name="first_name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="last_name" class="control-label col-xs-4">Last Name</label>
                    <div class="col-xs-8">
                        <input type="text" class="form-control" id="last_name" placeholder="Last Name" value="{{last_name}}" name="last_name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="control-label col-xs-4">E-Mail</label>
                    <div class="col-xs-8">
                        <input type="text" class="form-control" id="email" placeholder="E-Mail" value="{{email}}" name="email">
                    </div>
                </div>
                <div class="form-group">
                    <label for="resend" class="control-label col-xs-4">Password</label>
                    <div class="col-xs-8">
                        <button type="button" class="btn btn-info col-xs-8" id="resend" name="resend">Re-send Password</button>
                    </div>
                </div>
                <div class="form-group">
                    <label for="role" class="control-label col-xs-4">Role</label>
                    <div class="col-xs-8">
                        <select class="form-control" id="role" name="role" required>
                            {{roles}}
                        </select>
                    </div>
                </div>
                <hr>
                <div id="admin-misc-data">
                    <div class="form-group">
                        <label for="company" class="control-label col-xs-4">Select Company</label>
                        <div class="col-xs-8">
                            <select class="form-control" id="company" name="company_id">
                                <option value="">Select Company</option>
                                {{company_list}}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="department" class="control-label col-xs-4">Select Department</label>
                        <div class="col-xs-8">
                            <select class="form-control" id="department" name="department_id">
                                <option value="">Select Department</option>
                                {{department_list}}
                            </select>
                        </div>
                    </div>
                </div>                
                <div class="form-group">
                    <div class="col-xs-offset-4 col-xs-8">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-7 checkbox">
            <table class="table table-responsive table-striped">
                <thead>
                <tr>
                    <th class="col-xs-9 text-center">Menu</th>
                    <th class="col-xs-2 text-center">&nbsp;</th>
                    <th class="col-xs-2 text-center">View</th>
                    <th class="col-xs-2 text-center">Add</th>
                    <th class="col-xs-2 text-center">Edit</th>
                    <th class="col-xs-2 text-center">Delete</th>
                </tr>
                </thead>
                <tbody>
                {{menus}}
                </tbody>
            </table>
        </div>
        </form>        
    </div>    
</div>
{% endblock %}
{% block css_def %}
{% endblock %}
{% block js_def %}
{% endblock %}
{% block js_exec %}
<script type="text/javascript">
$(document).ready(function() {
    checkCheckboxes();
    $("#admin-misc-data").hide();

    $("#role").on("change",function() {
        var selected_id = $(this).val();
        console.log(selected_id);
        if (selected_id == 2) {
            $("#admin-misc-data").show();
        } else {
            $("#admin-misc-data").hide();
        }
    });

    $("#role").trigger("change");

    $("#company").on("change",function() {
        company_id = $(this).val();
        console.log(company_id);
        var data = {
            company_id:company_id
        };
        var spinner = new Spinner().spin($("body")[0]);
        $.ajax({
            type: "POST",
            dataType: "json",
            url: "{{base_url}}/backoffice/accounts/admin/get-department",
            data: JSON.stringify(data),
            success: function(data,status,xhr) {
                //console.log(JSON.stringify(data))
                if (data.response_code == 0) {
                    var body = "<option value=\"\">Select Department</option>";
                    $.each(data.data,function(index,item) {
                        body = body + "<option value=\"" + item.id + "\">" + item.department_name + "</option>";
                    });
                    $("#department").html(body);
                } else {
                    $("#department").html("<option value=\"\">Select Department</option>");
                }
                spinner.stop();
            },
            error: function(xhr,status,error) {
                // console.log(error);
                spinner.stop();
            }
        });
    });

    $("#resend").on('click',function(e) {
        window.location = "{{base_url}}/backoffice/accounts/admin/changepass/{{id}}";
    });

    $("input[type=checkbox]").on('click', function(){
        checkCheckboxes();
    });

    $("#edit_account").validate({
        rules: {
            first_name: {
                required: true
            },
            last_name: {
                required: true
            },
            email: {
                required: true
            },
            company_id: {
                required: true
            }
        }, errorPlacement: function(error,element) {
            error.insertAfter(element.parent());
        }, submitHandler:function(form) {
            var spinner = new Spinner().spin($("body")[0]);
            $('button[type="submit"]').attr("disabled", "disabled");

            $.post("{{base_url}}/backoffice/accounts/admin/edit/{{id}}",
                    $(form).serialize(), function(response) {
                    var data = JSON.parse(response);

                    if(data.response_code == 0) {
                        spinner.stop();
                        showSuccessDialog(data.response_msg);
                    } else {
                        spinner.stop();
                        showWarningDialog(data.response_msg);
                    }

            });
        }
    });
});

function checkCheckboxes() {

    $.each($("input[type=checkbox]"), function (i, item) {
        if($(this).is(":checked")) {
            $(this).val(1);
        } else {
            $(this).val(0);
        }
    });
}

function showWarningDialog(msg) {
    BootstrapDialog.show({
        title: 'Error',
        type: BootstrapDialog.TYPE_WARNING,
        message:msg,
        buttons: [{
            label: 'Close',
            action: function(dialog) {
                dialog.close();;
            }
        }]
    });
}

function showSuccessDialog(msg) {
    BootstrapDialog.show({
        title: 'Success',
        message:msg,
        buttons: [{
            label: 'Close',
            action: function(dialog) {
                dialog.close();
                window.location = requestPath() + "backoffice/accounts/admin";
            }
        }]
    });
}
</script>
{% endblock %}