{% block content %}
<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">Account Details</h3>
    </div>
    <div class="panel-body">
        <div class="col-xs-5">
            <div class="panel panel-body">
                <form class="form-horizontal" method="POST">
                    <div class="form-group">
                        <label for="username" class="control-label col-xs-4">Username</label>
                        <div class="col-xs-8">
                            <input type="text" class="form-control" id="username" placeholder="Username" value="{{username}}"disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="first_name" class="control-label col-xs-4">First Name</label>
                        <div class="col-xs-8">
                            <input type="text" class="form-control" id="first_name" placeholder="First Name" value="{{first_name}}" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="last_name" class="control-label col-xs-4">Last Name</label>
                        <div class="col-xs-8">
                            <input type="text" class="form-control" id="last_name" placeholder="Last Name" value="{{last_name}}" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="control-label col-xs-4">E-Mail</label>
                        <div class="col-xs-8">
                            <input type="text" class="form-control" id="email" placeholder="E-Mail" value="{{email}}" disabled>
                        </div>
                    </div>                    
                    <div class="form-group">
                        <label for="role" class="control-label col-xs-4">Role</label>
                        <div class="col-xs-8">
                            <input type="text" class="form-control" id="role" placeholder="Role" value="{{role}}" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="date_created" class="control-label col-xs-4">Date Created</label>
                        <div class="col-xs-8">
                            <input type="text" class="form-control" id="date_created" placeholder="Date Created" value="{{date_created}}" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="created_by" class="control-label col-xs-4">Created By</label>
                        <div class="col-xs-8">
                            <input type="text" class="form-control" id="created_by" placeholder="Created By" value="{{created_by}}" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="date_modified" class="control-label col-xs-4">Date Modified</label>
                        <div class="col-xs-8">
                            <input type="text" class="form-control" id="date_modified" placeholder="Date Modified" value="{{date_modified}}" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="modified_by" class="control-label col-xs-4">Modified By</label>
                        <div class="col-xs-8">
                            <input type="text" class="form-control" id="modified_by" placeholder="Modified By" value="{{modified_by}}" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-offset-4 col-xs-8">
                            <button type="button" id="repair_permission" class="btn btn-info" id="repair_permission">Repair Permission</button>
                        </div>
                    </div>                                                                                                
                </form>
            </div>
        </div>
        <div class="col-xs-7">
            <table class="table table-responsive table-striped">
                <thead>
                <tr>
                    <th class="col-xs-9 text-center">Menu</th>
                    <!-- <th class="col-xs-2 text-center">&nbsp;</th>-->
                    <th class="col-xs-2 text-center">View</th>
                    <th class="col-xs-2 text-center">Add</th>
                    <th class="col-xs-2 text-center">Edit</th>
                    <th class="col-xs-2 text-center">Delete</th>
                </tr>
                </thead>
                <tbody>
                {{menus}}
                </tbody>
            </table>
        </div>
    </div>    
</div>
{% endblock %}
{% block css_def %}
{% endblock %}
{% block js_def %}
{% endblock %}
{% block js_exec %}
<script type="text/javascript">
$(document).ready(function() {
    $("#repair_permission").on("click",function() {
        var data = {
            id:{{id}}
        };
        var spinner = new Spinner().spin($('body')[0]);
        $.post("{{base_url}}/backoffice/accounts/admin/repair",data,function(response) {
            spinner.stop();
            var data = JSON.parse(response);
            if (data.response_code == 0) {
                BootstrapDialog.show({
                    title: 'Success',
                    message:data.response_msg,
                    buttons: [{
                        label: 'Close',
                        action: function(dialog) {
                            window.location = "{{base_url}}/backoffice/accounts/admin/{{id}}";
                            dialog.close();
                        }                            
                    }]
                });
            } else {
                BootstrapDialog.show({
                    title: 'Error',
                    type: BootstrapDialog.TYPE_WARNING,
                    message:data.response_msg,
                    buttons: [{
                        label: 'Close',
                        action: function(dialog) {
                            dialog.close();
                        }                            
                    }]
                });
            }
            return false;
        });
    });
})
</script>
{% endblock %}