{% block content %}
<a href="{{base_url}}/backoffice/company/add">
    <button class="btn btn-default btn-sm">Add</button>
</a>
<table class="table table-bordered table-responsive table-striped">
    <thead>
    <tr>
        <th class="text-center">ID</th>
        <th class="text-center">Username</th>
        <th class="text-center">Role</th>
        <th class="text-center">Date Created</th>
        <th class="text-center">Action</th>
    </tr>
    </thead>
    <tbody>
    {{users}}
    </tbody>
</table>
{% endblock %}
{% block css_def %}
{% endblock %}
{% block js_def %}
{% endblock %}
{% block js_exec %}{% endblock %}