{% block content %}
<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">Supervisor Accounts</h3>
    </div>
    <div class="panel-body">
        <div id="toolbar">
            <div class="form-inline">
                <div class="form-group">
                    <button type="button" class="btn btn-info btn-action btn-add-employee"><i class="fa fa-plus"></i> <span>Add Supervisor</span></button>
                </div>
                <div class="form-group">
                    <div class="align-center">
                        <select class="form-control" id="company-filter">
                            <!--<option value="0">All</option>-->
                            {{company_list}}
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <table id="table" 
            data-toggle="table"
            data-toolbar="#toolbar"
            data-search="true"
            data-show-refresh="true"
            data-sort-name="id"
            data-page-list="[5, 10, 20]"
            data-page-size="5"
            data-pagination="true"
            data-side-pagination="server"
            data-striped="true"
            data-url="{{base_url}}/backoffice/accounts/supervisor/list/data"
            data-method="post"
            data-query-params="postQueryParams">
            <thead>
                <tr>
                    <th data-field="id">ID</th>
                    <th data-field="full_name">Full Name</th>
                    <th data-field="company">Company</th>
                    <th data-field="department">Department</th>
                    <th data-field="email">E-Mail</th>
                    <th data-field="date_created">Date Created</th>
                    <th data-field="operate" data-formatter="operateFormatter" data-align="center" data-valign="middle" data-events="operateEvents">Action</th>
                </tr>
            </thead>
        </table>    
    </div>
</div>
{% endblock %}
{% block css_def %}
{% endblock %}
{% block js_def %}
{% endblock %}
{% block js_exec %}
<script>
var company_id = 0;
function operateFormatter(value, row, index) {
    return [
            '<a class="btn btn-default action-button-item view" href="javascript:void(0)" title="View"><i class="fa fa-eye"></i></a>',
            '<a class="btn btn-default action-button-item edit" href="javascript:void(0)" title="Edit"><i class="fa fa-edit"></i></a>',
            '<a class="btn btn-default action-button-item delete" href="javascript:void(0)" title="Delete"><i class="fa fa-trash"></i></a>'
        ].join('');
}

window.operateEvents = {
    'click .view': function (e, value, row, index) {
        redirectTo("{{base_url}}/backoffice/whitelist/view/"+row.id);
    },
    'click .edit': function (e, value, row, index) {
        redirectTo("{{base_url}}/backoffice/whitelist/edit/"+row.id);
    },
    'click .delete': function (e, value, row, index) {

        BootstrapDialog.show({
            title: 'Confirm',
            message:"Are you sure you want to delete this item?",
            closable: false,
            buttons:[{
                label:"Yes",
                action:function(dialog) {
                    dialog.close();
                    $.get("{{base_url}}/backoffice/whitelist/delete/"+row.id,function(response) {
                        var data = JSON.parse(response);
                        if (data.response_code == 0) {
                            BootstrapDialog.show({
                                title: 'Success',
                                message:data.response_msg,
                                closable: false,
                                buttons:[{
                                    label:"Close",
                                    action:function(dialog) {
                                        dialog.close();
                                        $table.bootstrapTable('refresh');
                                    }
                                }]
                            });
                        } else {
                            BootstrapDialog.show({
                                title: 'Error',
                                type: BootstrapDialog.TYPE_WARNING,
                                closable: false,
                                message:data.response_msg,
                                buttons:[{
                                    label:"Close",
                                    action:function(dialog) {
                                        dialog.close();
                                    }
                                }]
                            });
                        }
                        return false;
                    });
                }
            },{
                label:"Cancel",
                action:function(dialog) {
                    dialog.close();
                }
            }]
        });
    }
};

function redirectTo(url) {
    window.location = url;
}

function postQueryParams(params) {
    params.company_id = company_id;
    return JSON.stringify(params);
}

var $table = $('#table');

$(function() {
    $table.on('load-success.bs.table',function(e,data) {
        $table.bootstrapTable('hideLoading');
    })
    .on('load-error.bs.table',function(e,status) {
        $table.bootstrapTable('hideLoading');
    });
});

$(document).ready(function() {
    $(".btn-add-employee").on('click',function() {
        redirectTo("{{base_url}}/backoffice/whitelist/add");
    });
    
    $("#company-filter").on('change',function() {
        company_id = $(this).val();
        $table.bootstrapTable('refresh');
    });

    $("#company-filter").trigger("change");
});
</script>
{% endblock %}