{% block content %}
<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">Company Sites</h3>
    </div>
    <div class="panel-body">
        <div id="toolbar">
            <div class="form-inline">
                <div class="form-group">
                    <button type="button" class="btn btn-info btn-action btn-bulk-upload"><i class="fa fa-upload"></i> <span>Bulk Upload</span></button>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-info btn-action btn-export"><i class="fa fa-export"></i> <span>Export</span></button>
                </div>
                <div class="form-group">
                    <div class="align-center">
                        <select class="form-control" id="company-filter">
                            <option value="0">All</option>
                            {{company_list}}
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <table id="table"
               data-toggle="table"
               data-toolbar="#toolbar"
               data-url="{{base_url}}/backoffice/site/list/data"
               data-search="true"
               data-show-refresh="true"
               data-sort-name="id"
               data-page-list="[5, 10, 20]"
               data-page-size="5"
               data-method="post"
               data-pagination="true"
               data-side-pagination="server"
               data-striped="true"
               data-query-params="postQueryParams">
            <thead>
                <tr>
                    <th data-field="id">ID</th>
                    <th data-field="site">Site</th>
                    <th data-field="company">Company</th>
                    <th data-field="operate" data-formatter="operateFormatter" data-align="center" data-valign="middle" data-events="operateEvents">Action</th>
                </tr>
            </thead>
        </table>

    </div>
</div>
{% endblock %}
{% block css_def %}
{% endblock %}
{% block js_def %}
<script src="{{base_url}}/assets/js/site/list.js"></script>
{% endblock %}
{% block js_exec %}
<script type="text/javascript">

    var company_id = 0;
    function redirectTo(url) {
        window.location = url;
    }

    function postQueryParams(params) {
        params.company_id = company_id;
        return JSON.stringify(params);
    }

    var $table = $('#table');

    $(function() {
        $table.on('load-success.bs.table',function(e,data) {
            $table.bootstrapTable('hideLoading');
        })
                .on('load-error.bs.table',function(e,status) {
                    $table.bootstrapTable('hideLoading');
                });
    });

    $(document).ready(function() {

        $(".btn-bulk-upload").on('click',function() {
            redirectTo("{{base_url}}/backoffice/site/bulk");
        });

        $(".btn-export").on('click',function() {
            var id = $("#company-filter").val();
            redirectTo("{{base_url}}/backoffice/site/export/" + id);
        });

        $("#company-filter").on('change',function() {
            company_id = $(this).val();
            $table.bootstrapTable('refresh');
        });

    });
</script>
{% endblock %}