{% block content %}
<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">Bulk Upload - Sites</h3>
    </div>
    <div class="panel-body">
        <form id="bulk-upload" class="form-horizontal" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label class="col-xs-2 control-label">Bulk Upload</label>
                <div class="col-xs-2">
                    <span class="btn btn-default btn-file">
                        <span id="label">Choose File To Upload</span><input type="file" id="file" name="file" accept=".csv">
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-2 control-label">Company</label>
                <div class="col-xs-4">
                    <select class="form-control" id="company-filter" name="company_filter">
                        {{company_list}}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="action" class="control-label col-xs-2">Action</label>
                <div class="col-xs-4">
                    <select class="form-control" name="action" id="action">
                        <option value="add">Add</option>
                        <option value="update">Update</option>
                        <option value="delete">Delete</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-offset-2 col-xs-4">
                    <div class="pull-right">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </form>
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">Upload History</h3>
            </div>
            <div class="panel-body">
                <table class="table table-striped table-responsive">
                    <thead>
                    <th>File Name</th>
                    <th>Date Uploaded</th>
                    <th>Section</th>
                    <th>Action</th>
                    <th>Uploaded By</th>
                    <th>Hash</th>
                    </thead>
                    {{upload_list}}
                </table>
            </div>
        </div>
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">Download History</h3>
            </div>
            <div class="panel-body">
                <table class="table table-striped table-responsive">
                    <thead>
                    <th>File Name</th>
                    <th>Date Downloaded</th>
                    <th>Downloaded By</th>
                    <th>Hash</th>
                    </thead>
                    {{download_list}}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block css_def %}
{% endblock %}
{% block js_def %}
{% endblock %}
{% block js_exec %}
<script>
    $(document).ready(function() {
        $("#file").on("change",function() {
            $("#label").text("File to upload: " + $(this).val().split('\\\\').pop());
        });
        $("#bulk-upload").validate({
            rules: {
                file: {
                    required: true,
                },
                action: {
                    required: true
                }
            }, errorPlacement: function(error,element) {
                error.insertAfter(element.parent());
            }, submitHandler:function(form) {
                $('button[type="submit"]').attr("disabled", "disabled");
                var formData = new FormData(form);
                $.ajax({
                    url: "{{base_url}}/backoffice/site/bulk",
                    type: "POST",
                    data: formData,
                    mimeType: "multipart/form-data",
                    contentType: false,
                    cache: false,
                    processData: false,
                    success: function (response, status,xhr) {
                        console.log(response);
                        var data = JSON.parse(response);
                        if (data.response_code == 0) {
                            BootstrapDialog.show({
                                message:data.response_msg,
                                buttons: [{
                                    label: 'Close',
                                    action: function(dialog) {
                                        dialog.close();
                                        window.location = "{{base_url}}/backoffice/site/bulk";
                                    }
                                }]
                            });
                        } else {
                            BootstrapDialog.show({
                                message:data.response_msg,
                                buttons: [{
                                    label: 'Close',
                                    action: function(dialog) {
                                        $('button[type="submit"]').removeAttr("disabled");
                                        dialog.close();
                                    }
                                }]
                            });
                        }
                    },error: function(xhr,status,error) {
                        console.log(error);
                    }
                });

                return false;
            }
        });
    });
</script>
{% endblock %}