{% block content %}

<h3>Add Employee</h3>
<div class="panel-body">
    <form class="form-horizontal" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="first_name" class="control-label col-xs-2">Bulk upload</label>
            <div class="col-xs-4">
                <input type="file" name="file" id="file" />
            </div>
        </div>
        <div class="form-group">
            <label for="first_name" class="control-label col-xs-2">First Name</label>
            <div class="col-xs-4">
                <input type="text" class="form-control" id="first_name" placeholder="First Name" name="first_name">
            </div>
        </div>
        <div class="form-group">
            <label for="last_name" class="control-label col-xs-2">Last Name</label>
            <div class="col-xs-4">
                <input type="text" class="form-control" id="last_name" placeholder="Last Name" name="last_name">
            </div>
        </div>
        <div class="form-group">
            <label for="middle_initial" class="control-label col-xs-2">Middle Initial</label>
            <div class="col-xs-4">
                <input type="text" class="form-control" id="middle_initial" placeholder="Middle Initial" name="middle_initial">
            </div>
        </div>
        <div class="form-group">
            <label for="company" class="control-label col-xs-2">Company</label>
            <div class="col-xs-4">
                <select class="form-control" id="company" name="company_id">
                    {{companies}}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="department" class="control-label col-xs-2">Department</label>
            <div class="col-xs-4">
                <select class="form-control" id="department" name="department_id">
                    {{departments}}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="position" class="control-label col-xs-2">Position</label>
            <div class="col-xs-4">
                <input type="text" class="form-control" id="position" placeholder="Position" name="position">
            </div>
        </div>
        <div class="form-group">
            <label for="mobile_no" class="control-label col-xs-2">Mobile No</label>
            <div class="col-xs-4">
                <input type="text" class="form-control" id="mobile_no" placeholder="Mobile No." name="mobile_no">
            </div>
        </div>
        <div class="form-group">
            <label for="email" class="control-label col-xs-2">E-mail</label>
            <div class="col-xs-4">
                <input type="text" class="form-control" id="email" placeholder="E-mail" name="email">
            </div>
        </div>
        <div class="form-group">
            <label for="employee_no" class="control-label col-xs-2">Employee No.</label>
            <div class="col-xs-4">
                <input type="text" class="form-control" id="employee_no" placeholder="Employee No" name="employee_no">
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-offset-2 col-xs-4">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
{% block css_def %}
<!--CSS Script-->
<link rel="stylesheet" href="{{base_url}}/assets/css/normalize.css">
<link rel="stylesheet" href="{{base_url}}/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="{{base_url}}/assets/fonts/css/font-awesome.min.css">

<link rel="stylesheet" href="{{base_url}}/assets/css/jquery-ui.min.css">
<!--CSS Custom Script-->
<link rel="stylesheet" href="{{base_url}}/assets/css/backoffice.css">
{% endblock %}
{% block js_def %}
<!--modernizr reset-->
<script src="{{base_url}}/assets/js/modernizr.js"></script>

<!--Javascript-->
<script src="{{base_url}}/assets/js/jquery-1.11.2.min.js"></script>
<script src="{{base_url}}/assets/js/bootstrap.min.js"></script>
<script src="{{base_url}}/assets/js/jquery-ui.min.js"></script>
{% endblock %}
{% block js_exec %}{% endblock %}