{% block content %}
    <form class="form-horizontal">
        <div class="form-group">
            <label for="first_name" class="control-label col-xs-2">First Name</label>
            <div class="col-xs-4">
                <input type="text" class="form-control" id="first_name" placeholder="First Name" name="first_name" value="{{first_name}}">
            </div>
        </div>
        <div class="form-group">
            <label for="last_name" class="control-label col-xs-2">Last Name</label>
            <div class="col-xs-4">
                <input type="text" class="form-control" id="last_name" placeholder="Last Name" name="last_name" value="{{last_name}}">
            </div>
        </div>
        <div class="form-group">
            <label for="email" class="control-label col-xs-2">E-mail</label>
            <div class="col-xs-4">
                <input type="text" class="form-control" id="email" placeholder="E-mail" name="email" value="{{email}}">
            </div>
        </div>
        <div class="form-group">
            <label for="address" class="control-label col-xs-2">Address</label>
            <div class="col-xs-4">
                <textarea class="form-control" id="address" name="address">{{address}}</textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="mobile_no" class="control-label col-xs-2">Mobile No</label>
            <div class="col-xs-4">
                <input type="text" class="form-control" id="mobile_no" placeholder="Mobile Number" name="mobile_no" value="{{mobile_no}}">
            </div>
        </div>
        <div class="form-group">
            <label for="landline_no" class="control-label col-xs-2">Landline No</label>
            <div class="col-xs-4">
                <input type="text" class="form-control" id="landline_no" placeholder="Landline Number" name="landline_no" value="{{landline_no}}">
            </div>
        </div>
        <div class="form-group">
            <label for="blood_type" class="control-label col-xs-2">Blood Type</label>
            <div class="col-xs-4">
                <select class="form-control" id="blood_type">
                    <option name="1">A+</option>
                    <option name="2">A-</option>
                    <option name="3">B+</option>
                    <option name="4">B-</option>
                    <option name="5">A/B+</option>
                    <option name="5">A/B-</option>
                    <option name="6">O+</option>
                    <option name="6">O-</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="gender" class="control-label col-xs-2">Gender</label>
            <div class="col-xs-4">
                <select class="form-control" id="gender">
                    <option name="1">Male</option>
                    <option name="2">Female</option>
                    <option name="3">Unknown</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="role" class="control-label col-xs-2">Role</label>
            <div class="col-xs-4">
                <select class="form-control" id="role">
                    <option name="1">Administrator</option>
                    <option name="2">Supervisor</option>
                    <option name="3">Rescuer</option>
                    <option name="4">Employee</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="company" class="control-label col-xs-2">Company</label>
            <div class="col-xs-4">
                <select class="form-control" id="company">
                    <option name="1">Yondu</option>
                    <option name="2">Globe Telecom</option>
                    <option name="3">AGC</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="department" class="control-label col-xs-2">Department</label>
            <div class="col-xs-4">
                <select class="form-control" id="department">
                    <option name="1">Section 8</option>
                    <option name="2">TOP-SDG</option>
                    <option name="3">NMDS</option>
                </select>
            </div>
        </div>
        <hr>
        <div class="form-group">
            <label for="emergency_name" class="control-label col-xs-2">Emergency Name</label>
            <div class="col-xs-4">
                <input type="text" class="form-control" id="emergency_name" placeholder="Name">
            </div>
        </div>
        <div class="form-group">
            <label for="emergency_address" class="control-label col-xs-2">Address</label>
            <div class="col-xs-4">
                <textarea class="form-control" id="emergency_address"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="emergency_mobile_no" class="control-label col-xs-2">Contact No.</label>
            <div class="col-xs-4">
                <input type="text" class="form-control" id="emergency_mobile_no" placeholder="Contact No.">
            </div>
        </div>
        <div class="form-group">
            <label for="emergency_landline" class="control-label col-xs-2">Landline.</label>
            <div class="col-xs-4">
                <input type="text" class="form-control" id="emergency_landline" placeholder="Landline No.">
            </div>
        </div>
        <div class="form-group">
            <label for="relationship" class="control-label col-xs-2">Relationship</label>
            <div class="col-xs-4">
                <input type="text" class="form-control" id="relationship" placeholder="Relationship">
            </div>
        </div>
        <hr>
        <div class="form-group">
            <label for="emergency_name2" class="control-label col-xs-2">Emergency Name</label>
            <div class="col-xs-4">
                <input type="text" class="form-control" id="emergency_name2" placeholder="Name">
            </div>
        </div>
        <div class="form-group">
            <label for="emergency_address2" class="control-label col-xs-2">Address</label>
            <div class="col-xs-4">
                <textarea class="form-control" id="emergency_address2"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="emergency_mobile_no2" class="control-label col-xs-2">Mobile No.</label>
            <div class="col-xs-4">
                <input type="text" class="form-control" id="emergency_mobile_no2" placeholder="Mobile No.">
            </div>
        </div>
        <div class="form-group">
            <label for="emergency_landline2" class="control-label col-xs-2">Landline.</label>
            <div class="col-xs-4">
                <input type="text" class="form-control" id="emergency_landline2" placeholder="Landline No.">
            </div>
        </div>
        <div class="form-group">
            <label for="relationship2" class="control-label col-xs-2">Relationship</label>
            <div class="col-xs-4">
                <input type="text" class="form-control" id="relationship2" placeholder="Relationship">
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-offset-2 col-xs-4">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
{% endblock %}
{% block css_def %}
<!--CSS Script-->
<link rel="stylesheet" href="{{base_url}}/assets/css/normalize.css">
<link rel="stylesheet" href="{{base_url}}/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="{{base_url}}/assets/fonts/css/font-awesome.min.css">

<link rel="stylesheet" href="{{base_url}}/assets/css/jquery-ui.min.css">
<!--CSS Custom Script-->
<link rel="stylesheet" href="{{base_url}}/assets/css/backoffice.css">
{% endblock %}
{% block js_def %}
<!--modernizr reset-->
<script src="{{base_url}}/assets/js/modernizr.js"></script>

<!--Javascript-->
<script src="{{base_url}}/assets/js/jquery-1.11.2.min.js"></script>
<script src="{{base_url}}/assets/js/bootstrap.min.js"></script>
<script src="{{base_url}}/assets/js/jquery-ui.min.js"></script>
{% endblock %}
{% block js_exec %}{% endblock %}