{% block content %}
<div class="panel-body">
    <table class="table table-bordered table-responsive table-striped">
        <thead>
        <tr>
            <th class="col-xs-1 text-center">Username</th>
            <th class="col-xs-2 text-center">Full Name</th>
            <th class="col-xs-1 text-center">E-mail</th>
            <th class="col-xs-2 text-center">Company</th>
            <th class="col-xs-2 text-center">Department</th>
            <th class="col-xs-1 text-center">Is Supervisor</th>
            <th class="col-xs-1 text-center">Is Rescuer</th>
            <th class="col-xs-2 text-center">Action</th>
        </tr>
        </thead>
        <tbody>
        {{employees}}
        </tbody>
    </table>
    <nav class="pull-right">
        <ul class="pagination">
            {{pages}}
        </ul>
    </nav>
</div>
{% endblock %}
{% block css_def %}
{% endblock %}
{% block js_def %}
{% endblock %}
{% block js_exec %}
<script>
    $(document).ready(function() {
        on_option_selected(".cmd_edit",function(id) {
            window.location = "{{base_url}}/backoffice/employee/edit/"+id;
        });

        on_option_selected(".cmd_delete",function(id) {
            window.location = "{{base_url}}/backoffice/employee/delete/"+id;
        });

        on_option_selected(".cmd_view",function(id) {
            window.location = "{{base_url}}/backoffice/employee/view/"+id;
        });

        function on_option_selected(command,callback) {
            $(command).each(function(index) {
                $(this).on("click",function() {
                    if (callback != null) {
                        var id = $(this).attr("rel");
                        callback(id);
                    }
                });
            });
        }
    });
</script>
{% endblock %}