{% block content %}
    <form class="form-horizontal">
        <div class="form-group">
            <label for="first_name" class="control-label col-xs-2">First Name</label>
            <div class="col-xs-4">
                <input type="text" class="form-control" id="first_name" placeholder="First Name" value="{{first_name}}" disabled readonly>
            </div>
        </div>
        <div class="form-group">
            <label for="last_name" class="control-label col-xs-2">Last Name</label>
            <div class="col-xs-4">
                <input type="text" class="form-control" id="last_name" placeholder="Last Name" value="{{last_name}}" disabled readonly>
            </div>
        </div>
        <div class="form-group">
            <label for="email" class="control-label col-xs-2">E-mail</label>
            <div class="col-xs-4">
                <input type="text" class="form-control" id="email" placeholder="E-mail" value="{{email}}" disabled readonly>
            </div>
        </div>
        <div class="form-group">
            <label for="address" class="control-label col-xs-2">Address</label>
            <div class="col-xs-4">
                <textarea class="form-control" id="address" disabled readonly>{{address}}</textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="mobile_no" class="control-label col-xs-2">Mobile No</label>
            <div class="col-xs-4">
                <input type="text" class="form-control" id="mobile_no" placeholder="Mobile Number" value="{{mobile_no}}" disabled readonly>
            </div>
        </div>
        <div class="form-group">
            <label for="landline_no" class="control-label col-xs-2">Landline No</label>
            <div class="col-xs-4">
                <input type="text" class="form-control" id="landline_no" placeholder="Landline Number" value="{{landline_no}}" disabled readonly>
            </div>
        </div>
        <div class="form-group">
            <label for="blood_type" class="control-label col-xs-2">Blood Type</label>
            <div class="col-xs-4">
                <input type="text" class="form-control" id="blood_type" placeholder="Blood Type" value="{{blood_type}}" disabled readonly>
            </div>
        </div>
        <div class="form-group">
            <label for="gender" class="control-label col-xs-2">Gender</label>
            <div class="col-xs-4">
                <input type="text" class="form-control" id="gender" placeholder="Gender" value="{{gender}}" disabled readonly>
            </div>
        </div>
        <div class="form-group">
            <label for="role" class="control-label col-xs-2">Role</label>
            <div class="col-xs-4">
                <input type="text" class="form-control" id="role" placeholder="Role" value="{{role}}" disabled readonly>
            </div>
        </div>
        <div class="form-group">
            <label for="company" class="control-label col-xs-2">Company</label>
            <div class="col-xs-4">
                <input type="text" class="form-control" id="company" placeholder="Company" value="{{company}}" disabled readonly>
            </div>
        </div>
        <div class="form-group">
            <label for="department" class="control-label col-xs-2">Department</label>
            <div class="col-xs-4">
                <input type="text" class="form-control" id="department" placeholder="Department" value="{{department}}" disabled readonly>
            </div>
        </div>
        <hr>
        <div class="form-group">
            <label for="emergency_name" class="control-label col-xs-2">Emergency Name</label>
            <div class="col-xs-4">
                <input type="text" class="form-control" id="emergency_name" placeholder="Name" value="{{emergency_name}}" disabled readonly>
            </div>
        </div>
        <div class="form-group">
            <label for="emergency_address" class="control-label col-xs-2">Address</label>
            <div class="col-xs-4">
                <textarea class="form-control" id="emergency_address" disabled readonly>{{emergency_address}}</textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="emergency_mobile_no" class="control-label col-xs-2">Contact No.</label>
            <div class="col-xs-4">
                <input type="text" class="form-control" id="emergency_mobile_no" placeholder="Mobile No." value="{{emergency_contact_no}}" disabled readonly>
            </div>
        </div>
        <div class="form-group">
            <label for="relationship" class="control-label col-xs-2">Relationship</label>
            <div class="col-xs-4">
                <input type="text" class="form-control" id="relationship" placeholder="Relationship" value="{{emergency_relationship}}" disabled readonly>
            </div>
        </div>
        <hr>
        <div class="form-group">
            <label for="emergency_name2" class="control-label col-xs-2">Emergency Name</label>
            <div class="col-xs-4">
                <input type="text" class="form-control" id="emergency_name2" placeholder="Name" value="{{emergency_name_two}}" disabled readonly>
            </div>
        </div>
        <div class="form-group">
            <label for="emergency_address2" class="control-label col-xs-2">Address</label>
            <div class="col-xs-4">
                <textarea class="form-control" id="emergency_address2" disabled readonly>{{emergency_address_two}}</textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="emergency_mobile_no2" class="control-label col-xs-2">Contact No.</label>
            <div class="col-xs-4">
                <input type="text" class="form-control" id="emergency_mobile_no2" placeholder="Mobile No." value="{{emergency_contact_no_two}}" disabled readonly>
            </div>
        </div>
        <div class="form-group">
            <label for="relationship2" class="control-label col-xs-2">Relationship</label>
            <div class="col-xs-4">
                <input type="text" class="form-control" id="relationship2" placeholder="Relationship" value="{{emergency_relationship_two}}" disabled readonly>
            </div>
        </div>
    </form>
{% endblock %}
{% block css_def %}
<!--CSS Script-->
<link rel="stylesheet" href="{{base_url}}/assets/css/normalize.css">
<link rel="stylesheet" href="{{base_url}}/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="{{base_url}}/assets/fonts/css/font-awesome.min.css">

<link rel="stylesheet" href="{{base_url}}/assets/css/jquery-ui.min.css">
<!--CSS Custom Script-->
<link rel="stylesheet" href="{{base_url}}/assets/css/backoffice.css">
{% endblock %}
{% block js_def %}
<!--modernizr reset-->
<script src="{{base_url}}/assets/js/modernizr.js"></script>

<!--Javascript-->
<script src="{{base_url}}/assets/js/jquery-1.11.2.min.js"></script>
<script src="{{base_url}}/assets/js/bootstrap.min.js"></script>
<script src="{{base_url}}/assets/js/jquery-ui.min.js"></script>
{% endblock %}
{% block js_exec %}{% endblock %}