@import url("http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&lang=en");

body {
    overflow: auto;
    background: #f3f3f4;
}

html, body {
    min-height: 100%;
    line-height: 1.42857143;
    height: 100%;
}

* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 9pt;
    color: #333333;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 100;
}

#top-left-panel {
    background: #367fa9;
    height: 50px;
    box-shadow: 1px 1px 4px #080808;
    -moz-box-shadow: 1px 1px 4px #080808;
    -webkit-box-shadow: 1px 1px 4px #080808;
    padding-top: 15px;
}

#top-left-panel > span {
    font-size: 12pt;
    font-weight: bold;
    color: #f9f9f9;
}

#top-panel {
    background: #3c8dbc;
    height: 50px;
    box-shadow: 1px 1px 4px #080808;
    -moz-box-shadow: 1px 1px 4px #080808;
    -webkit-box-shadow: 1px 1px 4px #080808;
}

#left-menu {
    height: 88vh;
    padding: 0;
    width: 16.66666667%;
    background: #ffffff;
}

#left-menu ul li {
    background: #ffffff;
    border-bottom: 1px solid #f2f2f2;
}

#left-menu ul li .active {
    background: #efefef
}

#left-menu .nav > li {
    padding-top: 0;
    padding-bottom: 1px;
}

.navbar-link {
    color: #f8f8f8;
    font-weight: bold;
}

.navbar {
    margin-bottom: 0;
}

.navbar-right {
    margin-right: 0
}

.navbar-toggle  {
    background: #888;
    margin-right: 0;
    margin-left: 5px;
}

#settings-menu {
}

#main-container .row:last-child, #main-container .table:last-child {
    margin-bottom: 30px;
}

.dropdown-menu li a:hover {
    background: #fff;
}

#settings-menu-dropdown > i,
#settings-menu-dropdown > span,
#settings-menu-dropdown span > i {
    font-weight: bold;
    color: #f9f9f9;
}

#settings-menu-dropdown:hover,
#settings-menu-dropdown:active,
#settings-menu-dropdown:link,
#settings-menu-dropdown:visited
{
    color: #fff;
    background-color: #3c8dbc;
    border-color: #fff;
}

#left-menu-logo {
    width: 94.5555555%;
    height: 80px;
    padding: 4px 4px 4px 4px;
}

#left-menu-logo > img {
    height: 80px;
    width: 100%;
    padding: 4px 4px 4px 4px;
}

#content {
    height: 88vh;
    width: 83.33333333%;
}

#content-top-panel {
    background: #f8f8f8;
    height: 60px;
    width: 100%;
    box-shadow: 2px 2px 2px #cdcdcd;
    -moz-box-shadow: 2px 2px 2px #cdcdcd;
    -webkit-box-shadow: 2px 2px 2px #cdcdcd;
    position: absolute;
    z-index: 1;
}

#content-top-panel-header {
    font-size: 24px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

#main-container {
    padding-top: 80px;
    height: 100%;
}

#extras {
    height: 20px;
}

#copyright {
    position: fixed;
    width: 100%;
    height: 26px;
    background: rgba(255,255,255,0.8);
    z-index: 10;
    padding-top: 4px;
    bottom: 0;
}

#copyright > span {
    font-size: 8pt;
    font-weight: 500;
    color: #adadad;
}

.status-box {
    padding: 10px 10px 10px 10px;
    background: #ffffff;
    position: relative;
    box-shadow: 0 1px 1px 1px #e4e6eb;
    border-radius: 2px;
    font-weight: bold;
    font-size: 28pt;
    margin: 0 0 30px 0;
}

.status-box > i {
    color: #ffffff;
    width: 82px;
    padding-left: 24px;
 
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 10px;
}

.status-box div {
    min-width: 135px;
    float:right
}

.status-box-label {
    float:left;
    font-weight: 400;
    font-size: 10pt;
    color: #c7cbd5;
    vertical-align: top;
}

.status-box-value {
    float:left;
    font-size: 20pt;
    font-weight: bold;
    clear:both;
    color: #383e4b;
}

.status-box-color-red {
    background: #ff5454;
}

.status-box-color-blue {
    background: #36a9e1;
}

.toolbar-box {
    height: 40px;
    margin-bottom: 0px;
    margin-top: 10px;
}

.action-button-item {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
}

.resource-contact-logo {
    width: 250px;
    padding: 10px 10px 10px 10px;
    border: 1px solid #f0f0f0;
    margin-bottom: 10px;
}

.error-message {
    font-weight: 400;
    font-size: 10pt;
    color: #dd3c10;
}

.alert-modal-dialog {
    width: 360px;
}

.alert-modal-header {
    background: #367fa9; 
    color: white; 
    padding:10px 15px 10px 15px;
}

.alert-modal-header > button > span {
    font-size: 18pt;
}

.alert-modal-header > h5 {
    padding: 0;
    margin: 0; 
    font-weight: 600;
}

.alert-modal-header > h5 > i {
    color: yellow;
}

.alert-modal-body {
    background: #fffbe9;
}

.error-modal:before {
    content:"";
    display: none;
    background: rgba(0,0,0,0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}

.error-modal:target:before {
    display: block;
}

.error-modal:target .error-modal-dialog {
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    transform: translate(0,0);
    top: 20%;
}

.error-modal-dialog {
    background: #fefefe;
    border: #333333 solid 1px;
    border-radius: 5px;
    margin-left: -200px;
    position: fixed;
    left: 50%; 
    top: -100%; 
    z-index: 11;
    width: 360px;
    -webkit-transform: translate(0,-500%);
    -ms-transform: translate(0,-500%);
    transform: translate(0,-500%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}

#error-modal-close {
    display: none;
}

.error-modal-body {
  padding: 20px;
}

.error-modal-header,
.error-modal-footer {
  padding: 10px 20px;
}

.error-modal-header {
    background: #ff0000;
    color: #ffffff;
}

.error-modal-header {
    border-bottom: #eeeeee solid 1px;
}

.error-modal-header h2 {
    font-size: 20px;
}

.error-modal-footer {
    border-top: #eeeeee solid 1px;
    text-align: right;
}

.content-body {
    margin-bottom: 40px;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    text-align: right;
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

input {
    background-image: none!important;
}

.btn-action {
    background: #0080FF;
}

.btn-action > i {
    color: #ffffff;
}

.btn-action > span {
    color: #ffffff;
    font-weight: 600;
}

.panel-title {
    font-weight: 300;
    padding: 0 20px 0 20px;
    font-size: 1.416em;
    line-height: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    color: inherit;
}

.panel-heading {
    position: relative;
    height: 50px;
    padding: 0;
    border-bottom: 1px solid #f0f0f0;
}

.panel-body .btn {
    margin-bottom: 5px;
}

.panel-body {
    padding: 25px 20px;
}

.photo-preview {
    height: 200px;
}

.align-center {
    float: none;
    display: inline-block;
    vertical-align: middle;
    margin-top: -4px;
}

.top-logo {
    position: absolute;
    top: 0;
	left: 0;
}

.icon-toggle-red {
    color: #ff0000;
}

.effects-1 {
    transition: background-color 0.5s ease;
    background-color: red;
}

.dashboard-box-container {
    margin-bottom: 20px;
    margin-left: 8px;
    margin-right: 8px;
}

.panel-body-default {
    background: #ffffff;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 20px;
}

#graph {
    height: 212px;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    z-index: 100;
}

@-webkit-keyframes fadeInFromRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(20px);
        transform: translateX(20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keuframes fadeInFromRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(20px);
        -ms-transform: translateX(20px);
        transform: translateX(20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    } 
}

.fadeInFromRight {
    -webkit-animation-name: fadeInFromRight;
    animation-name: fadeInFromRight;
}

.icon-red {
    color: #ff0000;
}

.list-group-item {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #333333;
}

.tree > li {
    padding-left: 10px;
}

@media (max-width: 968px) {
    #top-left-panel, #left-menu .nav li {  font-size: 11px  }
    .form-group .control-label {  width: 120px;  font-size: 11px;  padding: 0  }
    .form-group div {  width: auto;  margin-left: 15px;  padding: 0;  }
    .form-horizontal .btn {  float:left;  margin-left: 120px;  }
}

@media (max-width: 804px) {
    #left-menu {  width: 100%;  height: auto  }
    #content {  width: 100%  }
}

@media (max-width: 800px) {
    #left-menu .nav li {  font-size: 10px;  font-weight: bold  }
    .form-group .control-label {  width: 120px;  font-size: 11px;  padding: 0  }
    .form-group div {  width: 70%;  padding: 0  }
}

@media (max-width: 615px) {
    .panel-body .btn {  float: left;  margin-bottom: 5px  }
}

@media (max-width: 480px) {
    .form-group .control-label {  width: 100px;  font-size: 11px;  padding: 0  }
    .form-group div {  width: 60%;  padding: 0  }
    .form-horizontal .btn {  float: left;  margin-left: 100px  }
}

@media (max-width: 320px) {
    .navbar-text {  font-size: 11px;  }
    .form-group .control-label {  width: 46%;  font-size: 11px;  padding: 0  }
    .form-group div {  margin: 0;  width: 100%;  padding: 0  }
    .form-horizontal .btn {  float: left;  margin-left: 0  }
}

.footer-img{
	margin: 0px 5px 7px 0px;
}

#scrollable-dropdown-menu .tt-dropdown-menu {
    max-height: 150px;
    overflow-y: auto;
}