@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,600,700");

html{
    min-height: 100%;
    height: 100%;
    overflow-y: hidden;
}
* {
    font-family: 'Open Sans', sans-serif;
    font-size: 9pt;
    color: #333333;
}

body{
    background: #e8e8e8;
    line-height: 1.42857143;
    height: 99%;
    overflow: hidden;
}

#logo {
    background: #367fa9;
    height: 50px;
    box-shadow: 1px 1px 4px #080808;
    font-size: 12pt;
}

#top-panel {
    background: #3c8dbc;
    height: 50px;
    box-shadow: 1px 1px 4px #080808;
}

#user-panel {
    background: #f2f2f2;
    height: 80px;
    font-weight: bold;
}

.image-logo {
    height: 80px;
    width: 100%;
    padding: 4px;
}

#submenu-bar {
    background: #d2d2d2;
    height: 80px;
}

#sidebar {
    background: #f8f8f8;
    height: 88vh;
}

#box {
    background: #f8f8f8;
    height: 60px;
    width: 100%;
    box-shadow: 2px 2px 2px #cdcdcd;
    position: fixed;
    z-index: 1;
}

.box-header {
    font-size: 24px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.box-container {
    margin-top: 88px;
    height: 64vh;
    padding-bottom: 68px;
    /*margin-left: 20px;*/
    /*margin-right: 20px;*/
    overflow: hidden;
    background: #ffffff;
}

.box-content {
    height: calc(100vh - 100px);
    width: 100%;
    overflow: auto;
    position: relative;
    padding-right: 15px;
}

#content {
    background: #ffffff;
    height: 88vh;
    overflow: hidden;
}

#container {
    padding-top: 40px;
}

.table-background {
    color: #ffffff;
    background-color: #f2f2f2;
}

.btn-tool {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
}

.btn-action-group {
    display: block;
    margin: auto;
}

.logo-title {
    font-size: 12pt;
    font-weight: bold;
    color: #f9f9f9;
}

.user-fullname {
    font-weight: bold;
    color: #f9f9f9;
}

.user-menu {
    background: #3c8dbc;
}

.tree li {
    margin-left: 15px;
    margin-right: 15px;
}

.status_green {
    color: #008000;
}

.status_red {
    color: #ff0000;
}

.status_yellow {
    color: #ffff00;
}

.icon-red {
    color: #ff0000;
}

.icon-blue {
    color: #0000ff;
}

.btn-tool-square {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 6px;
    padding-right: 6px;
}

.icon-toggle-on {
    color: #ff0000;
}

.icon-tottle-off {
    color: #000000;
}

#copyright-container {
    width: 100%;
    z-index: 1;
    position: fixed;
    padding-top: 4px;
}

/*#sidebar .nav {*/
/*box-shadow: 6px 6px 6px #adadad;*/
/*}*/


#sidebar .nav > li {
    border-bottom: 1px solid #d8d8d8;
    border-top: 1px solid #f2f2f2;
    padding-top: 0;
    padding-bottom: 1px;
}

.navbar-link {
    color: #f8f8f8;
    font-weight: bold;
}

.copyright {
    font-size: 8pt;
    text-align: center;
    font-weight: 500;
    color: #adadad;
}

.small-stat-box {
    padding: 10px;
    background: #ffffff;
    position: relative;
    box-shadow: 0px 1px 0 1px #e4e6eb;
    border-radius: 2px;
    font-weight: bold;
    font-size: 28pt;
    margin: 0 0 30px 0;
}

.stat-box-label {
    font-weight: 400;
    font-size: 14pt;
    color: #c7cbd5;
    top: 12px;
    margin-top: 4px;
}

.box-red {
    background: #ff5454;
    color: #ffffff;
    width: 64px;
    padding: 10px;
    margin-right: 10px;
}

.box-blue {
    background: #36a9e1;
    width: 64px;
    color: #ffffff;
    padding: 10px;
    margin-right: 10px;
}

.box-value {
    font-size: 20pt;
    font-weight: bold;
    color: #383e4b;
}

.tool-bar {
    width: 100%;
    height: 110px;
}

.tool-bar-title {
    height: 40px;
}

.tool-bar-title .bar-extra {
    background: #1e8fc6;
    width: 4%;
    height: 100%;
    float: left;
    font-size: 24px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 2px 0px 0px 2px;
}

.bar-extra > i {
    color: #ffffff;
}

.tool-bar-title .bar-title  {
    float: left;
    height: 100%;
    width: 96%;
    background: #36a9e1;
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
    padding-left: 10px;
    padding-top: 8px;
    border-radius: 0px 2px 2px 0px;
}

.tool-bar-items {
    padding-top: 40px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 40px;
}

.content-body {
    padding-left: 10px;
    padding-right: 10px;
}

/*.panel-info {*/
/*border-color: #ffffff;*/
/*background: #ffffff;*/
/*color: #ffffff;*/
/*}*/

/*.panel-info > .panel-heading {*/
/*background-color: #36a9e1;*/
/*}*/

/* Philip Jimenez */

/*FIXED*/
.navbar-inverse { border: none }
#logo { padding-top: 15px; }
.navbar-right { margin-right: 0 }
.navbar-toggle  { background: #888; margin-right: 0; margin-left: 5px }
#sidebar { padding: 0; width: 16.66666667%; }
#sidebar ul li { background: #f0f0f0 }
#sidebar ul li .active { background: #efefef }
#content { width: 83.33333333% }
.navbar { margin-bottom: 0; }
.panel-body .btn { margin-bottom: 5px }

@media (max-width: 968px) {
    #logo, #sidebar .nav li { font-size: 11px }
    .form-group .control-label { width: 120px; font-size: 11px; padding: 0 }
    .form-group div { width: auto; margin-left: 15px; padding: 0 }
    .form-horizontal .btn { float:left; margin-left: 120px }
}

@media (max-width: 804px) {
    #sidebar { width: 100%; height: auto }
    #content { width: 100% }
    /*.navbar-toggle { display: block }*/
    /*.navbar { border-bottom: #aaa }*/
}

@media (max-width: 800px) {
    #sidebar .nav li { font-size: 10px; font-weight: bold }
    .form-group .control-label { width: 120px; font-size: 11px; padding: 0 }
    .form-group div { width: 70%; padding: 0 }
}

@media (max-width: 615px) {
    .panel-body .btn { float: left; margin-bottom: 5px }
}

@media (max-width: 480px) {
    .form-group .control-label { width: 100px; font-size: 11px; padding: 0 }
    .form-group div { width: 60%; padding: 0 }
    .form-horizontal .btn { float:left; margin-left: 100px }
}

@media (max-width: 320px) {
    .navbar-text { font-size: 11px; }
    .form-group .control-label { width: 46%; font-size: 11px; padding: 0 }
    .form-group div { margin: 0; width: 100%; padding: 0 }
    .form-horizontal .btn { float:left; margin-left: 0 }
    /*.form-group input {  }*/
}

/*table {*/
/*height: 400px;*/
/*width: 100%;*/
/*}*/

/*tr {*/
/*width: 100%;*/
/*display: inline-table;*/
/*}*/

/*tbody {*/
/*overflow-y: auto;*/
/*position: absolute;*/
/*width: 100%;*/
/*height: 400px;*/
/*}*/

#sidebar {
    overflow: scroll;
}