/************LOADING SPINNER****************/
.spinner-container {
	position: absolute;
	height: 145%;
	width: 100%;
	z-index: 1000;
	background-color: #000;
	opacity: 0.8;
}

/*
.spinner-img {
	margin: 250px 650px;
}
*/

.spinner {
  width: 7em;
  margin: 250px 650px;
}

.spinner div {
  width: 7em;
  height: 1em;
  margin: 3em auto;
  padding: 3em 0;
  position: relative;
  border-radius: 50%;
  border: 2px solid #fff;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  -webkit-animation: rotate 1s ease infinite;
  -moz-animation: rotate 1s ease infinite;
  -o-animation: rotate 1s ease infinite;
  animation: rotate 1s ease infinite;
}

.spinner:before {
  content: "Loading";
  position: absolute;
  color: #fff;
  font: .9em sans-serif;
  width: 8em;
  line-height: 7em;
  text-align: center;
  -webkit-animation: wink 1.4s ease infinite;
}

@-webkit-keyframes rotate {
	0%{-webkit-transform: rotate(-360deg)}
}

@-moz-keyframes rotate {
	0%{-moz-transform: rotate(-360deg)}
}

@-o-keyframes rotate {
	0%{-o-transform: rotate(-360deg)}
}

@keyframes rotate {
	0%{transform: rotate(-360deg)}
}

@-webkit-keyframes wink{50%{opacity: 0}}
@-moz-keyframes wink{50%{opacity: 0}}
@-o-keyframes wink{50%{opacity: 0}}
@keyframes wink{50%{opacity: 0}}



/************MODAL DIALOG****************/
.bootstrap-dialog-message *{
	color: #656465 !important;
}

.modal-content {
	width: auto;
}

.btn-confirm-broadcast {
	background: #428bca;
}

.btn-cancel-broadcast {
	background: #666;
}

/*
.current-disaster-table {
	width: 100%;
	height: 100%;
	position: absolute;
	background: #666;
	color: #fff;
}
*/

.sub-comp-container {
	padding: 5px;
	background: #000;
}

.select-comp-container {
	padding: 5px;
	background: #000;
}

.table-container-broadcast {
	height: 297px !important;
}

.bootstrap-dialog.type-danger .modal-header {
	background-color: #e89999 !important;
}

.btn-danger {
	background-color: #e89999;
	border-color: #e89999;
	color: #fff;
}

.modal-body {
	color: #656465 !important;
}