body {
    background-color: #414141;
}

.navbar-dash {
    background-color: #303030;
    border-bottom-color: #303030;
}

.spinner-container {
    margin-top: -80px;
}

.main-dashboard {
    margin-top: 100px;
}

h1.dash {
    font-size: 14px;
    font-weight: bold;
    margin-top: 5px;
}

.dash-container {
    margin-left: 20px;
}

.dash-logo {
    width: 190px;
    max-height: 80px;
    margin-top: 5px;

    -webkit-text-stroke: 1px white;
    text-shadow:
    3px 3px 0 #fff,
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

.dash-datetime {
    margin-top: 20px;
    margin-left: -80px;
    width: auto;
    color: #ffffff;
    background-color: #434857;
    background-image: none;
    border: 1px solid #434857;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    font-size: 15px;
}

.dash-signout {
    font-size: 25px;
    margin-top: 15px;
    margin-left: -5px;
}

.tile.btn {
    border-radius: 5px;
    background-color: #83C1E7;
    color: #fff;
}

.btn:hover {
    background-color: #fff;
}

.nav-tabs--custom-dash {
    border-bottom: 2px solid #777777;
}

.nav-tabs--custom-dash > li {
    position: relative;
    display: inline-block;
}

.nav-tabs--custom-dash > li > a {
    cursor: pointer;
    color: #cfd2da;
    font-weight: 500;
    background-color: transparent;
}

.nav-tabs--custom-dash > li > a:hover {
    cursor: pointer;
    color: #fff;
    font-weight: 500;
    background-color: transparent;
}

.nav-tabs--custom-dash > li.active > a {
    cursor: pointer;
    color: #1ca8dd;
    border-bottom: 4px solid #1ca8dd;
    font-weight: 900;
    background-color: transparent;
}

.dash-tile {
    padding: 15px;
    margin-top: 20px;
    border: 1px solid #575757;
    border-radius: 5px;
    background-color: #575757;
}

.dash-disaster-type {
    padding-left: 10px;
    padding-right: 10px;
}

.dash-graph {
    padding: 10px 0px 0px 0px;
}

.dash-pie {
    margin-top: 20px;
}

.numerical-status-container {
    float: left;
    width: 100%;
}

div.tx {
    margin: 0px 0px 0px 0px;
}

.tx {
    display: block;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-weight: 400;
    color: #ffffff;
    background-color: transparent;
    border-bottom: 2px solid #CFD2D5;
}

.title-button > .btn-filter, .title-button > .btn-search {
    margin-right: 15px;
    margin-top: -30px;
}

.dash-tile-fixed {
    height: 400px;
}

.dash-tile-small {
    height: 300px;
}

.dash-table {
    height: 200px !important;
    max-height: 300px;
}

.dash-btn-select-site {
    background: #F48752;
    border: #F48752;
    height: 30px;
    padding: 5px;
    margin-top: 10px;
}

.dash-btn-select-site:hover {
    color: #ccc;
    background-color: #FA9A6C;
}

.dash-send {
    background-color: #1997c6;
    color: #fff;
    font-size: 18px;
}

.dash-send:hover {
    background-color: #44AAD0;
    color: #ccc;
}

.social-container {
    padding: 15px 15px 0px 30px;
    margin-top: 20px;
    border: 1px solid #575757;
    border-radius: 5px;
    background-color: #575757;
}

.dash-pfeeds {
    padding-left: 10px;
}

.dash-one {
    margin-bottom: 10px;
}

.table-container-rss {
    height: 297px !important;
}

h4 span {
    margin-right: 10px;
    font-size: 20px;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(238, 238, 238, 1);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(204, 204, 204, 1);
    -webkit-box-shadow: inset 0 0 6px rgba(238, 238, 238, 1);
}
::-webkit-scrollbar-thumb:window-inactive {
    background:rgba(238, 238, 238, 1);
}

/*<!----- Current Disaster ----->*/

.dash-current-disaster {
    padding: 15px;
    margin-top: 20px;
    border: 1px solid #575757;
    border-radius: 5px;
    background-color: #575757;
}

.btn.btn-info.dash-search-go {
    background-color: #1997c6 !important;
    color: #fff;
    font-size: 15px;
}

input.btn.btn-info.dash-search-go:hover {
    background-color: #44AAD0;
    color: #ccc;
}

input[type="text"]:focus, textarea:focus {
    border-color: rgba(25, 151, 198, 1) !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(25, 151, 198, 1) !important;
    outline: 0 none !important;
}

.current-disaster-table{
    border-color:#686262;
}

.current-disaster-table thead {
    border-bottom: 3px solid #ccc;
}

.current-disaster-table>caption+thead>tr:first-child>th,
.current-disaster-table>colgroup+thead>tr:first-child>th,
.current-disaster-table>thead:first-child>tr:first-child>th,
.current-disaster-table>caption+thead>tr:first-child>td,
.current-disaster-table>colgroup+thead>tr:first-child>td,
.current-disaster-table>thead:first-child>tr:first-child>td{
    border-bottom: 0px;
}
.current-disaster-table>tbody{
    background: #544e4e;
}
.current-disaster-table>thead>tr>th,
.current-disaster-table>tbody>tr>th,
.current-disaster-table>tfoot>tr>th,
.current-disaster-table>thead>tr>td,
.current-disaster-table>tbody>tr>td,
.current-disaster-table>tfoot>tr>td{
    border-top: 1px solid #312f30;
    border-bottom: 1px solid #686262;
}

.dash-cd-name {
    width: 250px !important;
}

.dash-cd-type {
    width: 200px !important;
}

.dash-cd-actions {
    width: 150px !important;
}

.custom-checkbox {
    width: auto;
    margin-left: 60px;
    margin-top: 0px;
}

.custom-checkbox label {
    margin-top: -20px;
}

input.form-control.others-textbox.declare-other-type-textbox {
    margin-top: -35px;
    margin-left: 100px;
    width: 335px;
}

span.span-others {

}

textarea#disaster_details {
    height: 150px;
}

.row.dash-dd-cs {
    margin-top: 25px;
}

.custom-checkbox.dash-check-broadcast {
    margin-left: 10px;
    margin-top: 20px;
    width: 20px;
}

input.btn-confirm-declare {
    background-color: #1CA8DD;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    width: 250px !important;
    height: 50px !important;
}

input.btn-confirm-declare:hover {
    background-color: #57BDE4;
}

input.btn-cancel-declare {
    height: 50px !important;
    font-size: 16px;
    width: 250px !important;
}

.button.btn.btn-default.declare-edit-broadcast {
    background-color: #337AB7;
}

.btn-primary:hover, button.btn.btn-default.declare-edit-broadcast:hover {
    background-color: #57BDE4;
}

.btn-warning:hover {
    background-color: #F0AD4E;
}

/* Modals */
.modal-body {
    background-color: #6B6464;
    color: #fff !important;
}

.bootstrap-dialog-message * {
    color: #fff !important;
}

.modal-dialog {
    width: 850px;
}

.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #333333;
    background-color: #6B6464;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.bootstrap-dialog.type-primary .modal-header {
    background-color: #1ca8dd;
    border-bottom: 2px solid #ccc;
}

.bootstrap-dialog-footer-buttons .btn {
    height: 45px;
    width: 165px;
    font-weight: 600;
    font-size: 15px;
}

.btn-danger:hover {
    background-color: #EC8787;
}

input[type="date"] {
    color: #6B6464 !important;
}

input[type="date"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

button.declare-edit-broadcast {
    background-color: #57BDE4;
}

textarea.form-control.textarea-custom.declare-edit-broadcast-msg {
    margin-left: 14px;
}

.view-broadcast-label {
    margin-top: 10px;
    margin-left: 15px;
}


