/*
Project Name: AGC Locator
Project Version: 1
Owner: Yondu
Website: http://yondu.com
front-end Developer: UXD-Team
                     Reynier Carlo Nebres
*/

@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,600,700");

html{
	min-height: 100%;
	height: 100%;
}
* {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}

body{
	background: #b3c1c1;
	min-width: 768px;
}

header{
	padding-top: 5px;
	padding-bottom: 5px;
}
input[type="text"],
input[type="search"]{
  background: #333333;
  border: none;
  color: #fff;
  border-radius: 0;
  height: initial;
  padding-top: 9px;
  padding-bottom: 9px;
}
.main-container{
	padding: 0;
	margin: 0 15px;
	overflow: hidden;
}

.main-container > form > section > div{
	height: 100%;
}
.form-control:focus{
	box-shadow: none;
}
.tile{
	background: #666666;
	padding: 15px;
  	margin-bottom: 10px;
  	overflow: hidden;
}
.tile-full{
	padding-left: 0;
	padding-right: 0;
}
.tile-overflow{
	overflow: visible;
}
.tile-title{
	margin: 0;
	border-bottom: 1px solid #fff;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 10px;
}
.form-filter {
	margin: 0;
	padding: 10px 15px;
	border-bottom: 1px solid #fff;
}

.table-status tbody tr:first-child td,
.table-incident tbody tr:first-child td{
	border-top: none;
}
.table-status tbody tr td{
	vertical-align: middle;
}
.table-status tbody tr td.image-container{
	width: 50px;
	padding-left: 15px;
}
.form-filter .main-selector{
	margin-left: 0;
	width: 100%;
}
.form-filter input[type="text"]{
	padding-top: 9px;
  	padding-bottom: 9px;
}
.btn:focus{
	outline-color: transparent!important;
}

/*
.table-container::-webkit-scrollbar{
     width: 15px;
}
.table-container::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 10px 10px 50px rgba(0, 0, 0, 0.13);
}
.table-container::-webkit-scrollbar-thumb{
    -webkit-box-shadow: inset 0 0 130px #bdbdbd;
}
*/







/********* INDEX.HTML *************/
#login{
	background: #fff;
	height: 100%;
	overflow-x:hidden; 
}
#login > form{
	height: 100%;
}
#login *{
	color: #333333;
}
/*
.circle-login{
	background: #cccccc;
	border-radius: 50%;
	width: 145px;
	height: 145px;
	position: relative;
	overflow: hidden;
	margin: 0 auto;
}
.circle-login > i{
	position: absolute;
	top: 35px;
	left: 40px;
}
*/
.login-img {
	width: 100%;
}
.btn-login{
	background: #dddddd;
	border: 2px solid #bbbbbb;
	padding: 10px 0;
	font-weight: bold;
	width: 100%;
	margin-top: 15px;
}
.btn-login:before{
	font-family: FontAwesome;
	content: "\f0e0";
	margin-right: 15px;
}
.login-container{
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 250px;
	height: 380px;
	text-align: center;
}
.login-container > .title{
	margin-bottom: 50px;
}
.login-container > .input-group{
	margin-top: 15px;
}
.login-container input:not([type="submit"]),
.login-container .input-group-addon{
	background: #fff;
	border: 1px solid #a3a3a3;
	color: #979797;
	border-radius: 0;
}

.login-container input:not([type="submit"]){
	border-left: none;
}

.login-container .input-group-addon{
	border-right: none;
}
.btn-tab{
    background: #f16623;
    color: #fff;
    border: 1px solid #fff;
    padding: 13px 15px;
    
    -webkit-transition: background 0.3s ease-in-out;
	   -moz-transition: background 0.3s ease-in-out;
	     -o-transition: background 0.3s ease-in-out;
	        transition: background 0.3s ease-in-out;
}
.btn-tab:hover{
    background: #F37235;
    color: #fff;
    
    -webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
	     -o-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;
}

.btn-tab--full{
    width: 100%;
    margin-top: 5px;
    color: #fff!important;
}


/********* CUSTOM CHECKBOX *************/
.custom-checkbox {
	width: 20px;	
	position: relative;
	display: inline-block;
	left: -13px;
	top: 5px;
}
.custom-checkbox input[type=checkbox] {
	visibility: hidden;
}

.custom-checkbox label {
	cursor: pointer;
	position: absolute;
	width: 20px;
	height: 20px;
	top: 0;
	border-radius: 4px;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);

	background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
	background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
	background: -o-linear-gradient(top, #222 0%, #45484d 100%);
	background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
	background: linear-gradient(top, #222 0%, #45484d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}

.custom-checkbox label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 6px;
    left: 6px;
	border: 3px solid #fcfff4;
	border-top: none;
	border-right: none;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.custom-checkbox label:hover::after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
}

.custom-checkbox input[type=checkbox]:checked + label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}

.custom-checkbox-label{
    line-height: 33px;
    margin-bottom: 0;
    margin-top: 5px;
}

/********* END CUSTOM CHECKBOX *************/






/********* HEADER *************/
header{
    padding-bottom: 15px;
}
.main-selector{
    position: relative;
    top: 10px;
}
.main-selector > select{
    min-width: 95px;
}
.agc-title{
    position: relative;
    top: 10px;
    margin: 0 10px;
}
.agc-title h1{
    font-size: 14px;
    font-weight: bold;
    display: inline;
    color: #333335;
}
.datetime-holder *{
    color: #333335;
}
.main-selector .input-group-addon,
.main-selector .form-control,
.dark-dropdown{
	background: #333333;
  	border: none;
  	color: #fff;
  	border-radius: 0;
  	height: initial;
	padding-top: 2px;
	padding-bottom: 2px;
}
.currentTime{
	font-weight: bold;
	margin-right: 10px;
}
.datetime-holder{
	line-height: 70px;
}
.users-addon:before{
	font-family: FontAwesome;
	content: "\f0c0";
	color: #999999;
}

.logo{
	width: 250px;
	max-height: 80px;
}

.signout{
	margin-left: 20px;
	font-size: 20px;
}




/********* EMPLOYEE SUMMARY *************/
.emp-container {
	padding-bottom: 0px;
}

.filter-emp{
	margin-right: 15px;
}
.nav-tabs--custom{
    border-bottom: 0;
}
.nav-tabs--custom>li{
    margin-bottom: 0;
}
.nav-tabs--custom>li >a{
    cursor: pointer;  
    background: #669c9c;
    color: #fff;

    -webkit-transition: background 0.3s ease-in-out;
	   -moz-transition: background 0.3s ease-in-out;
	     -o-transition: background 0.3s ease-in-out;
	        transition: background 0.3s ease-in-out;
}
.nav-tabs--custom>li >a:hover{
    background: #72AFAF;
    border-color: transparent;
    
    -webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
	     -o-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;
}
.nav-tabs--custom>li.active>a, 
.nav-tabs--custom>li.active>a:hover, 
.nav-tabs--custom>li.active>a:focus{
    background:#666;
    color: #fff;
    border-color: transparent;
}
.tab-content--custom > .tab-pane:first-child > div:first-child{
        padding-left: 0;
}
.tab-content--custom > .tab-pane:first-child > div:last-child{
        padding-right: 0;
}
.number-employee{
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 20px;
}
.number-employee small{
	color: #fff;
}
.numerical-status-container{
	float: left;
  	width: 50%;
}
.tbl-status td{
	padding-left: 10px;
	font-weight: bold;
}
.graph-status-container{
	width: 50%;
	float: left;
	margin-top: -15px;
	text-align: center;
}
.graph-status-container > ul{
	padding-left: 0;
}
.graph-status-container > ul > canvas{
	width: 120px;
}
.graph-status-container > ul > div{
	display: none;
}
.search-addon:before{
	font-family: FontAwesome;
	content: "\f002";
	color: #999999;
}
.btn-filter,
.btn-toggledown,
.btn-search{
	padding: 2px 10px;
	float: right;
	background-color: #eeeeee;
}
.btn-filter:before{
	font-family: FontAwesome;
	content: "\f0b0";
	color: #666666;
	font-size: 20px;
}
.input-group-filter{
	background: transparent!important;
 	padding: 0;
}
.image-container.employee > div:before{
	font-family: FontAwesome;
	content: "\f007";
	color: #666;
	font-size: 20px;
	position: relative;
	top: 10px;
	left: 17px;
}
.image-container > div {
	background: #fff;
	border-radius: 50%;
	width: 50px;
  	height: 50px;
  	overflow: hidden;
  	position: relative;
}

.image-container > div > img{
	width: 50px;
	height: 50px;
	position: absolute;
	top: 0;
	left: 0;
}

.lbl-safe{
	color: #b6d7a8;
}
.lbl-threat{
	color: #fcca9b;
}
.lbl-urgent{
	color: #e89999;
}
.lbl-nostatus{
	color: #413d3e;
}

.employee-status{
	border: 1px solid #fff;
	border-radius: 10px;
	text-align: center;
	padding: 5px;
	width: 100%;
  	max-width: 100px;
  	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
}
.status-safe{
	background: #9cbf3d;
}
.status-threat{
	background: #f6b63a;
}
.status-urgent{
	background: #e15544;
}
.status-nostatus{
	background: #666666;
}
.status-no.status{
	background: #666666;
}
.btn-toggledown{
	float: right;
}
.btn-toggledown:before{
	font-family: FontAwesome;
	content: "\f0d7";
	color: #666666;
	font-size: 20px;
}
.status-cell{
	padding-right: 15px!important;
}
.btn-nodesign{
    background: transparent;
    border: 0;
    outline: 0;
}
.status-cell > div.dropdown{
	position: relative;
}

ul.dropdown {
  display:none;
  position: absolute;
  top: 80%;
  right: 0;
  left: auto;
  margin-top: 2.5em;
  background: #777;
  min-width: 12em;
  padding: 0;
  border-radius: 0 0 .2em .2em;
  z-index: 99;
  border: 1px solid #fff;
}

ul.dropdown li{
	text-decoration: none;
	padding: .5em 1em;
	display: block;
	color: #fff;
	cursor: pointer;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
	border-bottom: 1px solid #fff;
	
	border-left: 0px solid #fff;
	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
	     -o-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;
}

ul.dropdown li:hover{
	border-left: 3px solid #fff;
	-webkit-transition: all 0.3s ease-in-out;
  	   -moz-transition: all 0.3s ease-in-out;
	     -o-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;
}

ul.dropdown li:last-child{
	border-bottom: none;
}

.table-container{
	height: 430px;
	overflow: auto;
}
.table-container-emp-status{
	height: 500px!important;
}
.table-container-rss{
	height: 392px!important;
}
.declare-disaster-container.form-horizontal .control-label{
    text-align: left;
}
.company-list-container,.declare-company-list-container{
    height: 300px;
    overflow: auto;
    width: 100%;
    background: #4b4545;
    margin-top:5px;
}
.company-list-container--selected{
	height: 334px;
    overflow: auto;
    width: 100%;
    background: #4b4545;
    margin-top:5px;
}
.company-list{
	margin-bottom: 0;
}
.company-list li a{
	padding: 10px;
	cursor: pointer;
	display: block;
    color: #fff;

    -webkit-transition: all 0.3s ease-in-out;
  	   -moz-transition: all 0.3s ease-in-out;
	     -o-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;
}
.company-list li a:hover{
	text-decoration: none;
	background:#6e6868;
	color: #e6dcdd;

	-webkit-transition: all 0.3s ease-in-out;
  	   -moz-transition: all 0.3s ease-in-out;
	     -o-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;
}
.select-dark,
.disaster_details-textarea{
	background-color: #333333;
	color: #fff;
	border: none;
	border-radius: 0;
	resize:none;
}
.broadcast-label{
    text-transform: uppercase;
    margin: 25px 0 20px;
    
}
.arrow-container{
	text-align: center;
	line-height: 364px;
}
.company-list-group__name,.declare-company-list-group__name{
	color: #ad9f9f;
	padding: 10px;
}
.delete-company{
    float: right;
    background: transparent;
    border: none;
    position: relative;
    top: -10px;
    right: -5px;
    color: #534f4e; 
    display: none;
    
     -webkit-transition: color 0.3s ease-in-out;
  	   -moz-transition: color 0.3s ease-in-out;
	     -o-transition: color 0.3s ease-in-out;
			transition: color 0.3s ease-in-out;
}
.delete-company:focus{
    outline: none
}
.delete-company:before{
    font-family: FontAwesome;
    content:'\f00d';
    font-size: 25px;
}
.delete-company:hover{
    color: #fff;
    
    -webkit-transition: color 0.3s ease-in-out;
  	   -moz-transition: color 0.3s ease-in-out;
	     -o-transition: color 0.3s ease-in-out;
			transition: color 0.3s ease-in-out;
}
.company-list li a:hover .delete-company{
    display: inline-block;
}
.btn-submit--widthfix{
	width: 230px!important;
}
.col-md-6--custom{
	width: 46%;
	float: left;
	padding: 0 15px;
}
.current-disaster-table{
	border-color:#686262;
}
.current-disaster-table>caption+thead>tr:first-child>th, 
.current-disaster-table>colgroup+thead>tr:first-child>th, 
.current-disaster-table>thead:first-child>tr:first-child>th,
.current-disaster-table>caption+thead>tr:first-child>td, 
.current-disaster-table>colgroup+thead>tr:first-child>td, 
.current-disaster-table>thead:first-child>tr:first-child>td{
	border-bottom: 10px solid #666666;
}
.current-disaster-table>tbody{
	background: #544e4e;
}
.current-disaster-table>thead>tr>th, 
.current-disaster-table>tbody>tr>th, 
.current-disaster-table>tfoot>tr>th, 
.current-disaster-table>thead>tr>td, 
.current-disaster-table>tbody>tr>td, 
.current-disaster-table>tfoot>tr>td{
	border-top: 1px solid #312f30; 
	border-bottom: 1px solid #686262; 
}
.custom-checkbox-holder{
	position: relative;
	width: 50px;
}

.custom-checkbox-holder .custom-checkbox{
	position: absolute;
    top: 19px;
    left: 0px;
}
#current-disaster-table_wrapper .datatable-entries{
	width: 150px!important;
}
#current-disaster-table_wrapper .dataTables_length{
	float: left;
}

.table-container-reports{
	height: 231px!important;
}
#current-disaster-table_wrapper .pagination>.active>a, 
#current-disaster-table_wrapper .pagination>.active>span, 
#current-disaster-table_wrapper .pagination>.active>a:hover, 
#current-disaster-table_wrapper .pagination>.active>span:hover, 
#current-disaster-table_wrapper .pagination>.active>a:focus, 
#current-disaster-table_wrapper .pagination>.active>span:focus{
	border-color: transparent;
	background: #1a1819;
	outline: 0;
}
#current-disaster-table_wrapper .pagination>li>a, 
#current-disaster-table_wrapper .pagination>li>span{
	background: #333333;
	border-top: 0;
	border-bottom: 0;
	border-color: #666666;
	color: #fff;
	outline: 0;

	-webkit-transition: background 0.3s ease-in-out;
  	   -moz-transition: background 0.3s ease-in-out;
	     -o-transition: background 0.3s ease-in-out;
			transition: background 0.3s ease-in-out;
}
#current-disaster-table_wrapper .pagination>li>a:hover,
#current-disaster-table_wrapper .pagination>li>span:hover{
	background: #484848;

	-webkit-transition: background 0.3s ease-in-out;
  	   -moz-transition: background 0.3s ease-in-out;
	     -o-transition: background 0.3s ease-in-out;
			transition: background 0.3s ease-in-out;
}
.search-txtbox{
    padding-top: 7px!important;
    padding-bottom: 7px!important;
}
.filter-current-disaster>div{
    margin-bottom: 10px;
}
.filter-current-disaster .btn-info{
    background: #669c9c;
    border-color: #669c9c;
    min-width: 60px;
    padding-top: 6px;
    padding-bottom: 6px;
    
    -webkit-transition: background 0.3s ease-in-out;
  	   -moz-transition: background 0.3s ease-in-out;
	     -o-transition: background 0.3s ease-in-out;
			transition: background 0.3s ease-in-out;
}
.filter-current-disaster .btn-info:hover{
    background: #72AFAF;
    
    -webkit-transition: background 0.3s ease-in-out;
  	   -moz-transition: background 0.3s ease-in-out;
	     -o-transition: background 0.3s ease-in-out;
			transition: background 0.3s ease-in-out;
}

.emp-summary{
	height: 5% !important;
}
.current-disaster-table thead tr th:last-child,
.current-disaster-table tbody tr td:last-child{
    width: 170px!important;
    text-align: center;
}
.current-disaster-table thead tr th,
.current-disaster-table tbody tr td{
    vertical-align: middle;
    padding: 18px 8px;
}
.current-disaster-table tbody tr:nth-child(odd) td{
    background: #544e4e;
    
    -webkit-transition: background 0.3s ease-in-out;
  	   -moz-transition: background 0.3s ease-in-out;
	     -o-transition: background 0.3s ease-in-out;
			transition: background 0.3s ease-in-out;
}
.current-disaster-table tbody tr:nth-child(even) td{
    background: #463d3e;
    
    -webkit-transition: background 0.3s ease-in-out;
  	   -moz-transition: background 0.3s ease-in-out;
	     -o-transition: background 0.3s ease-in-out;
			transition: background 0.3s ease-in-out;
}
.current-disaster-table tbody tr:hover td{
    background: #2a2625;
    
    -webkit-transition: background 0.3s ease-in-out;
  	   -moz-transition: background 0.3s ease-in-out;
	     -o-transition: background 0.3s ease-in-out;
			transition: background 0.3s ease-in-out;
}
.current-disaster-table tbody tr td.custom-checkbox-holder .custom-checkbox{
    top: 17px;
}

.current-disaster-table thead .sorting:after,
.current-disaster-table thead .sorting_asc:after,
.current-disaster-table thead .sorting_desc:after{
    position: relative!important;
    display: inline-block!important;
    left: 10px;
    top: 2px;
}
.current-disaster-table tbody tr td .fa{
    background-color: transparent;
    border: 0;
    color: #989a99;
    font-size: 18px;
    margin-left: 10px;
    
    -webkit-transition: color 0.3s ease-in-out;
  	   -moz-transition: color 0.3s ease-in-out;
	     -o-transition: color 0.3s ease-in-out;
			transition: color 0.3s ease-in-out;
}
.current-disaster-table tbody tr td .fa:focus,
.delete-modal .modal-content .modal-header button:focus{
    outline: 0;
    border: 0;
}
.current-disaster-table tbody tr td .fa:hover{
    text-decoration: none;
    color: #fff;
    
    -webkit-transition: color 0.3s ease-in-out;
  	   -moz-transition: color 0.3s ease-in-out;
	     -o-transition: color 0.3s ease-in-out;
			transition: color 0.3s ease-in-out;
}
.current-disaster-table tbody tr td .fa:first-child{
    margin-left: 0;
}
.delete-modal .modal-content .modal-header,
.error-modal .modal-content .modal-header{
    background: #e89999;
    color: #fff;
}
.delete-modal .modal-content .modal-body,
.delete-modal .modal-content .modal-body *,
.error-modal .modal-content .modal-body,
.error-modal .modal-content .modal-body *{
    color: #333333;
}
.delete-modal .modal-content .modal-body .fa,
.error-modal .modal-content .modal-body .fa{
    position: relative;
    top: 4px;
    margin-right: 20px;
}
.error-modal .modal-content .modal-body .list{
    padding-left: 43px;
}
.list li:before{
    content:'- ';
}
.delete-modal .modal-content .modal-footer .btn-delete{
    background-color: #669c9c;
    border-color: #669c9c;
}
.delete-modal .modal-content .modal-footer .btn-delete:hover{
    background: #72AFAF;
}
.companysite-modal .modal-header {
    background:#b6d7a8;
}
.companysite-modal .modal-dialog{
    width: 950px;
}
.companysite-modal .modal-header button span,
.companysite-modal .modal-body label,
.companysite-modal .modal-body .fa{
    color: #666666;
}
.companysite-modal .modal-footer .btn{
    width: 310px;
    color: #fff;
}
.view-selected-companies_container{
    margin-top: 15px;
}
.view-selected-companies_container .fa{
    background: transparent;
    border: 0;
    color: #e89999;
    
    -webkit-transition: color 0.3s ease-in-out;
  	   -moz-transition: color 0.3s ease-in-out;
	     -o-transition: color 0.3s ease-in-out;
			transition: color 0.3s ease-in-out;
}
.error-modal .modal-footer .btn{
    width: 230px;
    color: #fff;
}
.view-selected-companies_container .fa-close:hover{
    color: #EAAEAE;
    
    -webkit-transition: color 0.3s ease-in-out;
  	   -moz-transition: color 0.3s ease-in-out;
	     -o-transition: color 0.3s ease-in-out;
			transition: color 0.3s ease-in-out;
}
/********* EVENT SUMMARY *************/
.tbl-event{
	margin-bottom: 0;
}
.tbl-event tbody tr th,
.tbl-event tbody tr td{
	border-top: none;
	padding: 0px 8px;
}
.tbl-event tbody tr th{
	font-size: 24px;
}
.tbl-event tbody tr td{
	vertical-align: middle;
}
.report-container{
	padding: 0 15px;
}
.report-container > h5{
	margin-top: 15px;
}
.textarea-custom{
	resize:none;
	background-color: #333333;
	color: #fff;
	border-radius: 0;
	border: none;
}

.dark-dropdown{
	background: #333333;
  	border: none;
  	color: #fff;
  	border-radius: 0;
  	height: initial;
	padding-top: 5px;
	padding-bottom: 5px;
}

.btn-submit{
	color: #656465;
	display: block;
	margin-top: 10px;
	width: 100%;
	padding: 8px 12px;
	font-weight: bold;
}




/********* INCIDENT REPORT *************/
.incident-container {
	padding-bottom: 0px;
}

.btn-search:before{
	font-family: FontAwesome;
  	content: "\f002";
  	color: #666666;
    font-size: 20px;
}
.title-button .tile-title{
	border-bottom: 0;
	float: left;
	padding-left: 15px;
	padding-right: 15px;
	line-height: 30px;
}

.title-button{
	padding-bottom: 10px;
	border-bottom:1px solid #fff;
	overflow: hidden;
}

.title-button > .btn-filter,
.title-button > .btn-search{
 	margin-right: 15px;
}

.title-button > .search-holder{
 	margin-top: 10px;
 	float: left;
 	display: none;
 	width: 100%;
}

.search-holder{
	padding-left: 15px;
	padding-right: 15px;
}

.table-incident{
	margin-top: 10px;
}
.table-incident > tbody > tr >td:first-child{
	padding-left: 15px;
}
.table-incident td .name{
	font-weight: bold;
}

.disaster-holder{
	position: relative;
	float: right;
	top: -5px;
	padding-right: 5px;
}
.disaster-holder > label{
	font-weight: normal;
}
.disaster-holder > label > input[type="checkbox"]{
	position: relative;
	top: 2px;
	left: 5px;
	transform: scale(1.5);
	  -webkit-transform: scale(1.5);
	  outline: 0;
}
.incident{
    margin-top: 10px;
}

/********* TWITTER RSS *************/
.table-twitter-rss td .acctname{
	font-weight: bold;
	font-size: 16px;
}

@media only screen and (max-width : 1278px) {
    .title-button .tile-title {
        display: block;
        float: none;
    }

    .social-container {
        padding-bottom: 0px;
    }

    .error-message {
        font-weight: bold;
        color: #ff5454;
    }

    /********* EMPLOYEE REPORT-INS *************/
    .report-container {
        padding-bottom: 0px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .reportin-container {
        padding-bottom: 0px;
    }

    /********* DISASTER BUTTON *************/
    .event-wrap > h4, .bootstrap-switch {
        float: right;
    }

    .bootstrap-switch-label {
        width: 10px !important;
    }

    .bootstrap-switch-handle-on {
        background: #d50000 !important;
    }

    /********* CMD MODAL *************/
    .padding-none {
        padding: 0 !important;
    }

    #appendModal > h4 {
        color: #333333 !important;
        text-align: center;
    }

    .cmd-filter {
        width: 100%;
        background: #e6e6e6;
        margin-top: 15px;
    }

    .cmd-social-filter {
        width: 100%;
        background: #e6e6e6;
        margin-top: 15px;
    }

    .select-screen-name {
        height: 30px;
        width: 100%;
        color: #333333;
    }

    .select-company, .select-date-from, .select-date-to, .select-status {
        height: 30px;
        width: 100%;
        color: #333333;
    }

    .modal-content {
        padding: 10px;
        width: 400px;
        margin-top: 200px;
    }

    .modal-close {
        margin: 0;
        cursor: pointer;
    }

    .modal-close > strong, .cmd-label, .cmd-social-filter > strong, .cmd-filter > strong, .select-company > option, .select-date > option, .select-status > option {
        color: #333333;
    }

    .social-modal-close {
        margin: 0;
        cursor: pointer;
    }

    .social-modal-close > strong, .cmd-label, .cmd-filter > strong, .select-screen-name > option {
        color: #333333;
    }

    .modal-top > div {
        margin-bottom: 20px;
    }

    .modal-mid > div {
        margin-bottom: 10px;
    }

    div > label {
        color: #333333;
    }

    .dashboard-header {
        margin-top: 25px;
    }
}







