{% block content %}
<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">Change User Password</h3>
    </div>
    <div class="panel-body">
        <form id="changepass" class="form-horizontal" method="POST">
            <div class="form-group">
                <label for="current" class="control-label col-xs-2">Current Password</label>
                <div class="col-xs-4">
                    <input type="password" class="form-control" id="currrent" placeholder="Current Password" name="current" maxlength="32" required>
                </div>
            </div>
            <div class="form-group">
                <label for="newpass" class="control-label col-xs-2">New Password</label>
                <div class="col-xs-4">
                    <input type="password" class="form-control" id="newpass" placeholder="New Password" name="newpass" maxlength="32" required>
                </div>
            </div>
            <div class="form-group">
                <label for="confirm" class="control-label col-xs-2">Confirm Password</label>
                <div class="col-xs-4">
                    <input type="password" class="form-control" id="confirm" placeholder="Confirm Password" name="confirm" maxlength="32" required>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-offset-5 col-xs-1">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>    
    </div>
</div>
{% endblock %}
{% block css_def %}
{% endblock %}
{% block js_def %}
{% endblock %}
{% block js_exec %}
<script>
$(document).ready(function() {
    $("#changepass").validate({
        rules: {
            current: {
                required: true
            },
            newpass: {
                required: true
            },
            confirm: {
                required: true
            }
        }, errorPlacement: function(error,element) {
            error.insertAfter(element.parent());
        }, submitHandler:function(form) {
            $('button[type="submit"]').attr("disabled", "disabled");
            $.post("{{base_url}}/backoffice/profile/changepass",$(form).serialize(), function(response) {
                var data = JSON.parse(response);
                if (data.response_code == 0) {
                    BootstrapDialog.show({
                        message:data.response_msg,
                        buttons: [{
                            label: 'Close',
                            action: function(dialog) {
                                dialog.close();
                                window.location = "{{base_url}}/backoffice/profile";
                            }                            
                        }]
                    });

                } else {
                    BootstrapDialog.show({
                        message:data.response_msg,
                        buttons: [{
                            label: 'Close',
                            action: function(dialog) {
                                $('button[type="submit"]').removeAttr("disabled");
                                dialog.close();
                            }                            
                        }]
                    });
                }
                return false;
            });
        }
    });
});
</script>
{% endblock %}