{% block content %}
<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">Settings</h3>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" method="POST">
            <div class="form-group">
                <label for="username" class="control-label col-xs-2">Username</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control" id="username" placeholder="Username" value="{{username}}" disabled>
                </div>
            </div>
            <div class="form-group">
                <label for="first_name" class="control-label col-xs-2">First Name</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control" id="first_name" placeholder="First Name" value="{{first_name}}" disabled>
                </div>
            </div>
            <div class="form-group">
                <label for="last_name" class="control-label col-xs-2">Last Name</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control" id="last_name" placeholder="Last Name" value="{{last_name}}" disabled>
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="control-label col-xs-2">E-Mail</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control" id="email" placeholder="E-Mail" value="{{email}}" disabled>
                </div>
            </div>                    
            <div class="form-group">
                <label for="role" class="control-label col-xs-2">Role</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control" id="role" placeholder="Role" value="{{role}}" disabled>
                </div>
            </div>
            <div class="form-group">
                <label for="date_created" class="control-label col-xs-2">Date Created</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control" id="date_created" placeholder="Date Created" value="{{date_created}}" disabled>
                </div>
            </div>
            <div class="form-group">
                <label for="created_by" class="control-label col-xs-2">Created By</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control" id="created_by" placeholder="Created By" value="{{created_by}}" disabled>
                </div>
            </div>
            <div class="form-group">
                <label for="date_modified" class="control-label col-xs-2">Date Modified</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control" id="date_modified" placeholder="Date Modified" value="{{date_modified}}" disabled>
                </div>
            </div>
            <div class="form-group">
                <label for="modified_by" class="control-label col-xs-2">Modified By</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control" id="modified_by" placeholder="Modified By" value="{{modified_by}}" disabled>
                </div>
            </div>
        </form> 
        <a href="{{base_url}}/backoffice/profile/changepass" class="btn btn-info btn-sm">Change Password</a>
        <a href="{{base_url}}/backoffice/profile/update" class="btn btn-info btn-sm">Update Profile</a>
    </div>    
</div>    
{% endblock %}
{% block css_def %}
{% endblock %}
{% block js_def %}
{% endblock %}
{% block js_exec %}
<script type="text/javascript">
</script>
{% endblock %}