{% block content %}
<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">Settings</h3>
    </div>
    <div class="panel-body">
        <form id="update" class="form-horizontal" method="POST">
            <div class="form-group">
                <label for="username" class="control-label col-xs-2">Username</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control" id="username" placeholder="Username" value="{{username}}" disabled>
                </div>
            </div>
            <div class="form-group">
                <label for="first_name" class="control-label col-xs-2">First Name</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control" id="first_name" placeholder="First Name" value="{{first_name}}" name="first_name">
                </div>
            </div>
            <div class="form-group">
                <label for="last_name" class="control-label col-xs-2">Last Name</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control" id="last_name" placeholder="Last Name" value="{{last_name}}" name="last_name">
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="control-label col-xs-2">E-Mail</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control" id="email" placeholder="E-Mail" value="{{email}}" name="email">
                </div>
            </div>                    
            <div class="form-group">
                <div class="col-xs-offset-5 col-xs-1">
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </div>            
        </form> 
    </div>    
</div>    
{% endblock %}
{% block css_def %}
{% endblock %}
{% block js_def %}
{% endblock %}
{% block js_exec %}
<script>
$(document).ready(function() {
    $("#update").validate({
        rules: {
            first_name: {
                required: true
            },
            last_name: {
                required: true
            },
            email: {
                required: true,
                email: true
            }
        }, errorPlacement: function(error,element) {
            error.insertAfter(element.parent());
        }, submitHandler:function(form) {
            $('button[type="submit"]').attr("disabled", "disabled");
            $.post("{{base_url}}/backoffice/profile/update",$(form).serialize(), function(response) {
                var data = JSON.parse(response);
                if (data.response_code == 0) {
                    BootstrapDialog.show({
                        message:data.response_msg,
                        buttons: [{
                            label: 'Close',
                            action: function(dialog) {
                                dialog.close();
                                window.location = "{{base_url}}/backoffice/profile";
                            }                            
                        }]
                    });

                } else {
                    BootstrapDialog.show({
                        message:data.response_msg,
                        buttons: [{
                            label: 'Close',
                            action: function(dialog) {
                                $('button[type="submit"]').removeAttr("disabled");
                                dialog.close();
                            }                            
                        }]
                    });
                }
                return false;
            });
        }
    });
});
</script>
{% endblock %}