<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{title}}</title>
    <!--CSS Script-->
    <link rel="stylesheet" href="{{base_url}}/assets/css/normalize.css">
    <link rel="stylesheet" href="{{base_url}}/assets/css/bootstrap-table.min.css">

    <link rel="stylesheet" href="{{base_url}}/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{base_url}}/assets/fonts/css/font-awesome.min.css">

    <link rel="stylesheet" href="{{base_url}}/assets/css/bootstrap-toggle.min.css">
    <link rel="stylesheet" href="{{base_url}}/assets/css/bootstrap-dialog.min.css">
    <link rel="stylesheet" href="{{base_url}}/assets/css/morris.css">

    <!-- <link rel="stylesheet" href="{{base_url}}/assets/css/jquery-ui.min.css"> -->
    <!--CSS Custom Script-->
    <link rel="stylesheet" href="{{base_url}}/assets/css/backoffice.css">
    <link rel="stylesheet" href="{{base_url}}/assets/css/pace.css">
    <script src="{{base_url}}/assets/js/pace.min.js"></script>

    {% block css_def %}{% endblock %}
</head>
<body>
    <header class="navbar">
        <div class="container-fluid">
            <div class="row">
                <div id="top-left-panel" class="col-xs-12 col-sm-2">
					<!--
                    <img src="{{base_url}}/assets/images/assist-logo-white.png" class="top-logo">
					-->
                    <img src="{{base_url}}/assets/images/CMS/AGC-locator-CMS_Dashboard.png" class="top-logo">
                </div>
                <div id="top-panel" class="col-xs-12 col-sm-10">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar" aria-expanded="false" aria-controls="sidebar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="navbar-right">
                        <ul class="nav navbar-nav">
                            <li id="settings-menu" class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="settings-menu-dropdown" aria-expanded="true">
                                    <i class="glyphicon glyphicon-user"></i> <span>{{active_user_name}} <i class="caret"></i></span>
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="settings-menu-dropdown">
                                    <li role="presentation">
                                        <a href="{{base_url}}/backoffice/profile" role="menuitem"><div class="pull-right"><span>Account Settings</span> <i class="fa fa-user"></i></div></a>
                                    </li>
                                    <li role="presentation">
                                        <a href="{{base_url}}/checkpoint/logout" role="menuitem"><div class="pull-right"><span>Sign Out</span> <i class="fa fa-power-off"></i></div></a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div id="main" class="container-fluid">
        <div class="row">
            <div id="left-menu" class="col-xs-2 col-sm-2 collapse navbar-collapse">
                <div class="row">
                    <div id="left-menu-logo" class="col-xs-10">
                        <img src="{{base_url}}/assets/images/agc.png">
                    </div>
                </div>
                <ul class="nav nav-list">
                    {{menu_items}}
                </ul>
            </div>
            <div id="content" class="col-xs-12 col-sm-10">
                <div id="content-top-panel" class="row">
                    <div id="content-top-panel-header">
                    {{ module_name }}
                    </div>
                </div>
                <div id="main-container" class="animated fadeInFromRight">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
        <div id="copyright" class="row">
            <div class="text-center">
				<!--
                <img src="{{base_url}}/assets/images/assist-logo.png" height="28"><span>Version {{AGC_EMPLOYEE_LOCATOR_CMS_VERSION}} - Copyright (c) 2015 Ayala Group of Companies/Globe Telecom Inc. - Powered by <img src="{{base_url}}/assets/images/yondu.jpg" height="10"></span>
				-->
                <img src="{{base_url}}/assets/images/CMS/AGC-locator-CMS_Footer.png" class="footer-img" /><span>Version {{AGC_EMPLOYEE_LOCATOR_CMS_VERSION}} - Copyright (c) 2015 Ayala Group of Companies/Globe Telecom Inc. - Powered by <img src="{{base_url}}/assets/images/yondu.jpg" height="10"></span>
            </div>
        </div>
    </div>

    <!--modernizr reset-->
    <script src="{{base_url}}/assets/js/modernizr.js"></script>

    <!--Javascript-->
    <script src="{{base_url}}/assets/js/jquery-1.11.2.min.js"></script>
    <script src="{{base_url}}/assets/js/bootstrap.min.js"></script>
    <script src="{{base_url}}/assets/js/jquery-ui.min.js"></script>
    <script src="{{base_url}}/assets/js/jquery.validate.min.js"></script>
    <script src="{{base_url}}/assets/js/bootstrap-table.min.js"></script>
    <script src="{{base_url}}/assets/js/bootstrap-toggle.min.js"></script>
    <script src="{{base_url}}/assets/js/bootstrap-dialog.min.js"></script>
    <script src="{{base_url}}/assets/js/spin.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="{{base_url}}/assets/js/morris.min.js"></script>
    <script src="{{base_url}}/assets/js/common.js"></script>
    <script src="{{base_url}}/assets/js/typeahead.bundle.js"></script>
    <script src="{{base_url}}/assets/js/backoffice.js"></script>
    {% block js_def %}{% endblock %}
    <script type="text/javascript">
    $(document).ready(function() {
        $('.tree-toggle').click(function () {
            $(this).parent().children('ul.tree').toggle(200);
        });
        $('.tree-toggle').parent().children('ul.tree').toggle(200);
    });
    </script>
    {% block js_exec %}
    {% endblock %}
</body>
</html>