{% block content %}
<form id="login-form" action="{{base_url}}/checkpoint/auth" method="post">
    <section class="login-container">
        <div class="circle circle-login">
			<!--
            <i class="fa fa-location-arrow fa-5x"></i>
			-->
			<img src="{{base_url}}/assets/images/CMS/AGC-locator-CMS_Login.png" class="login-img" />
        </div>
		<!--
        <h3 class='title'>A.S.S.I.S.T</h3>
		-->
        <span class="error-message"></span>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1"><i class="fa fa-user fa-fw"></i></span>
            <input type="text" class="form-control" name="username" placeholder="username">
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1"><i class="fa fa-unlock-alt fa-fw"></i></span>
            <input type="password" class="form-control" name="password" placeholder="password">
        </div>
        <input type='submit' class='btn btn-login' value='Sign in'>
    </section>
</form>
{% endblock %}
{% block css_def %}
<!--CSS Script-->
<link rel="stylesheet" href="{{base_url}}/assets/css/normalize.css">
<link rel="stylesheet" href="{{base_url}}/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="{{base_url}}/assets/fonts/css/font-awesome.min.css">

<!--CSS Custom Script-->
<link rel="stylesheet" href="{{base_url}}/assets/css/style.css">
{% endblock %}
{% block js_def %}
<!--modernizr reset-->
<script src="{{base_url}}/assets/js/modernizr.js"></script>

<!--Javascript-->
<script src="{{base_url}}/assets/js/jquery-1.11.2.min.js"></script>
<script src="{{base_url}}/assets/js/jquery.validate.min.js"></script>
<script src="{{base_url}}/assets/js/bootstrap.min.js"></script>
{% endblock %}
{% block js_exec %}
<script type="text/javascript">
$(document).ready(function() {
    $("#login-form").validate({
        rules: {
            username: {
                required: true,
                minlength: 3,
                maxlength: 32
            },
            password: {
                required: true,
                minlength: 6,
                maxlength: 32
            }
        }, errorPlacement: function(error,element) {
            error.insertAfter(element.parent());
        }, submitHandler:function(form) {
            $('button[type="submit"]').attr("disabled", "disabled");
            $.post("{{base_url}}/checkpoint/auth",$(form).serialize(), function(response) {
                var data = JSON.parse(response);
                if (data.response_code == 0) {
                    window.location = data.redirect_url;
                } else {
                    $(".error-message").text(data.response_msg);
                    $('button[type="submit"]').removeAttr("disabled");
                }
            });
            return false;
        }
    });
});  
</script>
{% endblock %}