{% block content %}

<div class="spinner-container">
	<div class="spinner"><div></div></div>
</div>

<div class="navbar navbar-inverse navbar-fixed-top navbar-dash" role="navigation">
    <div class="container dash-container">
        <div class="row">
            <div class="col-xs-3 col-sm-3">
                <img src="{{base_url}}/assets/images/AGC-locator-Web_Dashboard.png" alt="" class="dash-logo">
                <h1 class="dash">Ayala Sign-In System for Immediate Support and Tracking</h1>
            </div>
            <div class="col-xs-5 col-sm-5 col-md-push-8 text-right dash-datetime">
                <span class="currentTime"></span>
                <span class="dayToday"></span><span class="dateToday"></span>
            </div>
            <a href="{{base_url}}/backoffice/home" class="col-xs-1 col-md-push-8 signout dash-signout"><i class="fa fa-share-square-o"></i></a>
        </div>
    </div>
</div>

<div class="container-fluid main-container main-dashboard">
	<section class="row">
		<div class="col-xs-12 col-sm-12 col-md-12">

			<!-- Nav tabs -->
			<ul class="nav nav-tabs--custom-dash" role="tablist">
				<li role="presentation" class="active nav-dashboard"><a href="#dashboard" aria-controls="dashboard" role="tab" data-toggle="tab">Dashboard</a></li>
				<li role="presentation"><a href="#declare_disaster" aria-controls="declare_disaster" role="tab" data-toggle="tab">Declare Disaster</a></li>
				<li role="presentation"><a href="#current_disaster" aria-controls="current_disaster" role="tab" data-toggle="tab">Current Disasters</a></li>
			</ul>

			<!-- Tab panes -->
			<div class="tab-content tab-content--custom dash-one">
				<div role="tabpanel" class="tab-pane active clearfix" id="dashboard">
					<div class="col-xs-12 col-md-4">
						<div class="row">
							<!--EMPLOYEE SUMMARY-->
							<div class="col-md-12">
								<div class="dash-tile dash-tile-small">
                                    <h4 class="tx"><span class="fa fa-pie-chart"></span>Disaster Statistics</h4>
                                    <div class="row dash-disaster-type">
                                        <select name="" id="disaster_type" class="form-control select-dark select-disaster">
                                            <option value="">---Select Disaster---</option>
                                            {{disaster}}
                                        </select>
                                    </div>
                                    <div class="row dash-graph">
                                        <div class="col-xs-6">
                                            <div class="employee-count-container">
                                                <h2 class="number-employee"><small>Employees</small></h2>
                                            </div>
                                            <div class="numerical-status-container">
                                                <table class="tbl-status">
                                                    <tr>
                                                        <th class="th-safe"></th>
                                                        <td class="lbl-safe">Safe</td>
                                                    </tr>
                                                    <tr>
                                                        <th class="th-threat"></th>
                                                        <td class="lbl-threat">Threat</td>
                                                    </tr>
                                                    <tr>
                                                        <th class="th-urgent"></th>
                                                        <td class="lbl-urgent">Urgent</td>
                                                    </tr>
                                                    <tr>
                                                        <th class="th-nostatus"></th>
                                                        <td class="lbl-nostatus">No Status</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="col-xs-6 graph-status-container dash-pie">
                                        </div>
                                    </div>
								</div>
							</div>
							<!--EMPLOYEE SIGN-INS-->
							<div class="col-md-12">
								<div class='dash-tile dash-tile-fixed'>
									<div class="row title-button tx">
										<h4><span class="fa fa-users"></span>Employee Sign-Ins</h4>
										<button type="button" class="btn btn-filter filter-emp" title="Filter"></button>
										<button type="button" class="btn btn-search" data-toggle="search" title="Search"></button>

                                        <div class="search-holder">
                                            <input type="text" name="search_emp_db" class="form-control" placeholder="Search names, areas, team...">
                                        </div>
									</div>
									<div class="row table-container table-container-emp-status dash-table">
										<table class="table table-status">
											<tbody>
												{{ emp }}
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<div class="col-xs-12 col-md-4">
						<div class="row">
							<!-- NEWS FEED -->
							<div class="col-md-12">
								<div class='dash-tile dash-tile-small'>
									<div class="row report-container">
                                        <h4 class='tx'><span class="fa fa-comment-o"></span>Newsfeed</h4>
										<textarea class="form-control textarea-custom broadcast-msg" rows="5" placeholder="Example: Fire in Mandaluyong Warehouse"></textarea>
										<button type="button" class="btn btn-tab btn-tab--full btn-select-sites dash-btn-select-site" data-toggle="modal" data-target="#companysites">Select Companies/Sites</button>
										<!-- add disabled attribute -->

										<button type="button" class="btn btn-submit confirm-broadcast dash-send" disabled>Send</button>
									</div>
								</div>

								<!-- Modal for Select Companies/Sites-->
								<div class="modal fade companysite-modal" id="companysites" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
									<div class="modal-dialog" role="document">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
												<h4 class="modal-title" id="myModalLabel">Select Companies/Sites</h4>
											</div>
											<div class="modal-body">
												<div class="container-fluid">
													<div class="row">
														<div class="col-md-5">
															<label for="" class='text-uppercase'>Companies/Sites</label>
															<select name="" id="" class="form-control select-dark broadcast-company-option">
																<option value="">---Select Company---</option>	<option value="0">All Companies</option>
																{{company}}
															</select>
															<div class="company-list-container">
																<ul class="list-unstyled company-list list-company-sites">
																</ul>
															</div>
														</div>
														
														<div class="col-md-2 arrow-container">
															<i class="fa fa-arrow-right fa-3x"></i>
														</div>
														<div class="col-md-5">
															<label for="" class='text-uppercase'>selected</label>
															<div class="company-list-container--selected company-sites-right">
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="modal-footer">
												<!--
												<div class="col-sm-6 pull-left">
													<label for="" class='text-uppercase'>Broadcast Type</label>
													<select name="" id="ccb_mode" class="select-dark broadcast-type-option">
														<option value="">---Select Broadcast Type---</option>
														<option value="0">Send Via App</option>
														<option value="1">Send Via SMS</option>
														<option value="2">Send Via App and SMS</option>
													</select>
												</div>
												-->
												<div class="col-md-12 form-group">
													<div class="custom-checkbox-label">
														<div class="custom-checkbox">
															<input type="checkbox" value="1" id="broadcast" name="broadcast" class="broadcast-sms-check">
															<!-- put "trigger-show" class and supply the data for data-triggershow attritbute. The data supplied here will be the class of the element you want to show-->
															<label for="broadcast"></label>
														</div>
														Broadcast via SMS
													</div>
												</div>
											
												<div class="col-sm-6 pull-right">
													<button type="button" class="btn btn-tab select-sites-done">Next</button>
												</div>
											</div>
										</div>
									</div>
								</div>

								<!-- Modal for Error Message
								use $('#errormodal').modal('show') in javascript to show this modal
								-->
								<div class="modal fade error-modal" id="errormodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
									<div class="modal-dialog" role="document">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
												<h4 class="modal-title" id="myModalLabel">Error</h4>
											</div>
											<div class="modal-body">
												<i class="fa fa-exclamation-circle fa-2x"></i>Please fill out the missing field!
												<ul class="list-unstyled list">
													<li>Companies/Sites</li>
												</ul>
											</div>
											<div class="modal-footer">
												<button type="button" class='btn btn-tab center-block' data-dismiss="modal">Close</button>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- INCIDENT REPORT -->
							<div class="col-md-12">
								<div class="adjust-container">
									<div class="dash-tile dash-tile-fixed incident-container">
										<div class="row title-button tx">
											<h4><span class="fa fa-history"></span>Broadcast History</h4>
											<button type="submit" class="btn btn-filter filter-incident" title="Filter"></button>
											<button type="button" class='btn btn-search' data-toggle="search" title="Search"></button>

											<div class="search-holder">
												<input type="text" name="search-incident" class="form-control" placeholder="Search names, areas, team...">
											</div>
										</div>
										
										<div class="table-container table-container-broadcast dash-table">
											<table class="table table-broadcast">
												<tbody>
													{{ incident }}
												</tbody>
											</table>
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>
					
					<div class="col-xs-12 col-md-4">
						<div class="row">
							<!-- Employee Report-ins -->
							<div class="col-md-12">
								<div class="dash-tile dash-tile-small reportin-container">
									<div class="row title-button tx">
										<h4><span class="fa fa-comments-o"></span>Incidents Reported</h4>
										<button type="submit" class="btn btn-filter filter-report" title="Filter"></button>
										<button type="button" class="btn btn-search" data-toggle="search" title="Search"></button>

										<div class='search-holder'>
											<input type="text" name="search_report_in" class="form-control" placeholder="Search names, areas, team...">
										</div>
									</div>
									
									<div class="table-container table-container-reports dash-table">
										<table class="table table-report-in">
											<tbody>
												{{reportin}}
											</tbody>
										</table>
									</div>
								</div>
							</div>
							
							<!-- RSS FEED -->
							<div class="col-md-12">
								<div class="dash-tile dash-tile-fixed social-container">
									<div class="row title-button fx">
										<h4 class="dash-pfeed"><span class="fa fa-rss"></span>Public Feeds</h4>
										<button type="submit" class="btn btn-filter filter-social" title="Filter"></button>
										<button type="button" class="btn btn-search" data-toggle="search" title="Search"></button>

										<div class="search-holder">
											<input type="text" name="search_social" class="form-control" placeholder="Search names, areas, team...">
										</div>
									</div>
									
									<div class="row table-container table-container-rss dash-table">
										<table class="table table-twitter-rss">
											<tbody>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div role="tabpanel" class="tab-pane" id="declare_disaster">
					<div class="dash-tile">
						<div class='form-horizontal declare-disaster-container'>
                            <div class="row">
                                <div class="col-sm-6 col-md-6 col-xs-6">
                                    <div class="form-group clearfix">
                                        <label for="disaster_name" class="col-sm-3 control-label">Disaster Name</label>
                                        <div class="col-sm-9">
                                            <input type="text" name="declare_disaster_name" class="form-control" id="declare_disaster_name" />
                                        </div>
                                    </div>
                                    <div class="form-group clearfix">
                                        <label for="disaster_type" class="col-sm-3 control-label">Disaster Type</label>
                                        <div class="col-sm-9">
                                            <select name="declare-disaster-type-option" id="disaster_type" class="form-control select-dark declare-disaster-type-option">
                                                <option value="">---Please Select---</option>
                                                {{disaster_type}}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group clearfix">
                                        <label class="col-sm-3 control-label">&nbsp;</label>
                                        <div class="col-sm-10 col-md-push-2 custom-checkbox-label">
                                            <div class="custom-checkbox">
                                                <div class="row">
                                                    <input id="others" type="checkbox" value="None" class="declare-other-type" name="check" />
                                                    <!-- put "trigger-show" class and supply the data for data-triggershow attritbute. The data supplied here will be the class of the element you want to show-->
                                                    <label for="others"></label>Others
                                                    <input type="text" name="declare-disaster-type-option" class="form-control others-textbox hide declare-other-type-textbox">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6 col-xs-6">
                                    <div class="form-group clearfix">
										<label for="disaster_details" class="col-sm-3 control-label">Disaster Details</label>
										<div class="col-sm-9">
											<textarea class="form-control disaster_details-textarea" name="declare_disaster_details" id="disaster_details" cols="30" rows="10"></textarea>
										</div>
									</div>
                                </div>
                            </div>
						</div>
						<div class="row dash-dd-cs">
							<div class="col-md-5">
								<label for="" class='text-uppercase'>Companies/Sites</label>
								<select name="" id="" class="form-control select-dark declare-company-option">
									<option value="">---Select Company---</option>
									<option value="0">All Companies</option>
									{{company}}
								</select>
								<div class="declare-company-list-container">
									<ul class="list-unstyled company-list declare-list-company-sites">
									</ul>
								</div>

							</div>
							<div class="col-md-2 arrow-container">
								<i class="fa fa-arrow-right fa-3x"></i>
							</div>
							<div class="col-md-5">
								<label for="" class='text-uppercase'>selected</label>
								<div class="company-list-container--selected declare-company-sites-right">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 form-group">
								<div class="custom-checkbox-label">
									<div class="custom-checkbox dash-check-broadcast">
										<input type="checkbox" value="1" id="declare-disaster-check-sms" name="broadcast" class="declare-broadcast-send" />
										<!-- put "trigger-show" class and supply the data for data-triggershow attritbute. The data supplied here will be the class of the element you want to show-->
										<label for="declare-disaster-check-sms"></label>
									</div>
									Broadcast via SMS
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<input type="button" value="Declare Disaster" class="btn btn-submit btn-submit--widthfix pull-right btn-confirm-declare">
							</div>
							<div class="col-md-6">
								<input type="button" value="Cancel" class="btn btn-submit btn-submit--widthfix btn-cancel-declare" />
							</div>
						</div>
					</div>
				</div>
				
				<div role="tabpanel" class="tab-pane" id="current_disaster">
					<div class="dash-current-disaster">
						<div class="form-group">
							<div class="row filter-current-disaster">
								<div class="col-md-3">

									<select name="" id="" class="form-control select-dark filter-type-disaster-option">
										<option>- Select Disaster Type -</option>
										{{disaster_type}}
									</select>

								</div>
								<div class="col-md-3 col-md-push-5">
									<input type="text" class="form-control search-txtbox current-search-text" placeholder="Search">
								</div>
                                <div class="col-md-1 col-md-push-5">
									<button type="button" class="btn btn-info search-txtbox dash-search-go current-search-go">Go</button>
                                </div>
							</div>
						</div>
						
						<div class="row">
							<div class="col-md-12 table-responsive">
								<table class="table current-disaster-table" id="current-disaster-table">
									<thead>
										<tr>
											<th class="dash-cd-name">Disaster Name</th>
											<th class="dash-cd-type">Type</th>
											<th class="dash-cd-details">Details</th>
											<th class="dash-cd-details">Date Created</th>
											<th class="dash-cd-actions">Actions</th>
										</tr>
									</thead>
									<tbody>
										{{current_disaster}}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

<!-- FILTER MODAL -->
<div id="cmd-modal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div id="appendModal">
				<div class="modal-top">
					<div class="col-sm-12 padding-none">
						<div class="col-sm-11 padding-none">
							<span><label class="cmd-label"></label></span>
						</div>
						
						<div class="col-md-1 padding-none">
							<span><h4 class="modal-close pull-right"><strong>X</strong></h4></span>
						</div>
					</div>
				</div>
				
				<div class="modal-mid">
					<div class="col-sm-12 padding-none modal-company-container">
						<div class="col-sm-4 padding-none">
							<label class="cmd-label">By Company:</label>
						</div>
						
						<div class="col-sm-8 padding-none">							
							<select class="select-company">
								<option value="">--- SELECT ---</option>
								<option value="">All</option>
								{{company}}
							</select>
						</div>
					</div>
					
					<div class="col-sm-12 padding-none modal-status-container">
						<div class="col-sm-4 padding-none">
							<label class="cmd-label">By Status:</label>
						</div>
						
						<div class="col-sm-8 padding-none">
							<select class="select-status">
								<option value="">--- SELECT ---</option>
								<option value="">All</option>
								{{status}}
							</select>
						</div>
					</div>
					
					<div class="col-sm-12 padding-none modal-date-container">
						<div class="col-sm-4 padding-none">
							<label class="cmd-label">Date Range:</label>
						</div>
						
						<div class="col-sm-8 padding-none">
							<label>From</label><input type="date" class="select-date-from" name="by-date-from" 
							value="{{date}}" />
							<label>To</label><input type="date" class="select-date-to" name="by-date-to" 
							value="{{date}}" />
						</div>
					</div>
				</div>
				
				<div class="modal-bottom">
					<input type="button" class="btn btn-default cmd-filter" value="FILTER">
				</div>
			</div>
		</div>
	</div>
</div>

<!-- SOCIAL MODAL -->
<div id="cmd-social-modal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="socialModal" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div id="appendModal">
				<div class="modal-top">
					<div class="col-sm-12 padding-none">
						<div class="col-sm-11 padding-none">
							<span><label class="cmd-label"></label></span>
						</div>
						<div class="col-md-1 padding-none">
							<span><h4 class="social-modal-close pull-right"><strong>X</strong></h4></span>
						</div>
					</div>
				</div>
				
				<div class="modal-mid">
					<div class="col-sm-12 padding-none">
						<div class="col-sm-4 padding-none">
							<label class="cmd-label">By Screen Name:</label>
						</div>
						
						<div class="col-sm-8 padding-none">							
							<select class="select-screen-name">
								<option value="">--- SELECT ---</option>
								{{screen_names}}
							</select>
						</div>
					</div>					
				</div>
				
				<div class="modal-bottom">
					<button class="btn btn-default cmd-social-filter"><strong>FILTER</strong></button>
				</div>
			</div>
		</div>
	</div>
</div>







{% endblock %}
{% block css_def %}
<!--CSS Script-->
<link rel="stylesheet" href="{{base_url}}/assets/css/normalize.css">
<link rel="stylesheet" href="{{base_url}}/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="{{base_url}}/assets/fonts/css/font-awesome.min.css">
<link rel="stylesheet" href="{{base_url}}/assets/css/bootstrap-toggle.min.css">
<link rel="stylesheet" href="{{base_url}}/assets/css/jquery-ui.min.css">
<link rel="stylesheet" href="{{base_url}}/assets/css/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" href="{{base_url}}/assets/css/bootstrap-dialog.min.css">
<link rel="stylesheet" href="{{base_url}}/assets/css/dataTables.bootstrap.css">

<!--CSS Custom Script-->
<link rel="stylesheet" href="{{base_url}}/assets/css/style.css">
<link rel="stylesheet" href="{{base_url}}/assets/css/dashboard.css">
<link rel="stylesheet" href="{{base_url}}/assets/css/dash.css">

{% endblock %}
{% block js_def %}
<!--modernizr reset-->
<script src="{{base_url}}/assets/js/modernizr.js"></script>

<!--Javascript-->
<script src="{{base_url}}/assets/js/jquery-1.11.2.min.js"></script>
<script src="{{base_url}}/assets/js/timeago.js"></script>
<script src="{{base_url}}/assets/js/bootstrap.min.js"></script>
<script src="{{base_url}}/assets/js/visualize.js"></script>
<script src="{{base_url}}/assets/js/bootstrap-toggle.min.js"></script>
<script src="{{base_url}}/assets/js/jquery-ui.min.js"></script>
<script src="{{base_url}}/assets/js/moment.min.js"></script>
<script src="{{base_url}}/assets/js/bootstrap-datetimepicker.min.js"></script>
<script src="{{base_url}}/assets/js/common.js"></script>
<script src="{{base_url}}/assets/js/jquery.dataTables.js"></script>
<script src="{{base_url}}/assets/js/dataTables.bootstrap.js"></script>
<script src="{{base_url}}/assets/js/main.js"></script>
<script>
    var companies = '{{ company }}';
    var current_disaster = '{{ current_disaster }}';
    var disaster_type = '{{ disaster_type }}';
    var screen_names = '{{ screen_names }}';
	var status = '{{ status }}';
	var date = '{{ date }}';
	var data = '';
</script>
<!-- Push Notification/Broadcast -->
<script src="{{base_url}}/assets/js/dashboard.js"></script>
<script src="{{base_url}}/assets/js/bootstrap-dialog.min.js"></script>
{% endblock %}
{% block js_exec %}
<script>

    $(document).ready(function(){
        $().currentDateTime();

		var extensions = {
            "sFilter": "dataTables_filter custom_filter_class",
            "sLength": "dataTables_length custom_length_class"
        }

		$('#current-disaster-table').DataTable({
            "aaSorting": [],
            "columnDefs": [
                {
                    "targets": [0, -1],
                    "orderable": false
          }
        ],
            "dom": '<"top">t<"bottom"lp>',
            "oLanguage": {
                "sLengthMenu": '<select class="form-control select-dark datatable-entries">' +
                    '<option value="10">10 Rows</option>' +
                    '<option value="20">20 Rows</option>' +
                    '<option value="30">30 Rows</option>' +
                    '<option value="40">40 Rows</option>' +
                    '<option value="50">50 Rows</option>' +
                    '<option value="-1">All</option>' +
                    '</select>'
            },
            "pagingType": "full_numbers"

        });

        $('.btn-toggledown').dropdown()
        $('body').on('focus',"input[type=date]", function(){
		    $(this).datepicker({
		    	dateFormat: 'yy-mm-dd'
		    });
		});
    });
        // var companies = '{{ company }}';
        // var current_disaster = '{{ current_disaster }}';
        // var disaster_type = '{{ disaster_type }}';
        // var data = '';

	declareDisaster(companies, disaster_type);
	showCurrentDisaster(current_disaster);
	viewCurrentDisaster(data, companies, disaster_type);
	filterEmp(companies, status, date);
	filterBroadcast(companies, date);
	filterIncident(companies, date);
	filterSocial(screen_names);

</script>
{% endblock %}