{% block content %}
<form action="{{base_url}}/dashboard/auth" method="post">
    <section class="login-container">
        <div class="circle circle-login">
            <i class="fa fa-location-arrow fa-5x"></i>
        </div>
        <h3 class='title'>Employee Locator</h3>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1"><i class="fa fa-user fa-fw"></i></span>
            <input type="text" class="form-control" name="username" placeholder="username">
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1"><i class="fa fa-unlock-alt fa-fw"></i></span>
            <input type="password" class="form-control" name="password" placeholder="password">
        </div>
        <input type='submit' class='btn btn-login' value='Sign in'>
    </section>
</form>
{% endblock %}
{% block css_def %}
<!--CSS Script-->
<link rel="stylesheet" href="{{base_url}}/assets/css/normalize.css">
<link rel="stylesheet" href="{{base_url}}/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="{{base_url}}/assets/fonts/css/font-awesome.min.css">

<!--CSS Custom Script-->
<link rel="stylesheet" href="{{base_url}}/assets/css/style.css">
{% endblock %}
{% block js_def %}
<!--modernizr reset-->
<script src="{{base_url}}/assets/js/modernizr.js"></script>

<!--Javascript-->
<script src="{{base_url}}/assets/js/jquery-1.11.2.min.js"></script>
<script src="{{base_url}}/assets/js/bootstrap.min.js"></script>
{% endblock %}
{% block js_exec %}{% endblock %}