{% block content %}
<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">Add Safe Zone</h3>
    </div>
    <div class="panel-body">
        <form id="add_safezone" class="form-horizontal" method="post">
            <div class="form-group">
                <label for="category" class="control-label col-xs-2">Category</label>
                <div class="col-xs-2">
                    <select class="form-control input-sm" id="category" name="category_id" required>
                        <option value="">Select Category</option>
                        {{categories}}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="safezone_name" class="control-label col-xs-2">Safe Zone name</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control input-sm" id="safezone_name" name="safezone_name" placeholder="Safe Zone Name" maxlength="256" required>
                </div>
            </div>
            <div class="form-group">
                <label for="street" class="control-label col-xs-2">Street address</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control input-sm" id="street" name="street" placeholder="Street address" maxlength="128" required>
                </div>
            </div>
            <div class="form-group">
                <label for="barangay" class="control-label col-xs-2">Barangay</label>
                <div class="col-xs-2">
                    <input type="text" class="form-control input-sm" id="barangay" name="barangay" placeholder="Barangay" maxlength="48" required>
                </div>
            </div>
            <div class="form-group">
                <label for="city" class="control-label col-xs-2">City</label>
                <div class="col-xs-2">
                    <input type="text" class="form-control input-sm" id="city" name="city" placeholder="City" maxlength="64" required>
                </div>
            </div>
            <div class="form-group">
                <label for="province" class="control-label col-xs-2">Province</label>
                <div class="col-xs-4">
                    <select class="form-control input-sm" id="province" name="province_id" required>
                        <option value="">Select Province</option>
                        {{provinces}}
                    </select>
                </div>
            </div>   
            <div class="form-group">
                <label for="zip_code" class="control-label col-xs-2">ZIP Code</label>
                <div class="col-xs-2">
                    <input type="text" class="form-control input-sm" id="zip_code" name="zip_code" placeholder="ZIP Code" maxlength="16" required>
                </div>
            </div>
            <div class="form-group">
                <label for="supply" class="control-label col-xs-2">Available Supplies</label>
                <div class="col-xs-2">
                    <div class="checkbox">
                        {{supply_list}}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="information" class="control-label col-xs-2">Additional information</label>
                <div class="col-xs-4">
                    <textarea class="form-control input-sm" id="information" name="information" placeholder="Additional information" maxlength="512"></textarea>
                </div>
            </div>        
            <div class="form-group">
                <label for="person_in_charge" class="control-label col-xs-2">Person in charge</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control input-sm" id="person_in_charge" name="person_in_charge" placeholder="Person in charge" maxlength="256">
                </div>
            </div>
            <div class="form-group">
                <label for="contact_no" class="control-label col-xs-2">Contact number</label>
                <div class="col-xs-2">
                    <input type="text" class="form-control input-sm" id="contact_no" name="contact_no" placeholder="Contact Number" maxlength="16">
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-offset-2 col-xs-4">
                    <div class="pull-right">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <a class="btn btn-info btn-cancel">Cancel</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>    
{% endblock %}
{% block css_def %}
{% endblock %}
{% block js_def %}
{% endblock %}
{% block js_exec %}
<script>

function redirectTo(url) {
    window.location = url;
}

$(document).ready(function() {
    $(".btn-cancel").on('click',function() {
        redirectTo("{{base_url}}/backoffice/safezone");
    });

    $("#add_safezone").validate({
        rules: {
            safezone_name: {
                required: true
            },
            street: {
                required: true
            },
            barangay: {
                required: true
            },
            city: {
                required: true
            },
            zip_code: {
                required: true,
                digits: true
            },
            information: {
                required: true
            },
            person_in_charge: {
                required: true
            },
            contact_no: {
                required: true,
                digits: true
            },
            province_id: {
                required: true
            }
            /*,'supplies[]': {
                required: true
            }*/
        },
        messages: {
            /*'supplies[]': {
                required: "<b>Must select at least 1</b>"
            }*/
        }, errorPlacement: function(error,element) {
            error.insertAfter(element.parent());
        }, submitHandler:function(form) {
            $('button[type="submit"]').attr("disabled", "disabled");
            $.post("{{base_url}}/backoffice/safezone/add",$(form).serialize(), function(response) {
                var data = JSON.parse(response);
                if (data.response_code == 0) {
                    BootstrapDialog.show({
                        title: 'Success',
                        closable: false,
                        message:data.response_msg,
                        buttons: [{
                            label: 'Close',
                            action: function(dialog) {
                                dialog.close();
                                window.location = "{{base_url}}/backoffice/safezone";
                            }                            
                        }]
                    });

                } else {
                    BootstrapDialog.show({
                        title: 'Error',
                        type: BootstrapDialog.TYPE_WARNING,
                        message:data.response_msg,
                        closable: false,
                        buttons: [{
                            label: 'Close',
                            action: function(dialog) {
                                $('button[type="submit"]').removeAttr("disabled");
                                dialog.close();
                            }                            
                        }]
                    });
                }
                return false;
            });
        }
    });
});
</script>
{% endblock %}