{% block content %}
<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">Safe Zone</h3>
    </div>
    <div class="panel-body">
        <div id="toolbar">
            <div class="form-inline">
                <div class="form-group">
                    <button type="button" class="btn btn-info btn-action btn-add-employee"><i class="fa fa-plus"></i> <span>Add Safe Zone</span></button>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-info btn-action btn-bulk-upload"><i class="fa fa-download"></i> <span>Bulk Upload</span></button>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-info btn-action btn-export"><i class="fa fa-upload"></i> <span>Export</span></button>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-info btn-action btn-list-feeds"><i class="fa fa-list"></i> <span>Safe Zone Maintenance</span></button>
                </div>  
            </div>
        </div>
        <table id="table" 
            data-toggle="table"
            data-toolbar="#toolbar"
            data-url="{{base_url}}/backoffice/safezone/nominated/list"
            data-search="true"
            data-show-refresh="true"
            data-sort-name="id"
            data-page-list="[5, 10, 20]"
            data-page-size="5"
            data-method="post"
            data-pagination="true"
            data-side-pagination="server"
            data-striped="true"
            data-query-params="postQueryParams">
            <thead>
                <tr>
                    <th data-field="id">ID</th>
                    <th data-field="safezone_name">Name</th>
                    <th data-field="address">Address</th>
                    <th data-field="contact_no">Contact No</th>
                    <th data-field="person_in_charge">Contact Person</th>
                    <th data-field="status">Status</th>
                    <th data-field="operate" data-formatter="operateFormatter" data-align="center" data-valign="middle" data-events="operateEvents">Action</th>
                </tr>
            </thead>
        </table>    
    </div>
</div>
{% endblock %}
{% block css_def %}
{% endblock %}
{% block js_def %}
{% endblock %}
{% block js_exec %}
<script>
function operateFormatter(value, row, index) {
    return [
            '<a class="btn btn-default action-button-item view" href="javascript:void(0)" title="View"><i class="fa fa-folder"></i></a>',
            '<a class="btn btn-default action-button-item approve" href="javascript:void(0)" title="Approve"><i class="fa fa-check-square-o"></i></a>',
            '<a class="btn btn-default action-button-item disapprove" href="javascript:void(0)" title="Disapprove"><i class="fa fa-minus-square-o"></i></a>',
        ].join('');
}

window.operateEvents = {
    'click .view': function (e, value, row, index) {
        redirectTo("{{base_url}}/backoffice/safezone/view/"+row.id);
    },
    'click .approve': function (e, value, row, index) {
        BootstrapDialog.show({
            title: 'Confirm',
            message:"Are you sure you want to approve this item?",
            buttons:[{
                label:"Yes",
                action:function(dialog) {
                    dialog.close();
                    $.get("{{base_url}}/backoffice/safezone/approve/"+row.id,function(response) {
                        var data = JSON.parse(response);
                        if (data.response_code == 0) {
                            BootstrapDialog.show({
                                title: 'Success',
                                message:data.response_msg,
                                buttons:[{
                                    label:"Close",
                                    action:function(dialog) {
                                        dialog.close();
                                        $table.bootstrapTable('refresh');
                                    }
                                }]
                            });
                        } else {
                            BootstrapDialog.show({
                                title: 'Error',
                                type: BootstrapDialog.TYPE_WARNING,
                                message:data.response_msg,
                                buttons:[{
                                    label:"Close",
                                    action:function(dialog) {
                                        dialog.close();
                                    }
                                }]
                            });
                        }
                        return false;
                    });
                }
            },{
                label:"Cancel",
                action:function(dialog) {
                    dialog.close();
                }
            }]
        });
    },
    'click .disapprove': function (e, value, row, index) {
        BootstrapDialog.show({
            title: 'Confirm',
            message:"Are you sure you want to disapprove this item?",
            buttons:[{
                label:"Yes",
                action:function(dialog) {
                    dialog.close();
                    $.get("{{base_url}}/backoffice/safezone/disapprove/"+row.id,function(response) {
                        var data = JSON.parse(response);
                        if (data.response_code == 0) {
                            BootstrapDialog.show({
                                title: 'Success',
                                message:data.response_msg,
                                buttons:[{
                                    label:"Close",
                                    action:function(dialog) {
                                        dialog.close();
                                        $table.bootstrapTable('refresh');
                                    }
                                }] 
                            });
                        } else {
                            BootstrapDialog.show({
                                title: 'Error',
                                type: BootstrapDialog.TYPE_WARNING,
                                message:data.response_msg,
                                buttons:[{
                                    label:"Close",
                                    action:function(dialog) {
                                        dialog.close();
                                    }
                                }] 
                            });
                        }
                        return false;
                    });
                }
            },{
                label:"Cancel",
                action:function(dialog) {
                    dialog.close();
                }
            }]
        });
    }
};

function redirectTo(url) {
    window.location = url;
}

function postQueryParams(params) {
    return JSON.stringify(params);
}

var $table = $('#table');

$(function() {
    $table.on('load-success.bs.table',function(e,data) {
        $table.bootstrapTable('hideLoading');
    })
    .on('load-error.bs.table',function(e,status) {
        $table.bootstrapTable('hideLoading');
    });
});

$(document).ready(function() {
    $(".btn-add-employee").on('click',function() {
        redirectTo("{{base_url}}/backoffice/safezone/add");
    });

    $(".btn-bulk-upload").on('click',function() {
        redirectTo("{{base_url}}/backoffice/safezone/bulk");
    });

    $(".btn-export").on('click',function() {
        redirectTo("{{base_url}}/backoffice/safezone/export");
    });

    $(".btn-list-feeds").on('click',function() {
        redirectTo("{{base_url}}/backoffice/safezone");
    });
});
</script>
{% endblock %}