{% block content %}
<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">Safe Zone Information</h3>
    </div>
    <div class="panel-body">
        <form id="add_safezone" class="form-horizontal" method="post">
            <div class="form-group">
                <label for="safezone_id" class="control-label col-xs-2">Safe Zone ID</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control input-sm" id="safezone_id" name="safezone_name" placeholder="Safe Zone ID" maxlength="256" value="{{id}}" disabled>
                </div>
            </div>
            <div class="form-group">
                <label for="category" class="control-label col-xs-2">Category</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control input-sm" id="category" name="category_id" placeholder="Category" maxlength="24" value="{{category}}" disabled>
                </div>
            </div>
            <div class="form-group">
                <label for="safezone_name" class="control-label col-xs-2">Safe Zone name</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control input-sm" id="safezone_name" name="safezone_name" placeholder="Safe Zone Name" maxlength="256" value="{{safezone}}" disabled>
                </div>
            </div>
            <div class="form-group">
                <label for="street" class="control-label col-xs-2">Street address</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control input-sm" id="street" name="street" placeholder="Street address" maxlength="128" value="{{street}}" disabled>
                </div>
            </div>
            <div class="form-group">
                <label for="barangay" class="control-label col-xs-2">Barangay</label>
                <div class="col-xs-2">
                    <input type="text" class="form-control input-sm" id="barangay" name="barangay" placeholder="Barangay" maxlength="48" value="{{barangay}}" disabled>
                </div>
            </div>
            <div class="form-group">
                <label for="city" class="control-label col-xs-2">City</label>
                <div class="col-xs-2">
                    <input type="text" class="form-control input-sm" id="city" name="city" placeholder="City" maxlength="64" value="{{city}}" disabled>
                </div>
            </div>
            <div class="form-group">
                <label for="province" class="control-label col-xs-2">Province</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control input-sm" id="province" name="province" placeholder="Province" value="{{province}}" disabled>
                </div>
            </div>
            <div class="form-group">
                <label for="middle_initial" class="control-label col-xs-2">ZIP Code</label>
                <div class="col-xs-2">
                    <input type="text" class="form-control input-sm" id="zip_code" name="zip_code" placeholder="ZIP Code" maxlength="16" value="{{zip_code}}" disabled>
                </div>
            </div>
            <div class="form-group">
                <label for="supply" class="control-label col-xs-2">Availability of Supplies</label>
                <div class="col-xs-2">
                    <div class="checkbox">
                        {{supply_list}}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="information" class="control-label col-xs-2">Additional information</label>
                <div class="col-xs-4">
                    <textarea class="form-control input-sm" id="information" name="information" placeholder="Additional information" maxlength="512" disabled>{{information}}</textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="person_in_charge" class="control-label col-xs-2">Person in charge</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control input-sm" id="person_in_charge" name="person_in_charge" placeholder="Person in charge" maxlength="256" value="{{person_in_charge}}" disabled>
                </div>
            </div>
            <div class="form-group">
                <label for="contact_no" class="control-label col-xs-2">Contact number</label>
                <div class="col-xs-2">
                    <input type="number" class="form-control input-sm" id="contact_no" name="contact_no" placeholder="Contact Number" maxlength="16" value="{{contact_no}}" disabled>
                </div>
            </div>
        </form>
    </div>
</div>    
{% endblock %}
{% block css_def %}
{% endblock %}
{% block js_def %}
{% endblock %}
{% block js_exec %}
{% endblock %}