{% block content %}
<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">Edit Department</h3>
    </div>
    <div class="panel-body">
        <form id="department" class="form-horizontal" method="POST">
            <div class="form-group">
                <label for="department_name" class="control-label col-xs-2">Department Name</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control" id="department_name" placeholder="Department Name" name="department_name" value="{{department_name}}">
                </div>
            </div>
            <div class="form-group">
                <label for="description" class="control-label col-xs-2">Description</label>
                <div class="col-xs-4">
                    <textarea class="form-control" id="description" name="description">{{description}}</textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-offset-2 col-xs-4">
                    <div class="pull-right">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>    
</div>
{% endblock %}
{% block css_def %}
{% endblock %}
{% block js_def %}
{% endblock %}
{% block js_exec %}
<script type="text/javascript">
$(document).ready(function() {
    $("#department").validate({
        rules: {
            department_name: {
                required: true
            }
        }, errorPlacement: function(error,element) {
            element.addClass("has-error");
            error.insertAfter(element.parent());
        }, submitHandler:function(form) {
            $('button[type="submit"]').attr("disabled", "disabled");
            $.post("{{base_url}}/backoffice/department/edit/{{department_id}}",$(form).serialize(), function(response) {
                var data = JSON.parse(response);
                if (data.response_code == 0) {
                    BootstrapDialog.show({
                        title: 'Success',
                        message:data.response_msg,
                        buttons: [{
                            label: 'Close',
                            action: function(dialog) {
                                dialog.close();
                                window.location = "{{base_url}}/backoffice/department";
                            }                            
                        }]
                    });

                } else {
                    BootstrapDialog.show({
                        title: 'Error',
                        type: BootstrapDialog.TYPE_WARNING,
                        message:data.response_msg,
                        buttons: [{
                            label: 'Close',
                            action: function(dialog) {
                                $('button[type="submit"]').removeAttr("disabled");
                                dialog.close();
                            }                            
                        }]
                    });
                }
                return false;
            });
        }
    });
});  
</script>
{% endblock %}