{% block content %}
<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">Department List</h3>
    </div>
    <div class="panel-body">
        <div id="toolbar">
            <div class="form-inline">
                <div class="form-group">
                    <button type="button" class="btn btn-info btn-action btn-bulk-upload"><i class="fa fa-upload"></i> <span>Bulk Upload</span></button>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-info btn-action btn-export"><i class="fa fa-export"></i> <span>Export</span></button>
                </div>
                <!--<div class="form-group">-->
                    <!--<button type="button" class="btn btn-info btn-action btn-add"><i class="fa fa-plus"></i> <span>Add Department</span></button>-->
                <!--</div>-->
                <div class="form-group">
                    <div class="align-center">
                        <select class="form-control" id="company-filter">
                            <option value="0">All</option>
                            {{company_list}}
                        </select>
                    </div>                
                </div>
            </div>
        </div>
        <table id="table" 
            data-toggle="table"
            data-toolbar="#toolbar"
            data-url="{{base_url}}/backoffice/department/list/data"
            data-search="true"
            data-show-refresh="true"
            data-sort-name="id"
            data-page-list="[5, 10, 20]"
            data-page-size="5"
            data-method="post"
            data-pagination="true"
            data-side-pagination="server"
            data-striped="true"
            data-query-params="postQueryParams">
            <thead>
                <tr>
                    <th data-field="id">ID</th>
                    <th data-field="department_name">Name</th>
                    <th data-field="date_created">Date Created</th>
                    <th data-field="operate" data-formatter="operateFormatter" data-align="center" data-valign="middle" data-events="operateEvents">Action</th>
                </tr>
            </thead>
        </table>    
    </div>
</div>
{% endblock %}
{% block css_def %}
{% endblock %}
{% block js_def %}
{% endblock %}
{% block js_exec %}
<script type="text/javascript">
var company_id = 0;
function operateFormatter(value, row, index) {
    return [
            '<a class="btn btn-default action-button-item edit" href="javascript:void(0)" title="Edit"><i class="fa fa-edit"></i></a>',
            '<a class="btn btn-default action-button-item delete" href="javascript:void(0)" title="Delete"><i class="fa fa-trash"></i></a>'
        ].join('');
}

window.operateEvents = {
    'click .edit': function (e, value, row, index) {
        redirectTo("{{base_url}}/backoffice/department/edit/"+row.id);
    },
    'click .delete': function (e, value, row, index) {
         BootstrapDialog.show({
            title: 'Confirm',
            message:"Are you sure you want to delete this item?",
            buttons:[{
                label:"Yes",
                action:function(dialog) {
                    dialog.close();
                    $.get("{{base_url}}/backoffice/department/delete/"+row.id,function(response) {
                        var data = JSON.parse(response);
                        if (data.response_code == 0) {
                            BootstrapDialog.show({
                                title: 'Success',
                                type: BootstrapDialog.TYPE_PRIMARY,
                                message:data.response_msg,
                                buttons:[{
                                    label:"Close",
                                    action:function(dialog) {
                                        dialog.close();
                                        $table.bootstrapTable('refresh');
                                    }
                                }] 
                            });
                        } else {
                            BootstrapDialog.show({
                                title: 'Error',
                                type:BootstrapDialog.TYPE_WARNING,
                                message:data.response_msg,
                                buttons:[{
                                    label:"Close",
                                    action:function(dialog) {
                                        dialog.close();
                                    }
                                }] 
                            });
                        }
                        return false;
                    });
                }
            },{
                label:"Cancel",
                action:function(dialog) {
                    dialog.close();
                }
            }]
        });       
    }
};

function redirectTo(url) {
    window.location = url;
}

function postQueryParams(params) {
    params.company_id = company_id;
    return JSON.stringify(params);
}

var $table = $('#table');

$(function() {
    $table.on('load-success.bs.table',function(e,data) {
        $table.bootstrapTable('hideLoading');
    })
    .on('load-error.bs.table',function(e,status) {
        $table.bootstrapTable('hideLoading');
    });
});

$(document).ready(function() {
    $(".btn-add").on('click',function() {
        redirectTo("{{base_url}}/backoffice/department/add");
    });

    $(".btn-export").on('click',function() {
        var id = $("#company-filter").val();
        redirectTo("{{base_url}}/backoffice/department/export/" + id);
    });

    $(".btn-bulk-upload").on('click',function() {
        redirectTo("{{base_url}}/backoffice/department/bulk");
    });

     $("#company-filter").on('change',function() {
        company_id = $(this).val();
        $table.bootstrapTable('refresh');
    });   
});
</script>
{% endblock %}