{% block content %}
<!-- <div class="row">
    <div class="col-lg-3 col-sm-6 col-xs-6 col-xxs-12">
        <div class="status-box">
            <i class="fa fa-inbox status-box-color-red"></i>
            <div>
                <span class="status-box-label">Report-Ins</span>
                <span class="status-box-value">{{reportins}}</span>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-xs-6 col-xxs-12">
        <div class="status-box">
            <i class="fa fa-area-chart status-box-color-blue"></i>
            <div>
                <span class="status-box-label">Disasters</span>
                <span class="status-box-value">{{disaster}}</span>
            </div>
        </div>
    </div>
</div> -->
<div class="row">
    <div class="panel-body panel-body-default">
        <div class="col-md-3">
            <h4>Welcome {{active_user_name}}</h4>
            <ul class="list-group">
                <li class="list-group-item">
                    <span class="badge">{{disaster}}</span>
                    <span> <i class="fa fa-bullhorn icon-red"></i> Disasters</span>
                </li>
                <li class="list-group-item">
                    <span class="badge">{{reportins}}</span>
                    <span> <i class="fa fa-inbox icon-red"></i> Sign-Ins</span>
                </li>
                <li class="list-group-item">
                    <span class="badge">{{incidents}}</span>
                    <span> <i class="fa fa-bell icon-red"></i> Incidents</span>
                </li>                               
                <li class="list-group-item">
                    <span class="badge">{{num_users_online}}</span>
                    <span><i class="fa fa-inbox icon-red"></i> Online Users</span>
                </li>
            </ul>
        </div>
        <div class="col-md-9">
            <h6>Disaster/Incidents/Sign-Ins - {{month}}</h6>
            <div id="graph"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">Users Online</h3>
            </div>
            <div class="panel-body">
                <table class="table table-responsive table-striped">
                    <thead>
                    <tr>
                        <th class="col-xs-2 text-center">Last Updated</th>
                        <th class="col-xs-2 text-center">Login Date</th>
                        <th class="col-xs-1 text-center">Username</th>
                        <th class="col-xs-2 text-center">Last Seen</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{online_users}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-heading"><h3 class="panel-title">Recent Activity</h3></div>
            <div class="panel-body">
                <table class="table table-responsive table-striped">
                    <thead>
                    <tr>
                        <th class="col-xs-6 text-center">Description</th>
                        <th class="col-xs-2 text-center">User</th>
                        <th class="col-xs-4 text-center">Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{recent_activity}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>    
</div>
{% endblock %}
{% block css_def %}
{% endblock %}
{% block js_def %}
{% endblock %}
{% block js_exec %}
<script type="text/javascript">
 Morris.Area({
     element: 'graph',
     data: [{{disaster_per_week}}],
     gridEnabled: false,
     gridLineColor: 'transparent',
     behaveLikeLine: true,
     xkey: 'period',
     ykeys: ['disasters','incidents','reportins'],
     labels: ['Disasters','Incidents','Sign-Ins'],
     lineColors: ['#880000','#1b72bc','#045d97'],
     pointSize: 0,
     pointStrokeColors: ['#045d97'],
     lineWidth: 0,
     resize: true,
     hideHover: 'auto',
     fillOpacity: 0.7,
     parseTime: false 
}).on('click', function(i, row){
  console.log(i, row);
});   
</script>
{% endblock %}