{% block content %}
<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">Recorded Actions</h3>
    </div>
    <div class="panel-body">
        <table class="table table-responsive table-striped"
               id="table"
               data-toggle="table"
               data-toolbar="#toolbar"
               data-url="{{base_url}}/backoffice/trail/list"
               data-search="false"
               data-show-refresh="true"
               data-sort-name="id"
               data-page-list="[10, 20]"
               data-page-size="5"
               data-method="post"
               data-pagination="true"
               data-side-pagination="server"
               data-striped="true"
               data-query-params="postQueryParams">
            <thead>
            <tr>
                <th data-field="id" class="col-xs-1 text-center">ID</th>
                <th data-field="action" class="col-xs-1 text-center">Action</th>
                <th data-field="description" class="col-xs-5 text-center">Description</th>
                <th data-field="date_created" class="col-xs-2 text-center">Date</th>
                <th data-field="created_by" class="col-xs-2 text-center">User</th>
            </tr>
            </thead>
        </table>
    </div>
</div>
{% endblock %}
{% block css_def %}
{% endblock %}
{% block js_def %}
{% endblock %}
{% block js_exec %}
<script>

    function postQueryParams(params) {
        return JSON.stringify(params);
    }

    var $table = $('#table');

</script>
{% endblock %}