{% block content %}
<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">GCash Account Information</h3>
    </div>
    <div class="panel-body">
        <form id="gcash-donate" class="form-horizontal" method="post">
            <div class="form-group">
                <label for="gcash_account" class="control-label col-xs-2">Gcash Account</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control input-sm" id="gcash_account" name="gcash_account" placeholder="Set GCash" maxlength="256" value="{{gcash_account}}">
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-offset-2 col-xs-4">
                    <div class="pull-right">
                        <button type="submit" class="btn btn-primary btn-edit">Save</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block css_def %}
{% endblock %}
{% block js_def %}
{% endblock %}
{% block js_exec %}
<script>
    $(document).ready(function() {
        $("#gcash-donate").validate({
            rules: {
                mobile_no: {
                    required: true
                }
            }, errorPlacement: function(error, element){
                error.insertAfter(element.parent());
            }, submitHandler: function(form) {
                var spinner = new Spinner().spin($("body")[0]);
                var globe = false;
                var mobile_no = $("#gcash_account").val();

                $.post(
                        requestPath()+ "backoffice/gcash/check-prefix",JSON.stringify({
                            data : mobile_no
                        }),
                        function(data) {
                            if(data.trim() == "ok") {

                                $('button[type="submit"]').attr("disabled", "disabled");
                                $.post(
                                        requestPath()+"backoffice/gcashaccount/edit", $(form).serialize(), function(response){
                                            var data = JSON.parse(response);
                                            spinner.stop();

                                            if(data.response_code == 0) {
                                                showSuccessDialog("GCash account edited successfully.");
                                            } else {
                                                showWarningDialog("Failed to edit GCash account","#gcash-donate");
                                            }
                                            $('button[type="submit"]').removeAttr("disabled");
                                        })

                            } else {
                                spinner.stop();
                                showWarningDialog("Mobile number used should be Globe-issued. Please try again.", "#mobile_no");
                            }
                        }
                );
            }
        });
    });

    function showWarningDialog(msg, location) {
        BootstrapDialog.show({
            title: 'Error',
            type: BootstrapDialog.TYPE_WARNING,
            message:msg,
            buttons: [{
                label: 'Close',
                action: function(dialog) {
                    dialog.close();
                    $(location).focus();
                }
            }]
        });
    }

    function showSuccessDialog(msg) {
        BootstrapDialog.show({
            title: 'Success',
            message:msg,
            buttons: [{
                label: 'Close',
                action: function(dialog) {
                    dialog.close();
                    window.location = requestPath() + "backoffice/gcashaccount";
                }
            }]
        });
    }
</script>
{% endblock %}