{% block content %}
<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">GCash Account Information</h3>
    </div>
    <div class="panel-body">
        <form id="gcash" class="form-horizontal" method="post">
            <div class="form-group">
                <label for="gcash_account" class="control-label col-xs-2">Gcash Account</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control input-sm" id="gcash_account" name="gcash_account" placeholder="Set GCash" maxlength="256" value="{{gcash_account}}" disabled>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-offset-2 col-xs-4">
                    <div class="pull-right">
                        <a class="btn btn-action btn-primary btn-edit">Edit</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block css_def %}
{% endblock %}
{% block js_def %}
{% endblock %}
{% block js_exec %}
<script>
    $(document).ready(function() {
        $(".btn-edit").on('click', function () {
            redirectTo(requestPath()+"backoffice/gcashaccount/edit");
        });
    });

    function requestPath() {
        split_path = window.location.pathname.split('/');
        if($.trim(split_path[1]) == 'index.php') {
            return window.location.origin+'/';
        } else {
            return window.location.origin+'/'+split_path[1]+'/';
        }
    }

    function redirectTo(url) {
        window.location = url;
    }
</script>
{% endblock %}