{% block content %}
<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">GCash Donation List</h3>
    </div>
    <div class="panel-body">
        <div id="toolbar">
            <div class="form-inline">
                <div class="form-group">
                    <a type="button" class="btn btn-info btn-action btn-export"><i class="fa fa-list"></i> <span>Export</span></a>
                </div>
            </div>
        </div>

        <table id="table"
                data-toggle="table"
                data-toolbar="#toolbar"
                data-url="{{base_url}}/backoffice/donate/list/data"
                data-show-refresh="true"
                data-sort-name="id"
                data-page-list="[5, 10, 20]"
                data-page-size="5"
                data-method="post"
                data-pagination="true"
                data-side-pagination="server"
                data-striped="true"
                data-query-params="postQueryParams">
            <thead>
                <tr>
                    <th data-field="id">ID</th>
                    <th data-field="company_name">Company</th>
                    <th data-field="employee_name">Employee</th>
                    <th data-field="donate">Donation</th>
                    <th data-field="date_donated">Date Donated</th>
                </tr>
            </thead>
        </table>

    </div>
</div>
{% endblock %}
{% block css_def %}
{% endblock %}
{% block js_def %}
<script src="{{base_url}}/assets/js/donate/donate-list.js"></script>
{% endblock %}
{% block js_exec %}
<script>
    $(document).ready(function() {
        $(".btn-export").on("click", function() {
            redirectTo(requestPath()+"backoffice/donate/export");
        });
    });
</script>
{% endblock %}